<table class="table table-bordered table-striped table-condensed">
  <tbody>
    <tr>
      <td class="cbas">

        <div id="id_areas_burnt" class="row formset area-burnt-formset">
            <table class="table_fs" border="0">
                <tbody>
                    <th>Tenure</th>
                    <th>Fuel Type</th>
                    <th>Area (ha)</th>
                    <th>Point of Origin</th>
                    <th></th>
                    {% for form in area_burnt_formset.forms %}
                    <tr>
                    <td>{{ form.tenure }}</td>
                    <td>{{ form.fuel_type }}</td>
                    <td>{{ form.area }}</td>
                    <td>{{ form.origin }}</td>

                    <td>
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                            {{ form.id }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ area_burnt_formset.management_form }}
        </div>

      </td>
    </tr>

  </tbody>
</table>

<script>
    $('.area-burnt-formset tbody tr').formset({
        prefix: '{{ area_burnt_formset.prefix }}',
        formCssClass: 'area_burnt_fs',
        addText: '<i class="icon-plus"></i> add another area burnt',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ area_burnt_formset.prefix  }}',
    });

</script>



