{% extends "admin/base_site.html" %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block content %}

<div>
    <div style="float: left;">
        <h1>Bushfire Overview</h1>
    </div>
    <br>

</div>

<br>
<br>

<div class="dropdown btn btn-medium" style="float: right">
  <button id="dropdown_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <a href="#">Reports</a>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdown_btn">
    <li><a href="javascript: bushfire_filter('export_to_excel=True');">Export Excel</a></li>
    <li><a href="javascript: bushfire_filter('export_excel_outstanding_fires=True');">Export Outstanding Fires</a></li>
    <li><a href="javascript: bushfire_filter('export_excel_ministerial_report=True');">Export Ministerial Report</a></li>
    <li><a href="javascript: bushfire_filter('pdf_ministerial_report=True');">PDF Ministerial Report</a></li>
  </ul>
</div>

{% include "bfrs/bushfire_filter.html" %}

{% if object_list %}
<table id="table" class="tablesorter table table-striped table-bordered table-hover table-condensed" style="cursor:pointer;">
  <thead>
	  <th style="width:10%"><font color="dodgerblue">Fire Number <i class="icon-sort"></i></font></th>
	  <th style="width:5%"><font color="dodgerblue">DFES <i class="icon-sort"></i></font></th>
	  <th style="width:15%"><font color="dodgerblue">Name <i class="icon-sort"></i></font></th>
	  <th style="width:5%"><font color="dodgerblue">Job Code <i class="icon-sort"></i></font></th>
	  <th style="width:10%"><font color="dodgerblue">Notifications <i class="icon-sort"></font></i></th>
	  <th style="width:10%"><font color="dodgerblue">Report <i class="icon-sort"></i></font></th>
	  {% if can_maintain_data %}<th style="width:10%"><font color="dodgerblue">Admin <i class="icon-sort"></i></font></th>{% endif %}
  </thead>
  <tbody>
    {% for bushfire in object_list %}
      <tr class="row-vm" data-toggle="myCollapse" data-target="#{{bushfire.id}}">
        
		<td><a href="#" onclick='openGokart({"action": "select", "region":{{bushfire.region.id}},"district":{{bushfire.district.id}},"bushfireid":"{{bushfire.fire_number}}" });' title="Open report in SSS">{{ bushfire.fire_number }}</a></td>
		<td>{% if bushfire.dfes_incident_no %}{{ bushfire.dfes_incident_no }}{% else %}  {% endif %}</td>
        <td>{{ bushfire.name }}</td>
		<td>{% if bushfire.job_code %}{{ bushfire.job_code }}{% else %}  {% endif %}</td>
		<td align="center">
            {% if bushfire.report_status == bushfire.STATUS_INITIAL %}
			<a href="{% url 'bushfire:bushfire_initial' bushfire.id %}" title="Edit initial fire report"><font color="red"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-edit icon-white"></i></font></a>
            {% elif bushfire.report_status == bushfire.STATUS_INVALIDATED %}
			<a href="{% url 'bushfire:bushfire_initial' bushfire.id %}" title="View the invalidated initial fire report"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-ban-circle icon-white"></i></a>
		    {% else %}
			<a href="{% url 'bushfire:initial_snapshot' bushfire.id %}" title="Notifications fire report submitted on {{bushfire.init_authorised_date|date:'Y-m-d H:i'}} by {{bushfire.init_authorised_by}}"><span style="display:none">{{bushfire.report_status}}</span><font color="green"><i class="icon-ok icon-white"></i></font></a>
		    {% endif %}
		</td>

		<td align="center">
            {% if bushfire.report_status == bushfire.STATUS_INITIAL_AUTHORISED %}
			<a href="{% url 'bushfire:bushfire_final' bushfire.id %}" title="Edit final fire report"><span style="display:none">{{bushfire.report_status}}</span><font color="red"><i class="icon-edit icon-white"></i></red></a>
            {% elif bushfire.report_status >= bushfire.STATUS_FINAL_AUTHORISED and bushfire.report_status != bushfire.STATUS_INVALIDATED%}
			<a href="{% url 'bushfire:final_snapshot' bushfire.id %}" title="Final fire report authorised on {{bushfire.authorised_date}} by {{bushfire.authorised_by}}"><span style="display:none">{{bushfire.report_status}}</span><font color="green"><i class="icon-ok icon-white"></i></font></a>
		    {% endif %}
		</td>

        {% if can_maintain_data %}
         <td>
           {% if bushfire.report_status >= bushfire.STATUS_FINAL_AUTHORISED %}
             {% if bushfire.is_reviewed %}
			   <a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&confirm_action=delete_review');" title="Delete review"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-trash icon-white"></i></a>
             {% else %}
			   <a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&confirm_action=delete_final_authorisation');" title="Delete authorisation"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-trash icon-white"></i></a>
             {% endif %}

             {% if not bushfire.archive %}
			   <a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&confirm_action=archive');" title="Archive Report"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-folder-close"></i></a>
             {% else %}
		       <a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&confirm_action=unarchive');" title="Unarchive Report"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-folder-open"></i></a>
             {% endif %}
           {% endif %}

           {% if bushfire.is_reviewed %}
			 <a href="#" title="Final fire report reviewed on {{bushfire.reviewed_date}} by {{bushfire.reviewed_by}}"><span style="display:none">{{bushfire.report_status}}</span><div style="float:right;"><font color="green"><i class="icon-ok icon-white"></i></font></div></a>
           {% elif bushfire.can_review %}
		       <a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&confirm_action=mark_reviewed');" title="Mark Report as Reviewed"><span style="display:none">{{bushfire.report_status}}</span><i class="icon-thumbs-up"></i></a>
           {% endif %}

		 </td>
         {% endif %}

      </tr>

      <tr class="myCollapse row-details expand-child" id="{{bushfire.id}}">
        <td colspan="9">
          <table class="table table-bordered table-striped table-condensed">
            <tbody>
              <tr>
                <th>Region</th>
                <td>{{ bushfire.region.name }}</td>
                <th colspan="1">District</th>
                <td>{{ bushfire.district.name }}</td>
              </tr>
              <tr>
                <th colspan="1">Creator</th>
                <td>{{ bushfire.creator }}</td>
                <th colspan="1">Created</th>
                <td>{{ bushfire.created|date:'Y-m-d H:i' }}</td>
              </tr>
              <tr>
                <th colspan="1">Field Officer</th>
                <td>{{ bushfire.field_officer }}</td>
                <th colspan="1">Duty Officer</th>
                <td>{{ bushfire.duty_officer }}</td>
              </tr>
              <tr>
                <th colspan="1">No. of Archived Snapshots</th>
		        <td colspan="3"><a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&action=snapshot_history');" title="Snapshot history details">{{ bushfire.snapshot_list.count }}</a></td>
              </tr>
			  <tr>
                <th>Linked bushfires</th>
				<td colspan="3" >
                  {% if bushfire.bushfire_invalidated.all or bushfire.valid_bushfire %}
                  <table class="table table-bordered table-condensed">
			        <thead>
                      <th>Fire Number</th>
                      <th>Date</th>
                      <th>User</th>
                      <th>Status</th>
                      <th>Details</th>
                    </thead>
                    <tbody>
                    {% if bushfire.bushfire_invalidated.all %}
                      {% for linked_obj in bushfire.bushfire_invalidated.all|dictsortreversed:"modified" %}
                      <tr>
				        <td><a href="{% url 'bushfire:bushfire_initial' linked_obj.id %}">{{linked_obj.fire_number}}</a></td>
				        <td>{{linked_obj.modified|date:'Y-m-d H:i'}}</td>
				        <td>{{linked_obj.modifier}}</td>
				        <td>{{linked_obj.get_report_status_display}}</td>
				        <td>{{linked_obj.invalid_details}}</td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
				        <td><a href="{% url 'bushfire:bushfire_initial' bushfire.valid_bushfire.id %}">{{bushfire.valid_bushfire.fire_number}}</a></td>
				        <td>{{bushfire.valid_bushfire.modified|date:'Y-m-d H:i'}}</td>
				        <td>{{bushfire.valid_bushfire.modifier}}</td>
				        <td>{{bushfire.valid_bushfire.get_report_status_display}}</td>
				        <td>{{bushfire.valid_bushfire.invalid_details}}</td>
                      </tr>
                    {% endif %}

                    </tbody>
                  </table>
                  {% else %}
				    No linked records
                  {% endif %}
				</td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>

    {% endfor %}
  </tbody>
</table>

{% else %}
    <p>No Bushfires are available.</p>
{% endif %}

<!-- js bushfire_filter() function used below to allow pagination to work with the filters (filter params are combined in the fucntions)-->
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <!-- <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li> -->
      <li><a href="javascript: bushfire_filter('page={{ page_obj.previous_page_number }}');">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <!-- <li><a href="?page={{ i }}">{{ i }}</a></li> -->
        <li><a href="javascript: bushfire_filter('page={{ i }}');">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <!-- <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li> -->
      <li><a href="javascript: bushfire_filter('page={{ page_obj.next_page_number }}');">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<script>

    $("#table").tablesorter();

    $("[data-toggle=myCollapse]").click(function( ev ) {
      ev.preventDefault();
      var target;
      if (this.hasAttribute('data-target')) {
    target = $(this.getAttribute('data-target'));
      } else {
    target = $(this.getAttribute('href'));
      };
      target.toggleClass("in");
    });

    $("#table td a").on('click', function (e) { e.stopPropagation(); })

/* Filter Args Section - This appends the required filter args to the GET URL */
$(function(){

    bushfire_filter = function(params) {
        /*
        Function to append filter fields to the URL, only those that are selected. Default <form action="#"> adds all fields to the url, even if empty
        */

        profile_field_list = ['region', 'district'];
        filter_list = [
			'region', 'district', 'year', 'reporting_year', 'report_status', 'page',
		];

        var count = 0;
        var url = "{% url 'main' %}";
        for (var i = 0; i < filter_list.length; i++) {
          var field_value = $("#id_" + filter_list[i]).val();
          if (field_value) {
            //alert("VAL: " + field_value);
            var postfix = (count==0 ? "?" : "&");
            url += postfix + filter_list[i] + "=" + $("#id_" + filter_list[i]).val();
            count++;
		  /* Check if string filter_list[i] exists in profile_field_list. This will add the field without a value, allowing Bushfire View to deal an 'All' selection (to distinguish from profile) */
		  } else if (new RegExp(profile_field_list.join('|')).test(filter_list[i])) {
            var postfix = (count==0 ? "?" : "&");
            url += postfix + filter_list[i] + "=";
            count++;
		  }
        }

		if($('#id_include_archived').is(':checked')) {
            var postfix = (count==0 ? "?" : "&");
			url += postfix + 'include_archived=True'
		}

		if($('#id_exclude_missing_final_fire_boundary').is(':checked')) {
            var postfix = (count==0 ? "?" : "&");
			url += postfix + 'exclude_missing_final_fire_boundary=True'
		}

		/* Append the additional parameters such as "export_to_csv=final&stuff=ABC" */
		if (params) {
            var postfix = (count==0 ? "?" : "&");
			url += postfix + params
		}
        //alert("URL: " + url);

        location.href = url
    };

});
/* END Filter Args Section */

</script>
{% endblock %}
