{% extends "admin/base_site.html" %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block content %}

<div>
    <div style="float: left;">
        <h1>Bushfire Overview</h1>
    </div>
    <br>

{% comment %}
    <div style="float: right;">
      {% if request.user|can_readonly and not request.user.is_superuser %}
        <a href="{% url 'bushfire:bushfire_create' %}"><button disabled style="color:Grey;" title="You do not have 'Create' permissions"><i class="icon-plus icon-white"></i> Add Bushfire</button></a>
      {% else %}
        <a href="{% url 'bushfire:bushfire_create' %}"><button><i class="icon-plus icon-white"></i> Add Bushfire</button></a>
      {% endif %}
    </div>
{% endcomment %}
</div>

<br>
{% comment %}
<p>perms: {{perms}}</p>
<p>perms.app_label: {{perms.app_label}}</p>
<p>perms.bfrs.view_bushfire: {{perms.bfrs.view_bushfire}}</p>
<p>user: {{user}}</p>
<p>user.groups 1: {{user.groups.all}}</p>
<p>user.groups 2: {% if request.user|can_readonly %} True jm 2 {% endif %}</p>
{% endcomment %}

<br>

<div class="dropdown btn btn-medium" style="float: right">
  <button id="dropdown_btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <a href="#">Create Report</a>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" aria-labelledby="dropdown_btn">
    <li><a href="javascript: bushfire_filter('export_to_csv=final');">Export CSV (Final)</a></li>
  </ul>
</div>

{% include "bfrs/bushfire_filter.html" %}

{% if object_list %}
<table id="table" class="tablesorter table table-striped table-bordered table-hover table-condensed">
  <thead>
    <td><input type="checkbox" name ="check_all" onClick=toggle(this) /></td>
    <th>Report Status</th>
    <th>Fire Level</th>
    <th>Fire Not Found</th>
    <th>Media Alert</th>
    <th>Assistance</th>
    <th>Alert Level</th>
    <th>Initial</th>
    <th>Final</th>

  </thead>
  <tbody>
    {% for bushfire in object_list %}
      {% has_init_authorised bushfire.id as init_authorised %}
      <tr class="row-vm" data-toggle="myCollapse" data-target="#{{bushfire.id}}">
        <td><input type="checkbox" name="chkbox" value={{ bushfire.id }}  /></td>
        <td>{{ bushfire.get_report_status_display }}</td>
        <td>{{ bushfire.potential_fire_level }}</td>
        <td>{% if bushfire.fire_not_found %}<div class="text-left"><i class="icon-ok text-success"></i></div>{% else %}<div class="text-left"><i class="icon-remove text-danger"></i></div>{% endif %}</td>
        <td>{% if bushfire.media_alert_req %}<div class="text-left"><i class="icon-ok text-success"></i></div>{% else %}<div class="text-left"><i class="icon-remove text-danger"></i></div>{% endif %}</td>
        <td>{% if bushfire.assistance_req %}<div class="text-left"><i class="icon-ok text-success"></i></div>{% else %}<div class="text-left"><i class="icon-remove text-danger"></i></div>{% endif %}</td>
        <td>{{ bushfire.get_alert_level_display }}</td>
        <td><a href="{% url 'bushfire:bushfire_initial' bushfire.id %}">{{ bushfire.name }}</td>

         {% if init_authorised %}
            <td><a href="{% url 'bushfire:bushfire_final' bushfire.id %}">{{ bushfire.name }}</td>
         {% else %}
            <td title="The initial report has not yet been authorised">{{ bushfire.name }}</td>
         {% endif %}

        {% comment %}
            <td>{% if init_authorised %} <a href="{% url 'bushfire:bushfire_final' bushfire.id %}">{{ bushfire.name }} {% else %} {{bushfire.name}} {% endif %}</td>
        <td><a href="{% url 'bushfire:bushfire' bushfire.id %}">{{ bushfire.name }}</td>
        {% endcomment %}
      </tr>

      <tr class="myCollapse row-details expand-child" id="{{bushfire.id}}">
        <td colspan="9">
          <table class="table table-bordered table-striped table-condensed">
            <tbody>
              <tr>
                <th>Fire Number</th>
                <td>{{ bushfire.incident_no }}</td>
                <th colspan="1">Year</th>
                <td>{{ bushfire.year }}</td>
              </tr>
              <tr>
                <th>Region</th>
                <td>{{ bushfire.region.name }}</td>
                <th colspan="1">District</th>
                <td>{{ bushfire.district.name }}</td>
              </tr>
              <tr>
                <th>Bushfire name</th>
                <td colspan="3" >{{ bushfire.name }}</td>
              </tr>
              <tr>
                <th colspan="1">Field Officer</th>
                <td>{{ bushfire.field_officer }}</td>
                <th colspan="1">Duty Officer</th>
                <td>{{ bushfire.duty_officer }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

    {% endfor %}
  </tbody>
</table>

{% else %}
    <p>No Bushfires are available.</p>
{% endif %}

<script>

    $("[data-toggle=myCollapse]").click(function( ev ) {
      ev.preventDefault();
      var target;
      if (this.hasAttribute('data-target')) {
    target = $(this.getAttribute('data-target'));
      } else {
    target = $(this.getAttribute('href'));
      };
      target.toggleClass("in");
    });

    $("#table td a").on('click', function (e) { e.stopPropagation(); })

$(function(){

    bushfire_filter = function(params) {
        /*
        Function to append filter fields to the URL, only those that are selected. Default <form action="#"> adds all fields to the url, even if empty
        */

        profile_field_list = ['region', 'district']
        filter_list = [
			'region', 'district', 'year', 'report_status', 'potential_fire_level'
		];

        var count = 0;
        var url = "{% url 'main' %}";
        for (var i = 0; i < filter_list.length; i++) {
          var field_value = $("#id_" + filter_list[i]).val()
          if (field_value) {
            //alert("VAL: " + field_value);
            var postfix = (count==0 ? "?" : "&");
            url += postfix + filter_list[i] + "=" + $("#id_" + filter_list[i]).val();
            count++;
		  /* Check if string filter_list[i] exists in profile_field_list. This will add the field without a value, allowing Bushfire View to deal an 'All' selection (to distinguish from profile) */
		  } else if (new RegExp(profile_field_list.join('|')).test(filter_list[i])) {
            var postfix = (count==0 ? "?" : "&");
            url += postfix + filter_list[i] + "=";
            count++;
		  }
        }

		/* Append the additional parameters such as "export_to_csv=final&stuff=ABC" */
		if (params) {
            var postfix = (count==0 ? "?" : "&");
			url += postfix + params
		}
        //alert("URL: " + url);

        location.href = url
    };

});


/*
    $("#id_region").click(function() {
        $.ajax({
            type:"GET",
            url:"{% url 'bushfire:bushfire_create' %}",
            data: {
                "region": $("#id_region").val(),
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
            success: function(response){
                var response = JSON.parse(response);
                console.log("response " + response);
            }

        });
    });
*/

</script>
{% endblock %}
