{% extends "admin/base_site.html" %}
{% load static from static %}
{% load bfrs_tags %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">Bushfire Overview</a></li>
  <li><a href="{{bushfireurl}}">{% if bushfire.report_status == bushfire.STATUS_INVALIDATED %} 
        <font color="red">{{ bushfire.fire_number}} (Invalid)</font>
      {% elif bushfire.report_status == bushfire.STATUS_MERGED %} 
        <font color="red">{{ bushfire.fire_number}} (Merged)</font>
      {% elif bushfire.report_status == bushfire.STATUS_DUPLICATED %} 
        <font color="red">{{ bushfire.fire_number}} (Duplicated)</font>
      {% else %}
        {{ bushfire.fire_number }}
      {% endif %}
  </a></li>
  <li><a href="{% url 'bushfire:bushfire_document_list' bushfireid=bushfire.id %}">Documents</a></li>
  <li>Add document</li>
</ul>
{% endblock %}

{% block content %}
<table style="width:100%">
<tr>
    <td style="padding-left:0px">
      <h1 style="float:left">Upload Bushfire Document</h1>
    </td>
</tr>
</table>

{% if form.errors %}
    <h1 class="errornote">
      <p>Form Errors</p>
      <button type="button" class="close" data-dismiss="alert">×</button>
      <ul>
      {% for field in form %} 
          {% if field.errors %}
          <li>{{ field.label }}: {{ field.errors|striptags }}</li>
          {{ field.meta  }}
          {% endif %}
      {% endfor %}

      {% if form.non_field_errors %}
          <li>{{ form.non_field_errors  }}</li>
      {% endif %}
      </ul>
    </h1>
{% endif %}


<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="table table-bordered table-striped table-condensed">
<tr>
    <th class="cbas" >Category*</th>
    <td class="cbas" >{{form.category}}</td>
</tr>
<tr>
    <th class="cbas" >Descriptor*</th>
    <td class="cbas" >{{form.tag}}</td>
</tr>
<tr>
    <th class="cbas" >Document*</th>
    <td class="cbas" >{{form.document}}</td>
</tr>
<tr>
    <th class="cbas" >Document created</th>
    <td class="cbas" >{{form.document_created}}</td>
</tr>
</table>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
        <p class="pull-right">
            <button type="submit" class="btn btn-primary btn-success"  name="action" value="create"/>Upload </button>
            <button type="button" class="btn btn-primary btn-danger"  onclick="window.location='{% url "bushfire:bushfire_document_list"  bushfireid=bushfire.id %}'">Cancel </button>
      </p>
    </div>
  </div>
</div>
</form>
{% endblock %}
