<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel-primary">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filter" aria-expanded="true" aria-controls="filter"><button><i class="icon-filter icon-white"></i> Filter tools</button></a>
    <div id="filter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_filter">
      <div class="panel-body">

          {% comment %}
          <table>
            <body>
                <div class="cbas" >
                    <div id="div_id_filter" class="form-group"> 
                        <form action="" method="get">
                            {{ filter.form.as_p }}
                            <input type="submit" value="Update" />
                        </form>
                    </div>
                </div>
            </body>
          </table>
          {% endcomment %}

        <form action="" method="get">
        <table class="table table-bordered table-striped table-condensed">
          <body>

            <tr>
              <td class="cbas">

                <div class="col-sm-2" >
                  <div id="div_id_region" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.region.id_for_label  }}">Region</label>
                    <div class="controls ">{{ form.region }}</div>
                  </div>
                </div>

                <div class="col-sm-2" >
                  <div id="div_id_district" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.district.id_for_label  }}">District</label>
                    <div class="controls ">{{ form.district }}</div>
                  </div>
                </div>

                <div class="col-sm-2" >
                  <div id="div_id_authorised_date" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.authorised_date.id_for_label  }}">Authorised Date</label>
                    <div class="controls ">{{ filter.form.authorised_date }}</div>
                  </div>
                </div>

                <div class="col-sm-4" >
                  <div id="div_id_activities" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.activities__activity_id.id_for_label  }}">Activities</label>
                    <div class="controls ">{{ filter.form.activities__activity_id }}</div>
                  </div>
                </div>

              </td>
            </tr>


            <tr>
              <td class="cbas">
                <div class="col-sm-2" > 
                  <div id="div_id_report_status" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.report_status.id_for_label  }}">Report Status</label>
                    <div class="controls ">{{ filter.form.report_status }}</div>
                  </div>
                </div>

                <div class="col-sm-2" > 
                  <div id="div_id_potential_fire_level" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.potential_fire_level.id_for_label  }}">Fire Level</label>
                    <div class="controls ">{{ filter.form.potential_fire_level }}</div>
                  </div>
                </div>

                <div class="col-sm-2" > 
                  <div id="div_id_fire_not_found" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.fire_not_found.id_for_label  }}">Fire Not Found</label>
                    <div class="controls ">{{ filter.form.fire_not_found }}</div>
                  </div>
                </div>

                <div class="col-sm-2" > 
                  <div id="div_id_media_alert_req" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.media_alert_req.id_for_label  }}">Media Alert Required</label>
                    <div class="controls ">{{ filter.form.media_alert_req }}</div>
                  </div>
                </div>

                <div class="col-sm-2" >
                  <div id="div_id_assistance_req" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.assistance_req.id_for_label  }}">Assistance Required</label>
                    <div class="controls ">{{ filter.form.assistance_req }}</div>
                  </div>
                </div>

                <div class="col-sm-2" >
                  <div id="div_id_alert_level" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.alert_level.id_for_label  }}">Alert Level</label>
                    <div class="controls ">{{ filter.form.alert_level }}</div>
                  </div>
                </div>

              </td>
            </tr>

          </body>
        </table>
        <input type="submit" value="Update" />

      </div>
    </div>
  </div>

</div>


