{% extends "admin/base_site.html" %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">Bushfire Overview</a></li>
  <li><a href="{{bushfireurl}}">{% if bushfire.report_status == bushfire.STATUS_INVALIDATED %} 
        <font color="red">{{ bushfire.fire_number}} (Invalid)</font>
      {% elif bushfire.report_status == bushfire.STATUS_MERGED %} 
        <font color="red">{{ bushfire.fire_number}} (Merged)</font>
      {% elif bushfire.report_status == bushfire.STATUS_DUPLICATED %} 
        <font color="red">{{ bushfire.fire_number}} (Duplicated)</font>
      {% else %}
        {{ bushfire.fire_number }}
      {% endif %}
  </a></li>
  <li><a href="{% url 'bushfire:bushfire_document_list' bushfireid=bushfire.id %}">Documents</a></li>
  <li>{{object.file_name}}</li>
  <li>
  {% if form.editable %}
    Edit
  {% else %}
    Detail
  {% endif %}
  </li>
</ul>
{% endblock %}

{% block content %}
<table style="width:100%">
<tr>
    <td style="padding-left:0px">
      <h1 style="float:left">Delete Bushfire Document</h1>
    </td>
</tr>
</table>

{% if form.errors %}
    <h1 class="errornote">
      <p>Form Errors</p>
      <button type="button" class="close" data-dismiss="alert">×</button>
      <ul>
      {% for field in form %} 
          {% if field.errors %}
          <li>{{ field.label }}: {{ field.errors|striptags }}</li>
          {{ field.meta  }}
          {% endif %}
      {% endfor %}

      {% if form.non_field_errors %}
          <li>{{ form.non_field_errors  }}</li>
      {% endif %}
      </ul>
    </h1>
{% endif %}


<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<table class="table table-bordered table-striped table-condensed">
<tr>
    <th class="cbas" >Title</th>
    <td class="cbas" >{{form.title}}</td>
</tr>
<tr>
    <th class="cbas" >Document</th>
    <td class="cbas" >{{form.document_link}}</td>
</tr>
<tr>
    <th class="cbas" >Uploaded by</th>
    <td class="cbas" >{{form.creator}}</td>
</tr>
<tr>
    <th class="cbas" >Uploaded on</th>
    <td class="cbas" >{{form.created}}</td>
</tr>
</table>
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
        <p class="pull-right">
            {% for submit_action in submit_actions %}
                <button type="submit" class="btn btn-primary {{submit_action.2}}"  name="action" value="{{submit_action.0}}"/>{{submit_action.1}} </button>
            {% endfor %}
            {% for link_action in link_actions %}
                <button type="button" class="btn btn-primary {{link_action.2}}"  onclick="window.location='{{link_action.0}}'">{{link_action.1}} </button>
            {% endfor %}
      </p>
    </div>
  </div>
</div>
</form>
{% endblock %}
