{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static "twitter-bootstrap/3.3.7/css/bootstrap.min.css" %}">
{% endblock %}

{% block content %}


<div>
    <div style="float: left;">
        <h1>Bushfire</h1>
    </div>
    <br>
    <div style="float: right;">
        <a href="{% url 'bushfire:bushfire_create' %}"><button><i class="icon-plus icon-white"></i> Add Bushfire</button></a>
    </div>
</div>

{% if object_list %}
<table id="table" class="tablesorter table table-striped table-bordered table-hover table-condensed">
  <thead>
    <td><input type="checkbox" name ="check_all" onClick=toggle(this) /></td>
    <th>Bushfire ID</th>
    <th>Initial</th>
    <th>Final</th>

  </thead>
  <tbody>
    {% for bushfire in object_list %}
      {% has_init_authorised bushfire.id as init_authorised %}
      <tr>
        <td><input type="checkbox" name="chkbox" value={{ bushfire.id }}  /></td>
        <td>{{ bushfire.id }}</td>
        <td><a href="{% url 'bushfire:bushfire_initial' bushfire.id %}">{{ bushfire.name }}</td>

         {% if init_authorised %}
            <td><a href="{% url 'bushfire:bushfire_final' bushfire.id %}">{{ bushfire.name }}</td>
         {% else %}
            <td title="The initial report has not yet been authorised">{{ bushfire.name }}</td>
         {% endif %}

        {% comment %}
            <td>{% if init_authorised %} <a href="{% url 'bushfire:bushfire_final' bushfire.id %}">{{ bushfire.name }} {% else %} {{bushfire.name}} {% endif %}</td>
        <td><a href="{% url 'bushfire:bushfire' bushfire.id %}">{{ bushfire.name }}</td>
        {% endcomment %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
    <p>No Bushfires are available.</p>
{% endif %}

{% endblock %}
