<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel-primary">
    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#filter" aria-expanded="true" aria-controls="filter"><button><i class="icon-filter icon-white"></i> Filter tools</button></a>
    <div id="filter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_filter">
      <div class="panel-body">

          {% comment %}
          <table>
            <body>
                <div class="cbas" >
                    <div id="div_id_filter" class="form-group"> 
                        <!--<form action="" method="get">-->
                        <form class="filter-form">
                            {{ filter.form.as_p }}
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </body>
          </table>
          {% endcomment %}

        <!--<form action="" method="get">-->
        <table class="table table-bordered table-striped table-condensed">
          <body>

            <tr>
              <td class="cbas">

				{% comment %} ANY FILTER ADDED HERE, MUST ALSO BE ADDED IN THE FILTER LIST in BUSHFIRE.HTML JS (JS Function bushfire_filter){% endcomment %}

                <div class="col-sm-2" >
                  <div id="div_id_region" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.region.id_for_label  }}">Region</label>
                    <div class="controls ">{{ form.region }}</div>
                  </div>
                </div>

                <div class="col-sm-2" >
                  <div id="div_id_district" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.district.id_for_label  }}">District</label>
                    <div class="controls ">{{ form.district }}</div>
                  </div>
                </div>

                <div class="col-sm-2" >
                  <div id="div_id_year" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.year.id_for_label  }}">Year</label>
                    <div class="controls ">{{ filter.form.year }}</div>
                  </div>
                </div>

                <div class="col-sm-2" > 
                  <div id="div_id_report_status" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.report_status.id_for_label  }}">Report Status</label>
                    <div class="controls ">{{ filter.form.report_status }}</div>
                  </div>
                </div>

				{% comment %}
                <div class="col-sm-2" > 
                  <div id="div_id_cause" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.cause.id_for_label  }}">Cause</label>
                    <div class="controls ">{{ filter.form.cause }}</div>
                  </div>
                </div>

                <div class="col-sm-2" > 
                  <div id="div_id_potential_fire_level" class="form-group"> 
                    <label class="nowrap" for="{{ filter.form.potential_fire_level.id_for_label  }}">Probable Fire Level</label>
                    <div class="controls ">{{ filter.form.potential_fire_level }}</div>
                  </div>
                </div>
				{% endcomment %}

              </td>
            </tr>

          </body>
        </table>
        <!--</form>-->
        <!--<input type="submit" value="Update" />-->
        <a href="javascript: bushfire_filter();"><button><i class="icon-refresh icon-white"></i> Update</button></a>

      </div>
    </div>
  </div>

</div>

<script>

</script>
