<div id="id_legal" class="row formset legal-formset">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <th>Community Protection (%)</th>
            <th>Est. Cost of Damages ($)</th>
            <th>Restricted Period</th>
            <th>Prohibited Period</th>
            <th>Investigation Undertaken</th>
            <th>Legal Result</th>
            <th></th>
            {% for form in legal_formset %}
            <tr>
               <td>{{ form.protection }}</td>
               <td>{{ form.cost }}</td>
               <td>{{ form.restricted_period }}</td>
               <td>{{ form.prohibited_period }}</td>
               <td>{{ form.inv_undertaken }}</td>
               <td>{{ form.legal_result }}</td>

               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ legal_formset.management_form }}
</div>

<script>
    $('.legal-formset tbody tr').formset({
        prefix: '{{ legal_formset.prefix }}',
        formCssClass: 'legal_fs',
        addText: '<i class="icon-plus"></i> add another legal',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ legal_formset.prefix  }}',
    });

</script>




