<div id="id_comment" class="row formset comment-formset">
    <table class="table_fs" border="0">
        <tbody>
            <th>Comment</th>
            <th></th>
            {% for form in comment_formset reversed %}
            <tr>
               <td>{{ form.comment }}</td>
               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ comment_formset.management_form }}
</div>

<script>
    $('.comment-formset tbody tr').formset({
        prefix: '{{ comment_formset.prefix }}',
        formCssClass: 'comment_fs',
        addText: '<i class="icon-plus"></i> add another comment',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ comment_formset.prefix  }}',
    });
</script>



