{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a> <span class="divider">/</span></li>
  <li>Confirm action</li>
</ul>
{% endblock %}

{% block content_title %}
  {% if action == 'mark_reviewed' %}
    <h1>Please confirm you wish to perform the action 'Mark Report as Reviewed'</h1>
  {% else %}
    <h1>Please confirm you wish to perform the action '{{ action|split_capitalize }}'</h1>
  {% endif %}
{% endblock %}

{% block content %}

{% if message %}
      <p>{{message}}</p>
{% endif %}


    <form action="" method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="bushfire_id" value="{{bushfire_id}}" />
    <input type="hidden" name="confirm_action" value="{{action}}" />
    <input type="hidden" name="district" value="{{district}}" />
    {% if action == 'invalidate'%}
        Details: <input name="invalid_details" value="" required/>
        <br><br>
    {% endif %}
    <button type="submit" value="confirm" class="btn btn-primary btn-success" name="action" >{% trans "Yes, I'm sure" %}</button>
    <a id="id_cancel_btn" href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
    </div>
    </form>
{% endblock %}

