{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% if create %}
    <li>{% trans 'Create' %}</li>
  {% else %}
    {% comment %}<li><a href="{% url 'bushfire:bushfire2_initial' object.id %}">{% trans 'Initial' %}</a></li>{% endcomment %}
    <li>{% trans 'Initial' %}</li>
    <li>{{ object.name}}</li>
  {% endif %}
</ul>
{% endblock %}

  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  {% endblock %}
  {% comment %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="http://static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  http://static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "twitter-bootstrap/3.3.7/css/bootstrap.min.css" %}">
  {% endcomment %}



  {% comment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
  <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
  {% endcomment %}

  {% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  {% comment %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script href="http://static.dpaw.wa.gov.au/static/cdnjs/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{% static 'twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
  {% endcomment %}

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

  <script>
    $(function(){
        if ($('#id_fire_not_found').is(':checked')) {
            $('#id_latlong').hide();
            $('#id_mga').hide();
            $('#id_fd_grid').hide();
            $('#id_coord_type').prop('selectedIndex', 0);
        } else {
            var coord_type = $('#id_coord_type :selected').text();
            if (coord_type.indexOf('---') > -1) {
                $('#id_latlong').hide();
                $('#id_mga').hide();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', true);
                $('#id_coord_type').prop('selectedIndex', 0);
            } else if (coord_type=='Lat/Long') {
                $('#id_latlong').show();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', false);

                // calc MGA
                $('#id_mga').show();
                $('#id_mga').find('input, textarea, button, select').prop('disabled',true);
                $('#id_latlong').find('input, textarea, button, select').prop('disabled',false);

            } else if (coord_type=='MGA') {
                $('#id_mga').show();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', false);

                // calc Lat/Long
                $('#id_latlong').show();
                $('#id_latlong').find('input, textarea, button, select').prop('disabled',true);
                $('#id_mga').find('input, textarea, button, select').prop('disabled',false);

            } else if (coord_type=='FD Grid') {
                $('#id_fd_grid').show();
                $('#id_latlong').hide();
                $('#id_mga').hide();
                $('#id_fire_not_found').prop('checked', false);
            }
        }

    });
  </script>

  {% endblock %}


{% block content %}

{% if form.errors %}
    <p>Form Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors  }}
        {% else %}
            <p>**********</p>
        {% endif %}

    </div>
{% endif %}

{% if activity_formset.total_error_count > 0 %}
    <p>Activity Errors: {{ activity_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in activity_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}

    </div>
{% endif %}

{{snapshot.job_code}}

<h1>Bushfire Detail</h1>
<form action="" method="post">{% csrf_token %}

<table class="table table-bordered table-striped table-condensed">
  <tbody>

    <tr>
      <td class="cbas">
        <div class="col-sm-2" > 
            <div id="div_id_region" class="form-group"> 
                <label for="id_region" class="control-label requiredField">Region*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.region}} {% else %} {{form.region}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_district" class="form-group"> 
                <label for="id_district" class="control-label requiredField">District*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.district}} {% else %} {{form.district}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_incident_no" class="form-group"> 
                <label for="id_incident_no" class="control-label requiredField">Fire Incident No.*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.incident_no}} {% else %} {{form.incident_no}} {% endif %}</div>
            </div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_job_code" class="form-group"> 
                <label for="id_job_code" class="control-label nonRequiredField">Job Code</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.job_code}} {% else %} {{form.job_code}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_name" class="form-group"> 
                <label for="id_name" class="control-label  requiredField">Name*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.name}} {% else %} {{form.name}} {% endif %}</div>
            </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>


<table class="table table-bordered table-striped table-condensed">
  <tbody>
    <tr>
      <td>
        <div class="col-sm-2" > 
            <div id="div_id_field_officer" class="form-group"> 
                <label for="id_field_officer" class="control-label requiredField">Field Officer*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.field_officer}} {% else %} {{form.field_officer}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_init_authorised_by" class="form-group"> 
                <label for="id_init_authorised_by" class="control-label nonRequiredField">Authorised By</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.init_authorised_by}} {% else %} {{form.init_authorised_by}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_init_authorised_date" class="form-group"> 
                <label for="id_init_authorised_date" class="control-label nonRequiredField">Authorised Date</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.init_authorised_date}} {% else %} {{form.init_authorised_date}} {% endif %}</div>
            </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="col-sm-2" > 
            <div id="div_potential_fire_level" class="form-group"> 
                <label for="id_potential_fire_level" class="control-label  requiredField">Potential Fire Level*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.potential_fire_level}} {% else %} {{form.potential_fire_level}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_alert_level" class="form-group"> 
                <label for="id_alert_level" class="control-label  requiredField">Alert Level*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.alert_level}} {% else %} {{form.alert_level}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_media_alert_req" class="form-group"> 
                <label for="id_media_alert_req" class="control-label  nonRequiredField">Media Alert Required</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.media_alert_req}} {% else %} {{form.media_alert_req}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_fire_position" class="form-group"> 
                <label for="id_fire_position" class="control-label requiredField">Fire Position*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.fire_position}} {% else %} {{form.fire_position}} {% endif %}</div>
            </div>
        </div>
      </td>
    </tr>



    {% comment %}
    <tr>
      <td class="cbas">
        <div class="col-sm-2" >
            <div id="div_id_assistance_req" class="form-group"> 
                <label for="id_assistance_req" class="control-label nonRequiredField">Assistance Required</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.assistance_req}} {% else %} {{form.assistance_req}} {% endif %}</div>
            </div>
        </div>
        <div class="col-sm-2" >
            <div id="div_id_communications" class="form-group"> 
                <label for="id_communications" class="control-label nonRequiredField">Communications</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.communications}} {% else %} {{form.communications}} {% endif %}</div>
            </div>
        </div>
        <div class="col-sm-2" >
            <div id="div_id_other_info" class="form-group"> 
                <label for="id_other_info" class="control-label nonRequiredField">Other Information</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.other_info}} {% else %} {{form.other_info}} {% endif %}</div>
            </div>
        </div>
      </td>
    </tr>
    {% endcomment %}

    <tr>
      <td>
        <div class="col-sm-4" >
            <div id="div_id_cause" class="form-group"> 
                <label for="id_cause" class="control-label requiredField">Cause*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.cause}} {% else %} {{form.cause}} {% endif %}</div>
            </div>
        </div>
        <div class="col-sm-4" >
            <div id="div_id_other_cause" class="form-group"> 
                <label for="id_other_cause" class="control-label nonRequiredField">Other Cause</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.other_cause}} {% else %} {{form.other_cause}} {% endif %}</div>
            </div>
        </div>
      </td>
    </tr>


  </tbody>
</table>

{% include "bfrs/origin2.html" %}
{% include "bfrs/activities_fs.html" %}
{% include "bfrs/tenure_veg_fs.html" %}

<div class="accordion-expand-holder">
    <button type="button" class="open-all"><i class="icon-plus icon-white"></i> Expand All</button>
    <button type="button" class="close-all" style="display: none;"><i class="icon-minus icon-white"></i> Collapse All</button>
</div>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_other_info">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#other_info" aria-expanded="true" aria-controls="other_info">
          Add Other Information
        </a>
      </h4>
    </div>
    <div id="other_info" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_other_info">
      <div class="panel-body">

        <tr>
          <td class="cbas">
            <div class="col-sm-2" >
                <div id="div_id_assistance_req" class="form-group"> 
                    <label for="id_assistance_req" class="control-label nonRequiredField">Assistance Required</label>
                    <div class="controls ">{% if has_init_authorised %} {{snapshot.assistance_req}} {% else %} {{form.assistance_req}} {% endif %}</div>
                </div>
            </div>
            <div class="col-sm-2" >
                <div id="div_id_communications" class="form-group"> 
                    <label for="id_communications" class="control-label nonRequiredField">Communications</label>
                    <div class="controls ">{% if has_init_authorised %} {{snapshot.communications}} {% else %} {{form.communications}} {% endif %}</div>
                </div>
            </div>
            <div class="col-sm-2" >
                <div id="div_id_other_info" class="form-group"> 
                    <label for="id_other_info" class="control-label nonRequiredField">Other Information</label>
                    <div class="controls ">{% if has_init_authorised %} {{snapshot.other_info}} {% else %} {{form.other_info}} {% endif %}</div>
                </div>
            </div>
          </td>
        </tr>

      </div>
    </div>
  </div>

</div>


{% comment %}
<div class="accordion-expand-holder">
    <button type="button" class="open-all"><i class="icon-plus icon-white"></i> Expand All</button>
    <button type="button" class="close-all" style="display: none;"><i class="icon-minus icon-white"></i> Collapse All</button>
</div>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_origin">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#origin" aria-expanded="true" aria-controls="origin">
          Add Location
        </a>
      </h4>
    </div>
    <div id="origin" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_origin">
      <div class="panel-body">
        {% include "bfrs/location.html" %}
      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_forces_attending">
      <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#forces_attending" aria-expanded="true" aria-controls="forces_attending">
          Add Forces in Attendance
        </a>
      </h4>
    </div>
    <div id="forces_attending" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_forces_attending">
      <div class="panel-body">
        {% include "bfrs/forces_attending_fs.html" %}
      </div>
    </div>
  </div>


  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_initial_comment">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#initial_comment" aria-expanded="true" aria-controls="initial_comment">
          Add Operation Details
        </a>
      </h4>
    </div>
    <div id="initial_comment" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_initial_comment">
      <div class="panel-body">
        {% include "bfrs/initial_comment.html" %}
      </div>
    </div>
  </div>

</div>

{% endcomment %}

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
      {% if request.user|can_readonly and not request.user.is_superuser %}
        <input type="submit" value="Save" class="btn btn-primary btn-success" name="_save" title="You do not have 'Update' permissions" disabled />
      {% else %}
        <input type="submit" value="Save" class="btn btn-primary btn-success" name="_save" {% if has_init_authorised %}title="Initial Report cannot be edited" disabled{% endif %} />
      {% endif %}
        <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
      </p>
    </div>
  </div>
</div>

</form>


<script>

    $(function(){
        /**
        Highlight tabs RED if error field is located in that tab
        */
        var origin = ['mga_zone', 'mga_easting', 'mga_northing', 'lat_decimal', 'lat_degrees', 'lat_minutes', 'lon_decimal', 'lon_degrees', 'lon_minutes', 'fd_letter', 'fd_number', 'fd_tenths'];
        var detail = ['first_attack', 'other_agency', 'cause', 'known_possible', 'other_cause'];
        var comments = ['field_officer'];
        var tab_origin_error = false;
        var tab_detail_error = false;
        var tab_comments_error = false;

        {% for field in form %} 
            {% if field.errors %}
                if (origin.indexOf("{{ field.name }}") > -1) {
                    tab_origin_error = true;
                }

                if (detail.indexOf("{{ field.name }}") > -1) {
                    tab_detail_error = true;
                    console.log("***** " + "{{ field.name }} : {{ field.label }}: {{ field.errors|striptags }}");
                }

                if (comments.indexOf("{{ field.name }}") > -1) {
                    tab_comments_error = true;
                }

                //console.log("MYTEST ***** " + "{{ field.name }} : {{ field.label }}: {{ field.errors|striptags }}");
            {% endif %}
        {% endfor %}

        if (tab_origin_error) {
            $( "#origin-tab" ).find( "a" ).css( "color", "red" );
        } else {
            $( "#origin-tab" ).find( "a" ).css( "color", "" );
        }

        if (tab_detail_error) {
            $( "#detail-tab" ).find( "a" ).css( "color", "red" );
        } else {
            $( "#detail-tab" ).find( "a" ).css( "color", "" );
        }

        if (tab_comments_error) {
            $( "#comments-tab" ).find( "a" ).css( "color", "red" );
        } else {
            $( "#comments-tab" ).find( "a" ).css( "color", "" );
        }

        {% if area_burnt_formset.total_error_count > 0 or attending_org_formset.total_error_count > 0 %}
            $( "#detail-tab" ).find( "a" ).css( "color", "red" );
            //console.log('RED area_burnt' + {{ area_burnt_formset.total_error_count }})
            //console.log('RED attending_org' + {{ area_burnt_formset.total_error_count }})
        {% else %}
            if (! tab_detail_error) {
                $( "#detail-tab" ).find( "a" ).css( "color", "" );
                //console.log('GREEN area_burnt' + {{ area_burnt_formset.total_error_count }})
                //console.log('GREEN attending_org' + {{ area_burnt_formset.total_error_count }})
            }
        {% endif %}
    });


/*
    function convert_origin() {
        if ($('#id_mga_zone').val() != '' && $('#id_mga_easting').val() != '' && $('#id_mga_northing').val() != '') {
            $('#id_lat_decimal').val($('#id_mga_zone').val()/2.0);
        }

        if ($('#id_lat_decimal').val() != '' && $('#id_lat_degrees').val() != '' && $('#id_lat_minutes').val() != '' && $('#id_lon_decimal').val() != '' && $('#id_lon_degrees').val() != '' && $('#id_lon_minutes').val() != '') {
            $('#id_mga_zone').val($('#id_lat_decimal').val()*2.0);
        }

    };
*/

    //$('.activity-formset tbody tr').formset({

// $('[id^=""]').hide() // starts with 
$('#id_init_authorised_date').datetimepicker({ format: "Y-m-d H:i" }); //ends with
$('[id$="-date"]').datetimepicker({ format: "Y-m-d H:i" }); //ends with

$('#id_fire_not_found').click(function() {
    if ($(this).is(':checked')) {
        $('#id_latlong').hide();
        $('#id_mga').hide();
        $('#id_fd_grid').hide();
        $('#id_coord_type').prop('selectedIndex', 0);
    } else {
        var coord_type = $('#id_coord_type :selected').text();
        //console.log('Co Ord Type' + coord_type);
        if (coord_type.indexOf('---') > -1) {
            $('#id_latlong').hide();
            $('#id_mga').hide();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', true);
            $('#id_coord_type').prop('selectedIndex', 0);
        } else if (coord_type=='Lat/Long') {
            $('#id_latlong').show();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', false);

            // calc MGA
            $('#id_mga').show();
            $('#id_mga').prop("readonly", true);
        } else if (coord_type=='MGA') {
            $('#id_mga').show();
            $('#id_latlong').hide();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', false);

            // calc Lat/Long
            $('#id_latlong').show();
            $('#id_latlong').prop("readonly", true);
        } else if (coord_type=='FD Grid') {
            $('#id_fd_grid').show();
            $('#id_latlong').hide();
            $('#id_mga').hide();
            $('#id_fire_not_found').prop('checked', false);
        }
    }
});

$('#id_coord_type').on('change', function() {
    var coord_type = $('#id_coord_type :selected').text();
    //console.log(' *** Co Ord Type' + coord_type);
    if (coord_type.indexOf('---') > -1) {
        $('#id_latlong').hide();
        $('#id_mga').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', true);
        $('#id_coord_type').prop('selectedIndex', 0);
    } else if (coord_type=='Lat/Long') {
        $('#id_latlong').show();
        $('#id_mga').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', false);

        // calc MGA
        $('#id_mga').show();
        $('#id_mga').find('input, textarea, button, select').prop('disabled',true);
        $('#id_latlong').find('input, textarea, button, select').prop('disabled',false);

        //$('#id_mga_zone').val(111);
        //convert_origin();
    } else if (coord_type=='MGA') {
        $('#id_mga').show();
        $('#id_latlong').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', false);

        // calc Lat/Long
        $('#id_latlong').show();
        $('#id_latlong').find('input, textarea, button, select').prop('disabled',true);
        $('#id_mga').find('input, textarea, button, select').prop('disabled',false);

        //$('#id_lat_decimal').val(222);
        //convert_origin();
    } else if (coord_type=='FD Grid') {
        $('#id_fd_grid').show();
        $('#id_latlong').hide();
        $('#id_mga').hide();
        $('#id_fire_not_found').prop('checked', false);
    }
});

$(function(){
    var coord_type = $('#id_first_attack :selected').text();
    // This first part is needed for first page load
    if (coord_type.indexOf('OTHER') > -1) {
        $('#div_id_other_first_attack').show();
    } else {
        $('#div_id_other_first_attack').hide();
    }

    $('#id_first_attack').on('change', function() {
        var coord_type = $('#id_first_attack :selected').text();
        //console.log('Co Ord Type' + coord_type);
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_first_attack').show();
        } else {
            $('#div_id_other_first_attack').hide();
        }
    });
});


// default is to collapse all on page load
$('.collapse').collapse()

//$('.open-close-all').click(function() {
//    $('.panel-collapse').collapse('toggle');
//});

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});

</script>

{% endblock %}
