<div class="div_damage_unknown">
{% if is_authorised and final or action %}
    <table class="table_fs" border="0" >
        <tbody>
            {% if snapshot.damages.exists %}
				<th>Damage Type</th>
				<th>Number</th>
				{% for damage in snapshot.damages.all %}
				<tr>
					<td>{{ damage.damage_type }}</td>
					<td>{{ damage.number }}</td>
				</tr>
				{% endfor %}
            {% else %}
                <p> No damages</p>
            {% endif %}
        </tbody>
    </table>
{% else %}
    <div id="id_damage" class="row formset damage-formset">
        <table class="table_fs" border="0">
            <tbody>
                <th>Damage Type</th>
                <th>Number</th>
                <th></th>
                {% for form in damage_formset %}
                <tr>
                  <td>{{ form.damage_type }}</td>
                  <td>{{ form.number }}</td>

                  <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}

					{% for field in form %} 
                      {% if field.errors %}
                         <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                      {% endif %}
                    {% endfor %}

                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
</div>
{{ damage_formset.management_form }}

<script>
    $('.damage-formset tbody tr').formset({
        prefix: '{{ damage_formset.prefix }}',
        formCssClass: 'damage_fs',
        addText: '<i class="icon-plus"></i> add another damage',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ damage_formset.prefix  }}',
    });

</script>




