{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% if create %}
    <li>{% trans 'Create' %}</li>
  {% else %}
    <li>{% trans 'Initial' %}</li>
	<li>{% if object.report_status == object.STATUS_INVALIDATED %} <font color="red">{{ object.fire_number}} (Invalid)</font>{% else %}{{ object.fire_number }}{% endif %}</li>
  {% endif %}
</ul>
{% endblock %}

  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  {% endblock %}


  {% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  {% endblock %}


{% block content %}

{% if form.errors %}
    <p>Form Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors  }}
        {% else %}
            <p>**********</p>
        {% endif %}

    </div>
{% endif %}

{% if object.report_status and object.report_status == object.STATUS_INVALIDATED %}
<h1>Bushfire Detail
    <h2>
		<font color="red"> Report invalidated on {{object.modified|date_fmt}} by {{object.modifier}}</font>
	(Linked valid bushfire <a href="{% url 'bushfire:bushfire_initial' object.valid_bushfire.id %}">{{object.valid_bushfire.fire_number}}</a>)
    </h2>
</h1>
{% elif action == 'Submit' %}
<h1>Confirm action 'Mark Initial Report Submitted'</h1>
{% else %}
<h1>Bushfire Detail</h1>
{% endif %}

<form action="" method="post">{% csrf_token %}

{{ form.sss_data.as_hidden }}
<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
          <th colspan="6" style="background: black; color: white; text-align: center; font-size: 16px; padding: 12px;" > PARKS AND WILDLIFE FIRE REPORT FORM</th>
        </tr>

        <tr>
            <th class="cbas">District *</th>
            <td colspan="2" class="cbas">
				{% if request.user.is_superuser and not is_authorised %}
                  {{form.region}}<span style="margin:20;"></span>
                  {{form.district}}
				{% else %}
                  {% if object %} {{object.region}} {{form.region.as_hidden}} {% else %} {{form.region}} {% endif %}<span style="margin:20;"></span>
                  {% if object %} {{object.district}} {{form.district.as_hidden}} {% else %} {{form.district}} {% endif %}
				{% endif %}
            </td>

            <th class="cbas">Financial Year *</th>
            {% comment %}
            <td colspan="2" class="cbas">{% if object %} {{object.year}} {{form.year.as_hidden}} {% else %} {{form.year}} {% endif %}</td>
            {% endcomment %}
            <td colspan="2" class="cbas">{{object.year|fin_year}} {{form.year.as_hidden}}</td>
        </tr>

        <tr>
            <th class="cbas">Fire name *</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.name}} {% else %} {{form.name}} {% endif %}</td>

            <th class="cbas">Date and time fire detected *</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.fire_detected_date}} {% else %} {{form.fire_detected_date}} {% endif %}</td>
        </tr>

        <tr>
            <th class="cbas">P&W Fire no. *</th>
            <td colspan="2" class="cbas">{% if object %} {{object.fire_number}} {% else %} Auto Generated {% endif %}</td>

            <th class="cbas" style="font-weight:normal;">DFES Incident no.</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.dfes_incident_no}} {% else %} {{form.dfes_incident_no}} {% endif %}</td>
        </tr>

  </tbody>
</table>


<table class="table table-bordered table-striped table-condensed">
  <tbody>
        <tr>
			<th colspan="6" style="background: black; color: white; text-align: left; font-size: 16px; padding: 12px;" >
				INITIAL FIRE REPORT
			</th>
        </tr>

        <tr>
			<th class="cbas">P&W Resource dispatched *<br><br><div class=div_dispatch_pw_date style="display: none;">Date and time of dispatch</div></th>
            <td colspan="2" class="cbas">
                {% if is_authorised %} {{snapshot.dispatch_pw|yesno:"Yes,No"}}{% if snapshot.dispatch_pw %}<br>{{snapshot.dispatch_pw_date}} {% endif %} {% else %} {{form.dispatch_pw}} {% endif %}<br>
				<div class=div_dispatch_pw_date style="display: none;">{% if not is_authorised %} {{form.dispatch_pw_date}} {% endif %}</div>
			</td>

			<th class="cbas">Aerial support dispatched *<br><br><div class=div_dispatch_aerial_date style="display: none;">Date and time of dispatch</div></th>
            <td colspan="2" class="cbas">
                {% if is_authorised %} {{snapshot.dispatch_aerial|yesno:"Yes,No"}}{% if snapshot.dispatch_aerial %}<br>{{snapshot.dispatch_aerial_date}}{% endif %}{% else %} {{form.dispatch_aerial}} {% endif %}<br>
				<div class=div_dispatch_aerial_date style="display: none;">{% if not is_authorised %} {{form.dispatch_aerial_date}} {% endif %}</div>
			</td>
        </tr>

        <tr>
            <th class="cbas">Probable Fire Level *</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.fire_level}} {% else %} {{form.fire_level}} {% endif %}</td>

            <th class="cbas">Investigation required *</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.investigation_req|yesno:"Yes,No"}} {% else %} {{form.investigation_req}} {% endif %}</td>
        </tr>

        <tr>
            <th class="cbas">Media Alert Required *</th>
            <td colspan="2" class="cbas">
                {% if is_authorised %}
                {{snapshot.media_alert_req|yesno:"Yes,No"}} {% if snapshot.media_alert_req %}<br> <span>call PICA on ...</span>{% endif %}

                {% else %}
                {{form.media_alert_req}} <br> <span class="div_pica" style="display: none;">call PICA on ...</span>
                {% endif %}
            </td>

            <th class="cbas">Park and/or Trail *<br>potentially impacted</th>
            <td colspan="2" class="cbas">
                {% if is_authorised %}
                  {{snapshot.park_trail_impacted|yesno:"Yes,No"}} {% if snapshot.park_trail_impacted %}<br> <span>send email notification to PVS</span>{% endif %}
                {% else %} 
                  {{form.park_trail_impacted}} <br> <span class="div_pvs" style="display: none;">Send email notification to PVS </span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th class="cbas">Fuel and fire behaviour *</th>
			{% comment %}
            <td colspan="5" class="cbas">{% if is_authorised %} {{snapshot.fuel_type}} {% else %} {{form.fuel_type}} {% endif %}</td>
			{% endcomment %}
			<td colspan="5" class="cbas" >{% include "bfrs/fire_behaviour_fs.html" %}</td>
        </tr>

        <tr>
            <th class="cbas" style="font-weight:normal;">Point of origin</th>
            <td colspan="5" class="cbas">
				{% if is_authorised %} 
					{{snapshot.origin_coords|is_none}} <br>
					{{snapshot.origin_geo|is_none}} 
				{% else %} 
			{% comment %}
					{{object.origin_coords}} <br>
                    {{object.origin_geo}}
			{% endcomment %}
                    {{form.origin_point.value|latlon}} <br>
                    {{form.origin_point.value|deg_min_sec}}
				{% endif %}
			</td>
            {% if not is_authorised %} {{form.origin_point.as_hidden}} {% endif %}
            {% if not is_authorised %} {{form.fire_boundary.as_hidden}} {% endif %}
        </tr>

        <tr>
            <th width="25%" class="cbas" style="font-weight:normal;">Position of fire<br>(street address, or km from landmark/suburb)</th>
            <td colspan="2" class="cbas">
				{% if is_authorised %} {{snapshot.fire_position}} {% else %} {{form.fire_position}} {% endif %}<br>
                {% if is_authorised %} SSS overide - {{snapshot.fire_position_override|yesno:"Yes,No"}} {% else %} {{form.fire_position_override}} SSS override{% endif %}
			</td>

            <th class="cbas" style="font-weight:normal;">Area of fire at arrival (ha)</th>
            <td colspan="2" class="cbas">
				{% if is_authorised %} Unknown - {{snapshot.area_unknown|yesno:"Yes,No"}} {% else %} {{form.area_unknown}} Unknown{% endif %}<br>
				<div class="div_area" style="visibility: visible;">{% if is_authorised %} {{snapshot.area}} {% else %} {{form.area}} {% endif %}</div>
            </td>
        </tr>

        <tr>
		    <th class="cbas">Assistance Required *<br><br><div class=div_assist style="display: none; font-weight:normal;">Details</div></th>
            <td colspan="2" class="cbas">
                {% if is_authorised %} {{ snapshot.get_assistance_req_display }} {% if snapshot.assistance_req %}<br>{{snapshot.assistance_details}} {% endif %}{% else %} {{form.assistance_req}} {% endif %}<br>
		        <div class=div_assist style="display: none;">{% if is_authorised %}  {% else %} {{form.assistance_details}} {% endif %}</div>
		    </td>
            
            <th class="cbas" style="font-weight:normal;">Estimated Time to Control</th>
			<td colspan="2" class="cbas">
				{% if is_authorised %}
                  <span>{{snapshot.time_to_control_str}}</span>
				{% else %}
                  <span>{{form.days}} Days<br>{{form.hours}} Hours</span>
				{% endif %}
			</td>

        </tr>


        <tr>
            <th class="cbas" style="font-weight:normal;">Communications</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.communications|is_none}} {% else %} {{form.communications}} {% endif %}</td>

            <th class="cbas" style="font-weight:normal;">Other information<br>(include Burn ID if cause is escape)</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.other_info|is_none}} {% else %} {{form.other_info}} {% endif %}</td>
        </tr>

        <tr>
            <th class="cbas">Fire Cause *<br><br><br><br><div class=div_cause style="visibility: hidden;">Other Cause *</div></th>
			<td colspan="2" class="cbas">
				{% if is_authorised %} {{snapshot.get_cause_state_display}} {% else %} {{form.cause_state}} {% endif %}<br>
                {% if is_authorised %} {{snapshot.cause}} {% else %} {{form.cause}} {% endif %}<br><br>

                <div class="div_cause" style="visibility: hidden;">
                    {% if is_authorised %} {{snapshot.other_cause|is_none}} {% else %} {{form.other_cause}} {% endif %}
				</div>

			</td>


            <th class="cbas">Tenure of ignition point *<br><br><div class=div_tenure style="visibility: hidden;">Other Tenure *</div></th>
            <td colspan="2" class="cbas">
                {% if is_authorised %} {{snapshot.tenure}} {% else %} {{form.tenure}} {% endif %}<br><br>

				<div class="div_tenure" style="visibility: hidden;">
				    {% if is_authorised %} {{snapshot.other_tenure}} {% else %} {{form.other_tenure}} {% endif %}
				</div>
            </td>
        </tr>

        <tr>

            <th id="id_th_field_officer" class="cbas" style="font-weight:normal;">Field Officer</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.field_officer|is_none}} {% else %} {{form.field_officer}} {% endif %}</td>

            <th class="cbas" style="font-weight:normal;">Duty Officer</th>
            <td colspan="2" class="cbas">{% if is_authorised %} {{snapshot.duty_officer|is_none}} {% else %} {{form.duty_officer}} {% endif %}</td>
        </tr>

        {% if object.is_init_authorised_by %} 
        <tr>
            <th class="cbas" style="font-weight:normal;">Authorised By</th>
            <td colspan="2" class="cbas">{{object.init_authorised_by}}</td>

            <th class="cbas" style="font-weight:normal;">Authorised Date</th>
            <td colspan="2" class="cbas">{{object.init_authorised_date|date_fmt}}</td>
        </tr>
        {% endif %}

  </tbody>
</table>

{% comment %}
<table class="table table-bordered table-striped table-condensed cbas">
    <thead>
		<th class="cbas">Fuel and fire behaviour *</th>
    </thead>
    <tbody>
        <tr>
			<td class="cbas" >{% include "bfrs/fire_behaviour_fs.html" %}</td>
        </tr>

  </tbody>
</table>
{% endcomment %}

<div class="hidden">
<table class="table table-bordered table-striped table-condensed cbas">
    <thead>
		<th class="cbas">Tenure of burnt area *</th>
		<th class="cbas">Damage</th>
		<th class="cbas" >Injuries and Fatalities</th>
    </thead>
    <tbody>
        <tr>
			<td class="cbas" >{% include "bfrs/tenure_veg_fs.html" %}</td>
			<td class="cbas" >{% include "bfrs/damage_fs.html" %}</td>
			<td class="cbas">{% include "bfrs/injuries_fs.html" %}</td>
        </tr>

  </tbody>
</table>
</div>

{% if not action %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
      {% if object.report_status != object.STATUS_INVALIDATED or not object.report_status %}
        {% if request.user|can_readonly and not request.user.is_superuser %}
          <input type="submit" value="Save draft" class="btn btn-primary btn-success" name="_save" title="You do not have 'Update' permissions" disabled />
        {% else %}
          <input type="submit" value="Save draft" class="btn btn-primary btn-success" name="_save" {% if is_authorised %}title="Submitted initial report cannot be edited" disabled{% endif %} />
		  {% comment %}
          {% if not is_authorised %}<input type="submit" value="Save and continue" class="btn btn-primary btn-success" name="_save_continue" />{% endif %}
		  {% endcomment %}

		  <input type="submit" value="Submit" class="btn btn-primary btn-success" name="submit_initial" {% if is_authorised %}title="Initial Report already submitted" disabled{% else %}title="Save and submit"{% endif %} />
		  {% comment %}
          <a href="javascript: bushfire_filter('bushfire_id={{bushfire.id}}&confirm_action=submit_initial');" class="btn btn-primary btn-success" title="submit initial">Submit</a>
		  {% endcomment %}
        {% endif %}
      {% endif %}

      <a id="id_cancel_btn" href="{% url 'main' %}" class="btn btn-primary btn-danger">Cancel</a>
      </p>
    </div>
  </div>
</div>
{% endif %}

</form>

{% if action %}
<!-- This section to allow redirect confirmation -->
<form action="" method="post">{% csrf_token %}
  <div>
    <input type="hidden" name="bushfire_id" value="{{snapshot.id}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="hidden" name="confirm_action" value="yes" />
    <input type="submit" class="btn" value="{% trans "Yes, I'm sure" %}" />
    <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
  </div>
</form>
{% endif %}

<script>


// $('[id^=""]').hide() // starts with 
$('[id$="_date"]').datetimepicker({ format: "Y-m-d H:i" }); //ends with

$('#id_field_officer').prop('class', 'selectpicker dropup');
$('#id_duty_officer').prop('class', 'selectpicker dropup');

$('.selectpicker').selectpicker({
  style: 'btn-default',
  size: 6,
  liveSearch: true,
  dropupAuto: false,
});



/* dispatch PW */
/*
if($('#id_dispatch_pw_0').is(':checked')) { 
	$('.div_dispatch_pw_date').show(); 
	$('#id_th_field_officer').css("font-weight", "bold");
	$("#id_th_field_officer").html("Field Officer *");
}
if($('#id_dispatch_pw_1').is(':checked')) { 
	$('.div_dispatch_pw_date').hide(); 
	$('#id_th_field_officer').css("font-weight", "normal");
	$("#id_th_field_officer").html("Field Officer");
}
*/
$('#id_dispatch_pw_0').on('change', function() {
	if($('#id_dispatch_pw_0').is(':checked')) { $('.div_dispatch_pw_date').show(); }
	$('#id_th_field_officer').css("font-weight", "bold");
	$("#id_th_field_officer").html("Field Officer *");
}).change();
$('#id_dispatch_pw_1').on('change', function() {
	if($('#id_dispatch_pw_1').is(':checked')) { $('.div_dispatch_pw_date').hide(); }
	$('#id_th_field_officer').css("font-weight", "normal");
	$("#id_th_field_officer").html("Field Officer");
}).change();

/* dispatch Aerial */
/*
if($('#id_dispatch_aerial_0').is(':checked')) { $('.div_dispatch_aerial_date').show(); }
if($('#id_dispatch_aerial_1').is(':checked')) { $('.div_dispatch_aerial_date').hide(); }
*/
$('#id_dispatch_aerial_0').on('change', function() {
	if($('#id_dispatch_aerial_0').is(':checked')) { $('.div_dispatch_aerial_date').show(); }
}).change();
$('#id_dispatch_aerial_1').on('change', function() {
	if($('#id_dispatch_aerial_1').is(':checked')) { $('.div_dispatch_aerial_date').hide(); }
}).change();

/* PICA Text */
/*
if($('#id_media_alert_req_0').is(':checked')) { $('.div_pica').show(); }
if($('#id_media_alert_req_1').is(':checked')) { $('.div_pica').hide(); }
*/
$('#id_media_alert_req_0').on('change', function() {
	if($('#id_media_alert_req_0').is(':checked')) { $('.div_pica').show(); }
}).change();
$('#id_media_alert_req_1').on('change', function() {
	if($('#id_media_alert_req_1').is(':checked')) { $('.div_pica').hide(); }
}).change();

/* Parks and Trails Text */
/*
if($('#id_park_trail_impacted_0').is(':checked')) { $('.div_pvs').show(); }
if($('#id_park_trail_impacted_1').is(':checked')) { $('.div_pvs').hide(); }
*/
$('#id_park_trail_impacted_0').on('change', function() {
	if($('#id_park_trail_impacted_0').is(':checked')) { $('.div_pvs').show(); }
}).change();
$('#id_park_trail_impacted_1').on('change', function() {
	if($('#id_park_trail_impacted_1').is(':checked')) { $('.div_pvs').hide(); }
}).change();

/* Assistance Required */
/*
if($('#id_assistance_req_0').is(':checked')) { 
	$('.div_assist').show(); 
}
if($('#id_assistance_req_1').is(':checked')) { 
	$('.div_assist').hide(); 
}
*/
$('#id_assistance_req_0').on('change', function() {
	if($('#id_assistance_req_0').is(':checked')) { $('.div_assist').show(); }
}).change();
$('#id_assistance_req_1').on('change', function() {
	if($('#id_assistance_req_1').is(':checked')) { $('.div_assist').hide(); }
}).change();



/* Fire Cause */
/*
var cause = $('#id_cause :selected').text();
//console.log('Cause Type: ' + cause);
if (cause.indexOf('Other') > -1) {
	$('.div_cause').css('visibility','visible');
} else {
	$('.div_cause').css('visibility','hidden');
}
*/
$('#id_cause').on('change', function() {
	var cause = $('#id_cause :selected').text();
	//console.log('Cause Type: ' + cause);
	if (cause.indexOf('Other') > -1) {
		$('.div_cause').css('visibility','visible');
	} else {
		$('.div_cause').css('visibility','hidden');
	}
}).change();

/* Tenure */
/*
var tenure = $('#id_tenure :selected').text();
if (tenure.indexOf('Other') > -1) {
	$('.div_tenure').css('visibility','visible');
} else {
	$('.div_tenure').css('visibility','hidden');
}
*/
$('#id_tenure').on('change', function() {
	var tenure = $('#id_tenure :selected').text();
	if (tenure.indexOf('Other') > -1) {
		$('.div_tenure').css('visibility','visible');
	} else {
		$('.div_tenure').css('visibility','hidden');
	}
}).change();

// default is to collapse all on page load
$('.collapse').collapse()

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});

//$("#id_region,#id_district,#id_year").change(function(){
//  $("#id_fire_number").remove();
//  $("#id_year").after('<span id="id_fire_number" style="margin: 20;">BF ' + $("#id_district").val() + ' ' + $("#id_year").val()</span>');
//});

/*
    $("#id_region,#id_district,#id_year").change(function(){
        var data = {
            region: $("#id_region").val(),
            district: $("#id_district").val(),
            year: $("#id_year").val(),
        }
        $.ajax({
            type:"GET",
            url:"{% url 'bushfire:bushfire_create' %}",
            data: {
                'fire_number': JSON.stringify(data)
                //'fire_number': data
            },
            success: function(response){
                console.log("response 1 " + response);
                console.log("response 2 " + response.fire_number);
                $("#id_fire_number").val(response.fire_number);
                //$("#id_fire_number").remove();
                //$("#id_year").after('<span id="id_fire_number" style="margin: 20;">' + response.fire_number +'</span>');
                //var response = JSON.parse(response);
                //console.log("response 2" + response);
            }

        });
    });
*/


/* Area Override */
$('#id_area_unknown').on('change', function() {
    if($("#id_area_unknown").is(':checked')) { 
		$('.div_area').css('visibility','hidden');
		$('#id_area').val(0);
	} else {
		$('.div_area').css('visibility','visible');
	}
}).change();


/* Fire Position Override */
var orig_fire_position = $("#id_fire_position").val();
/*
if($("#id_fire_position_override").is(':checked')) { 
    $("#id_fire_position").removeAttr('readonly').removeAttr('style');
} else {
    $("#id_fire_position").attr('readonly','readonly').css('background-color' , '#DEDEDE');
}
*/

$('#id_fire_position_override').on('change', function() {
    if($("#id_fire_position_override").is(':checked')) { 
	    $("#id_fire_position").removeAttr('readonly').removeAttr('style');
	} else {
        $("#id_fire_position").val(orig_fire_position);
	    $("#id_fire_position").attr('readonly','readonly').css('background-color' , '#DEDEDE');
	}
}).change();

</script>

{% endblock %}
