{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% comment %}<li><a href="{% url 'bushfire:bushfire_final' object.id %}">{% trans 'Final' %}</a></li> {% endcomment %}
  <li>{% trans 'Final' %}</li>
  <li>{{ object.name}}</li>
</ul>
{% endblock %}


  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  {% endblock %}

  {% comment %}
  {% endcomment %}

  {% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

  <script>
    $(function(){
        if ($('#id_fire_not_found').is(':checked')) {
            $('#id_latlong').hide();
            $('#id_mga').hide();
            $('#id_fd_grid').hide();
            $('#id_coord_type').prop('selectedIndex', 0);
        } else {
            var coord_type = $('#id_coord_type :selected').text();
            if (coord_type.indexOf('---') > -1) {
                $('#id_latlong').hide();
                $('#id_mga').hide();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', true);
                $('#id_coord_type').prop('selectedIndex', 0);
            } else if (coord_type=='Lat/Long') {
                $('#id_latlong').show();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', false);

                // calc MGA
                $('#id_mga').show();
                $('#id_mga').find('input, textarea, button, select').prop('disabled',true);
                $('#id_latlong').find('input, textarea, button, select').prop('disabled',false);

            } else if (coord_type=='MGA') {
                $('#id_mga').show();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', false);

                // calc Lat/Long
                $('#id_latlong').show();
                $('#id_latlong').find('input, textarea, button, select').prop('disabled',true);
                $('#id_mga').find('input, textarea, button, select').prop('disabled',false);

            } else if (coord_type=='FD Grid') {
                $('#id_fd_grid').show();
                $('#id_latlong').hide();
                $('#id_mga').hide();
                $('#id_fire_not_found').prop('checked', false);
            }
        }

    });

  </script>

  {% endblock %}


{% block content %}

{% comment %}
{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endcomment %}

{% if form.errors %}
    <p>Form Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors  }}
        {% else %}
            <p>**********</p>
        {% endif %}

    </div>
{% endif %}

{% if activity_formset.total_error_count > 0 %}
    <p>Activity Errors: {{ activity_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in activity_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}

    </div>
{% endif %}

{% if area_burnt_formset.total_error_count > 0 %}
    <p>Area Burnt Errors: {{ area_burnt_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in area_burnt_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if attending_org_formset.total_error_count > 0 %}
    <p>Attending Organisation Errors: {{ attending_org_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in attending_org_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if fire_behaviour_formset.total_error_count > 0 %}
    <p>Fire behaviour Errors: {{ fire_behaviour_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in fire_behaviour_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


  <form action="" method="post">{% csrf_token %}

<h2>{{form.instance.district}} - {{form.instance.name}}</h2>

<table class="table table-bordered table-striped table-condensed">
  <tbody>

    <tr>
      <td class="cbas">
        <div class="col-sm-2" > 
            <div id="div_id_region" class="form-group"> 
                <label for="id_region" class="control-label requiredField">Region*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.region}} {% else %} {{form.region}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_district" class="form-group"> 
                <label for="id_district" class="control-label requiredField">District*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.district}} {% else %} {{form.district}} {% endif %}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_incident_no" class="form-group"> 
                <label for="id_incident_no" class="control-label requiredField">Fire Incident No.*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.incident_no}} {% else %} {{form.incident_no}} {% endif %}</div>
            </div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_name" class="form-group"> 
                <label for="id_name" class="control-label  requiredField">Name*</label>
                <div class="controls ">{% if has_init_authorised %} {{snapshot.name}} {% else %} {{form.name}} {% endif %}</div>
            </div>
        </div>
      </td>
    </tr>

  </tbody>
</table>


<table class="table table-bordered table-striped table-condensed">
  <tbody>
    <tr>
      <td>
        <div class="col-sm-2" > 
            <div id="div_id_job_code" class="form-group"> 
                <label for="id_job_code" class="control-label nonRequiredField">Job Code</label>
                <div class="controls ">{{form.job_code}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_field_officer" class="form-group"> 
                <label for="id_field_officer" class="control-label requiredField">Field Officer*</label>
                <div class="controls ">{{form.field_officer}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_init_authorised_by" class="form-group"> 
                <label for="id_init_authorised_by" class="control-label nonRequiredField">Authorised By</label>
                <div class="controls ">{{form.authorised_by}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_init_authorised_date" class="form-group"> 
                <label for="id_init_authorised_date" class="control-label nonRequiredField">Authorised Date</label>
                <div class="controls ">{{form.authorised_date}}</div>
            </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="col-sm-2" > 
            <div id="div_potential_fire_level" class="form-group"> 
                <label for="id_potential_fire_level" class="control-label  requiredField">Potential Fire Level*</label>
                <div class="controls ">{{form.potential_fire_level}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_alert_level" class="form-group"> 
                <label for="id_alert_level" class="control-label  requiredField">Alert Level*</label>
                <div class="controls ">{{form.alert_level}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_media_alert_req" class="form-group"> 
                <label for="id_media_alert_req" class="control-label  nonRequiredField">Media Alert Required</label>
                <div class="controls ">{{form.media_alert_req}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_fire_position" class="form-group"> 
                <label for="id_fire_position" class="control-label requiredField">Fire Position*</label>
                <div class="controls ">{{form.fire_position}}</div>
            </div>
        </div>
      </td>
    </tr>



    {% comment %}
    <tr>
      <td class="cbas">
        <div class="col-sm-2" >
            <div id="div_id_assistance_req" class="form-group"> 
                <label for="id_assistance_req" class="control-label nonRequiredField">Assistance Required</label>
                <div class="controls ">{{form.assistance_req}}</div>
            </div>
        </div>
        <div class="col-sm-2" >
            <div id="div_id_communications" class="form-group"> 
                <label for="id_communications" class="control-label nonRequiredField">Communications</label>
                <div class="controls ">{{form.communications}}</div>
            </div>
        </div>
        <div class="col-sm-2" >
            <div id="div_id_other_info" class="form-group"> 
                <label for="id_other_info" class="control-label nonRequiredField">Other Information</label>
                <div class="controls ">{{form.other_info}}</div>
            </div>
        </div>
      </td>
    </tr>
    {% endcomment %}

    <tr>
      <td>
        <div class="col-sm-4" >
            <div id="div_id_cause" class="form-group"> 
                <label for="id_cause" class="control-label requiredField">Cause*</label>
                <div class="controls ">{{form.cause}}</div>
            </div>
        </div>
        <div class="col-sm-4" >
            <div id="div_id_other_cause" class="form-group"> 
                <label for="id_other_cause" class="control-label nonRequiredField">Other Cause</label>
                <div class="controls ">{{form.other_cause}}</div>
            </div>
        </div>
      </td>
    </tr>


  </tbody>
</table>

{% include "bfrs/origin2.html" %}
{% include "bfrs/activities_fs.html" %}
{% include "bfrs/tenure_veg_fs.html" %}

<div class="accordion-expand-holder">
    <button type="button" class="open-all"><i class="icon-plus icon-white"></i> Expand All</button>
    <button type="button" class="close-all" style="display: none;"><i class="icon-minus icon-white"></i> Collapse All</button>
</div>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_other_info">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#other_info" aria-expanded="true" aria-controls="other_info">
          Add Other Information
        </a>
      </h4>
    </div>
    <div id="other_info" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_other_info">
      <div class="panel-body">

        <tr>
          <td class="cbas">
            <div class="col-sm-2" >
                <div id="div_id_assistance_req" class="form-group"> 
                    <label for="id_assistance_req" class="control-label nonRequiredField">Assistance Required</label>
                    <div class="controls ">{{form.assistance_req}}</div>
                </div>
            </div>
            <div class="col-sm-2" >
                <div id="div_id_communications" class="form-group"> 
                    <label for="id_communications" class="control-label nonRequiredField">Communications</label>
                    <div class="controls ">{{form.communications}}</div>
                </div>
            </div>
            <div class="col-sm-2" >
                <div id="div_id_other_info" class="form-group"> 
                    <label for="id_other_info" class="control-label nonRequiredField">Other Information</label>
                    <div class="controls ">{{form.other_info}}</div>
                </div>
            </div>
          </td>
        </tr>

      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_attack_agency">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#attack_agency" aria-expanded="true" aria-controls="attack_agency">
          Other Attack Agencies
        </a>
      </h4>
    </div>
    <div id="attack_agency" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_attack_agency">
      <div class="panel-body table_fs">

        <div class="row">
            <div class="col-sm-4" > 
                <div id="div_hazard_mgt" class="form-group"> 
                    <label for="id_hazard_mgt" class="control-label nonRequiredField">Hazard Management Agency</label>
                    <div class="controls ">{{form.hazard_mgt}}</div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div id="div_id_other_hazard_mgt" class="form-group"> 
                    <label for="id_other_hazard_mgt" class="control-label requiredField">Other Hazard Management Agency*</label>
                    <div class="controls ">{{form.other_hazard_mgt}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" > 
                <div id="div_id_initial_control" class="form-group"> 
                    <label for="id_initial_control" class="control-label nonRequiredField">Initial controlling Agency</label>
                    <div class="controls ">{{form.initial_control}}</div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div id="div_id_other_initial_control" class="form-group"> 
                    <label for="id_other_initial_control" class="control-label requiredField">Other Initial Control Agency*</label>
                    <div class="controls ">{{form.other_initial_ctrl}}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" > 
                <div id="div_id_final_control" class="form-group"> 
                    <label for="id_final_control" class="control-label nonRequiredField">Final Controlling Agency</label>
                    <div class="controls ">{{form.final_control}}</div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div id="div_id_other_final_control" class="form-group"> 
                    <label for="id_other_final_control" class="control-label requiredField">Other Final Control Agency*</label>
                    <div class="controls ">{{form.other_final_ctrl}}</div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_private_damage">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#private_damage" aria-expanded="true" aria-controls="private_damage">
          Private Damage and Personal Injury
        </a>
      </h4>
    </div>
    <div id="private_damage" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_private_damage">
      <div class="panel-body">
        {% include "bfrs/private_damage_fs.html" %}
      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_public_damage">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#public_damage" aria-expanded="true" aria-controls="public_damage">
          Public Land Damage
        </a>
      </h4>
    </div>
    <div id="public_damage" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_public_damage">
      <div class="panel-body">
        {% include "bfrs/public_damage_fs.html" %}
      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_comments">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#comments" aria-expanded="true" aria-controls="comments">
          Comments
        </a>
      </h4>
    </div>
    <div id="comments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_comments">
      <div class="panel-body">
        {% include "bfrs/comments_fs.html" %}
      </div>
    </div>
  </div>

</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
        <input type="submit" value="Save" class="btn btn-primary btn-success" name="_save" />
        <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
      </p>
    </div>
  </div>
</div>

  </form>


<script>

//$('#id_latlong').find('input, textarea, button, select').attr('disabled','disabled');
//$('#id_mga_zone').find('input, textarea, button, select').attr('disabled','disabled');
//$('#id_fd_grid').find('input, textarea, button, select').attr('disabled','disabled');

// $('[id^=""]').hide() // starts with 
$('[id$="-date"]').datetimepicker({ format: "Y-m-d H:i" }); //ends with

$('#id_fire_not_found').click(function() {
    if ($(this).is(':checked')) {
        $('#id_latlong').hide();
        $('#id_mga').hide();
        $('#id_fd_grid').hide();
        $('#id_coord_type').prop('selectedIndex', 0);
    } else {
        var coord_type = $('#id_coord_type :selected').text();
        //console.log('Co Ord Type' + coord_type);
        if (coord_type.indexOf('---') > -1) {
            $('#id_latlong').hide();
            $('#id_mga').hide();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', true);
            $('#id_coord_type').prop('selectedIndex', 0);
        } else if (coord_type=='Lat/Long') {
            $('#id_latlong').show();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', false);

            // calc MGA
            $('#id_mga').show();
            $('#id_mga').prop("readonly", true);
        } else if (coord_type=='MGA') {
            $('#id_mga').show();
            $('#id_latlong').hide();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', false);

            // calc Lat/Long
            $('#id_latlong').show();
            $('#id_latlong').prop("readonly", true);
        } else if (coord_type=='FD Grid') {
            $('#id_fd_grid').show();
            $('#id_latlong').hide();
            $('#id_mga').hide();
            $('#id_fire_not_found').prop('checked', false);
        }
    }
});

$('#id_coord_type').on('change', function() {
    var coord_type = $('#id_coord_type :selected').text();
    //console.log(' *** Co Ord Type' + coord_type);
    if (coord_type.indexOf('---') > -1) {
        $('#id_latlong').hide();
        $('#id_mga').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', true);
        $('#id_coord_type').prop('selectedIndex', 0);
    } else if (coord_type=='Lat/Long') {
        $('#id_latlong').show();
        $('#id_mga').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', false);

        // calc MGA
        $('#id_mga').show();
        $('#id_mga').find('input, textarea, button, select').prop('disabled',true);
        $('#id_latlong').find('input, textarea, button, select').prop('disabled',false);

        //$('#id_mga_zone').val(111);
        //convert_origin();
    } else if (coord_type=='MGA') {
        $('#id_mga').show();
        $('#id_latlong').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', false);

        // calc Lat/Long
        $('#id_latlong').show();
        $('#id_latlong').find('input, textarea, button, select').prop('disabled',true);
        $('#id_mga').find('input, textarea, button, select').prop('disabled',false);

        //$('#id_lat_decimal').val(222);
        //convert_origin();
    } else if (coord_type=='FD Grid') {
        $('#id_fd_grid').show();
        $('#id_latlong').hide();
        $('#id_mga').hide();
        $('#id_fire_not_found').prop('checked', false);
    }
});

    $(function(){
        var coord_type = $('#id_first_attack :selected').text();
        // This first part is needed for first page load
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_first_attack').show();
        } else {
            $('#div_id_other_first_attack').hide();
        }

        $('#id_first_attack').on('change', function() {
            var coord_type = $('#id_first_attack :selected').text();
            //console.log('Co Ord Type' + coord_type);
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_first_attack').show();
            } else {
                $('#div_id_other_first_attack').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_hazard_mgt :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_hazard_mgt').show();
        } else {
            $('#div_id_other_hazard_mgt').hide();
        }

        $('#id_hazard_mgt').on('change', function() {
            var coord_type = $('#id_hazard_mgt :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_hazard_mgt').show();
            } else {
                $('#div_id_other_hazard_mgt').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_initial_control :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_initial_control').show();
        } else {
            $('#div_id_other_initial_control').hide();
        }

        $('#id_initial_control').on('change', function() {
            var coord_type = $('#id_initial_control :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_initial_control').show();
            } else {
                $('#div_id_other_initial_control').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_final_control :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_final_control').show();
        } else {
            $('#div_id_other_final_control').hide();
        }

        $('#id_final_control').on('change', function() {
            var coord_type = $('#id_final_control :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_final_control').show();
            } else {
                $('#div_id_other_final_control').hide();
            }
        });
    });


$('.collapse').collapse()

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});


</script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}
