{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% comment %}<li><a href="{% url 'bushfire:bushfire_final' object.id %}">{% trans 'Final' %}</a></li> {% endcomment %}
  <li>{% trans 'Final' %}</li>
  <li>{{ object.unique_id}}</li>
</ul>
{% endblock %}


  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  {% endblock %}

  {% comment %}
  {% endcomment %}

  {% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

  {% endblock %}


{% block content %}

{% comment %}
{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endcomment %}

{% if form.errors %}
    <p>Form Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors  }}
        {% else %}
            <p>**********</p>
        {% endif %}

    </div>
{% endif %}

{% if area_burnt_formset.total_error_count > 0 %}
    <p>Area Burnt Errors: {{ area_burnt_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in area_burnt_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if fire_behaviour_formset.total_error_count > 0 %}
    <p>Fire behaviour Errors: {{ fire_behaviour_formset.total_error_count }}</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for fs in fire_behaviour_formset %} 
            {% for field in fs %} 
                {% if field.errors %}
                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                {% endif %}
            {% endfor %}
            {% if fs.non_field_errors %}
                {{ fs.non_field_errors  }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


  <form action="" method="post">{% csrf_token %}

<h2>{{form.instance.district}} - {{form.instance.name}}</h2>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th class="cbas">Region *</th>
            <td class="cbas">{{form.region}}</td>

            <th class="cbas">District *</th>
            <td class="cbas">{{form.district}}</td>
        </tr>


        <tr>
            <th class="cbas">Fire Number *</th>
            <td class="cbas">{{form.incident_no}}</td>

            <th class="cbas">Job Code</th>
            <td class="cbas">{{form.job_code}}</td>

            <th class="cbas">DFES Fire number</th>
            <td class="cbas">{{form.dfes_incident_no}}</td>
        </tr>


        <tr>
            <th class="cbas">Name *</th>
            <td colspan="1" class="cbas">{{form.name}}</td>

            <th class="cbas">Financial Year *</th>
            <td class="cbas">{{form.year}}</td>
        </tr>

        <tr>
            <th class="cbas">Fire Position *</th>
            <td colspan="4" class="cbas">{{form.fire_position}}</td>
        </tr>

        <tr>
            <th class="cbas">Field Officer *</th>
            <td class="cbas">{{form.field_officer}}</td>

            <th class="cbas">Duty Officer</th>
            <td class="cbas">{{form.duty_officer}}</td>
        </tr>

        {% if final_authorised %} 
        <tr>
            <th class="cbas">Authorised By *</th>
            <td class="cbas">{{form.authorised_by}}</td>

            <th class="cbas">Authorised Date *</th>
            <td class="cbas">{{form.authorised_date|date_fmt}}</td>
        </tr>
        {% endif %}
  </tbody>
</table>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th class="cbas">Maximum Fire Level *</th>
            <td class="cbas">{{form.max_fire_level}}</td>

            <th class="cbas">Media Alert Required</th>
            <td class="cbas">{{form.media_alert_req}} Call PICA on ....</td>

            <th class="cbas">Investigation Required</th>
            <td class="cbas">{{form.investigation_req}}</td>
        </tr>

        <tr>
            <th class="cbas">Cause *</th>
            <td class="cbas">{{form.cause}}</td>

            <th class="cbas">Other Cause *</th>
            <td colspan="4" class="cbas">{{form.other_cause}}</td>
        </tr>

        <tr>
            <th class="cbas">Fire Detected</th>
            <td class="cbas">{{form.fire_detected_date}}</td>

            <th class="cbas">Dispatch - P&W</th>
            <td class="cbas">{{form.dispatch_pw_date}}</td>

            <th class="cbas">Dispatch - Aerial</th>
            <td class="cbas">{{form.dispatch_aerial_date}}</td>
        </tr>

        <tr>
            <th class="cbas">Fire Contained</th>
            <td class="cbas">{{form.fire_contained_date}}</td>

            <th class="cbas">Fire Controlled</th>
            <td class="cbas">{{form.fire_controlled_date}}</td>

            <th class="cbas">Fire Safe</th>
            <td class="cbas">{{form.fire_safe_date}}</td>
        </tr>

        <tr>
            <th class="cbas">Estimated Time to Control</th>
			<td colspan="5" class="cbas">
				<span>{{form.days}} Days {{form.hours}} Hours</span>
			</td>
        </tr>



  </tbody>
</table>

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th class="cbas">Initial Attack Agency *</th>
            <td class="cbas">{{form.first_attack}}</td>

            <th class="cbas">Other Initial Attack Agency *</th>
            <td class="cbas">{{form.other_first_attack}}</td>
        </tr>

        <tr>
            <th class="cbas">Initial Controlling Agency *</th>
            <td class="cbas">{{form.initial_control}}</td>

            <th class="cbas">Other Initial Controlling Agency *</th>
            <td class="cbas">{{form.other_initial_control}}</td>
        </tr>

        <tr>
            <th class="cbas">Final Controlling Agency *</th>
            <td class="cbas">{{form.final_control}}</td>

            <th class="cbas">Other Final Controlling Agency *</th>
            <td class="cbas">{{form.other_final_control}}</td>
        </tr>



  </tbody>
</table>



{% include "bfrs/origin2.html" %}
{% include "bfrs/tenure_veg_fs.html" %}

<div class="accordion-expand-holder">
    <button type="button" class="open-all"><i class="icon-plus icon-white"></i> Expand All</button>
    <button type="button" class="close-all" style="display: none;"><i class="icon-minus icon-white"></i> Collapse All</button>
</div>
<br>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_other_info">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#other_info" aria-expanded="true" aria-controls="other_info">
          Add Other Information
        </a>
      </h4>
    </div>
    <div id="other_info" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_other_info">
      <div class="panel-body">

        <tr>
          <td class="cbas">
            <div class="col-sm-3" >
                <div id="div_id_communications" class="form-group"> 
                    <label for="id_communications" class="control-label nonRequiredField">Communications</label>
                    <div class="controls ">{{form.communications}}</div>
                </div>
            </div>
            <div class="col-sm-3" >
                <div id="div_id_other_info" class="form-group"> 
                    <label for="id_other_info" class="control-label nonRequiredField">Other Information</label>
                    <div class="controls ">{{form.other_info}}</div>
                </div>
            </div>
			<div class="col-sm-3" >
                <div id="div_id_assistance_req" class="form-group"> 
                    <label for="id_assistance_req" class="control-label nonRequiredField">Assistance Required</label>
                    <div class="controls ">{{form.assistance_req}}</div>
                </div>
            </div>
            <div class="col-sm-3" >
                <div id="div_id_assistance_details" class="form-group"> 
                    <label for="id_assistance_details" class="control-label nonRequiredField">Assistance Details</label>
                    <div class="controls ">{{form.assistance_details}}</div>
                </div>
            </div>

          </td>
        </tr>

      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_fire_behaviour">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fire_behaviour" aria-expanded="true" aria-controls="fire_behaviour">
          Fire Behaviour
        </a>
      </h4>
    </div>
    <div id="fire_behaviour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_fire_behaviour">
      <div class="panel-body">
        {% include "bfrs/fire_behaviour_fs.html" %}
      </div>
    </div>
  </div>


  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_private_damage">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#private_damage" aria-expanded="true" aria-controls="private_damage">
          Injuries and Fatalities
        </a>
      </h4>
    </div>
    <div id="private_damage" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_private_damage">
      <div class="panel-body">
        {% include "bfrs/injuries_fs.html" %}
      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_public_damage">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#public_damage" aria-expanded="true" aria-controls="public_damage">
          Damage
        </a>
      </h4>
    </div>
    <div id="public_damage" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_public_damage">
      <div class="panel-body">
        {% include "bfrs/damage_fs.html" %}
      </div>
    </div>
  </div>

  <div class="panel-default">
    <div class="panel-heading" role="tab" id="pn_comments">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#comments" aria-expanded="true" aria-controls="comments">
          Comments
        </a>
      </h4>
    </div>
    <div id="comments" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pn_comments">
      <div class="panel-body">
        {% include "bfrs/comments_fs.html" %}
      </div>
    </div>
  </div>

</div>

<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
        <input type="submit" value="Save" class="btn btn-primary btn-success" name="_save" />
        <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
      </p>
    </div>
  </div>
</div>

  </form>


<script>

//$('#id_latlong').find('input, textarea, button, select').attr('disabled','disabled');
//$('#id_mga_zone').find('input, textarea, button, select').attr('disabled','disabled');
//$('#id_fd_grid').find('input, textarea, button, select').attr('disabled','disabled');

// $('[id^=""]').hide() // starts with 
$('[id$="-date"]').datetimepicker({ format: "Y-m-d H:i" }); //ends with

    $(function(){
        var coord_type = $('#id_first_attack :selected').text();
        // This first part is needed for first page load
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_first_attack').show();
        } else {
            $('#div_id_other_first_attack').hide();
        }

        $('#id_first_attack').on('change', function() {
            var coord_type = $('#id_first_attack :selected').text();
            //console.log('Co Ord Type' + coord_type);
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_first_attack').show();
            } else {
                $('#div_id_other_first_attack').hide();
            }
        });
    });


    $(function(){
        var coord_type = $('#id_initial_control :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_initial_control').show();
        } else {
            $('#div_id_other_initial_control').hide();
        }

        $('#id_initial_control').on('change', function() {
            var coord_type = $('#id_initial_control :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_initial_control').show();
            } else {
                $('#div_id_other_initial_control').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_final_control :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_final_control').show();
        } else {
            $('#div_id_other_final_control').hide();
        }

        $('#id_final_control').on('change', function() {
            var coord_type = $('#id_final_control :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_final_control').show();
            } else {
                $('#div_id_other_final_control').hide();
            }
        });
    });


$('.collapse').collapse()

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});


</script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}
