{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}
{% load humanize %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% if create %}
    <li>{% trans 'Create' %}</li>
  {% else %}
  <li>{% if initial %}{% trans 'Initial' %}{% else %}{% trans 'Final' %}{% endif %}</li>
	<li>{% if object.report_status == object.STATUS_INVALIDATED %} <font color="red">{{ object.fire_number}} (Invalid)</font>{% else %}{{ object.fire_number }}{% endif %}</li>
  {% endif %}
</ul>
{% endblock %}

  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  {% endblock %}


  {% block extra_js %}
  {{ block.super }}

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  {% endblock %}


{% block content %}


<div>
  <div style='float: left;'>
    {% if object.report_status and object.report_status == object.STATUS_INVALIDATED %}
    <h1>Bushfire Detail
      <h2>
        <font color="red"> Report invalidated on {{object.modified|date_fmt}} by {{object.modifier}}</font>
        (Linked valid bushfire <a href="{% url 'bushfire:bushfire_initial' object.valid_bushfire.id %}">{{object.valid_bushfire.fire_number}}</a>)
      </h2>
    </h1>
    {% elif action == 'Submit' %}
      <h1>Confirm action 'Mark Notification Report Submitted'</h1>
    {% elif action == 'Authorise' %}
      <h1>Confirm action 'Mark Final Report Authorised'</h1>
    {% else %}
      <h1>Bushfire Detail</h1>
    {% endif %}
  </div>
</div>

<form action="" method="post">{% csrf_token %}

{{ form.sss_data.as_hidden }}
<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
          <th colspan="6" style="background: black; color: white; text-align: left; font-size: 16px; padding: 12px;" > BUSHFIRE NOTIFICATION (submit within 30 mins of detection)</th>
        </tr>

        <tr>
            <th class="cbas">District *</th>
            <td colspan="2" class="cbas">{{snapshot.region}}<span style="margin:20;"></span>{{snapshot.district}}</td>

            <th class="cbas">Financial Year *</th>
            <td colspan="2" class="cbas">{{snapshot.year|fin_year}}</td>
        </tr>

        <tr>
            <th class="cbas">Fire name *</th>
            <td colspan="2" class="cbas">{{snapshot.name}}</td>

            <th class="cbas">Date and time fire detected *</th>
            <td colspan="2" class="cbas">{{snapshot.fire_detected_date}}</td>
        </tr>

        <tr>
            <th class="cbas">P&W Fire no. *</th>
            <td colspan="2" class="cbas">{{snapshot.fire_number}}</td>

            <th class="cbas" style="font-weight:normal;">DFES Incident no.</th>
            <td colspan="2" class="cbas">{{snapshot.dfes_incident_no}}</td>
        </tr>

        <tr>
            <th width="25%" class="cbas" style="font-weight:normal;">Position of fire<br>(street address, or km from landmark/suburb)</th>
            <td colspan="2" class="cbas">
                {{snapshot.fire_position}}<br>{% if snapshot.fire_position_override %} SSS overide - {{snapshot.fire_position_override|yesno:"Yes,No"}} {% endif %}
            </td>

            <th class="cbas" style="font-weight:normal;">Point of origin</th>
            <td colspan="5" class="cbas">
                {{snapshot.origin_geo|is_none}} <br>
                {{snapshot.sss_data_to_dict.origin_point_mga|is_none}}

                {% comment %}
                {% if is_init_authorised %} 
                   {{snapshot.origin_geo|is_none}} <br>
                   {{snapshot.sss_data_to_dict.origin_point_mga|is_none}}
                {% else %} 
                    {{form.origin_point.value|deg_min_sec}} <br>
                    {{object.sss_data_to_dict.origin_point_mga|is_none}}
                {% endif %}
                {% endcomment %}
            </td>
        </tr>

        <tr>
            <th class="cbas">Tenure of ignition point *{% if snapshot.other_tenure %}<br> Other Tenure{% endif %}</th>
            <td colspan="2" class="cbas">{{snapshot.tenure}}{% if snapshot.other_tenure %}<br> {{snapshot.get_other_tenure_display}} {% endif %}</td>

            <th class="cbas">Duty Officer *</th>
            <td colspan="2" class="cbas">{{snapshot.duty_officer|is_none}}</td>
        </tr>
        <tr>
            <th class="cbas">P&W Resource dispatched *{% if snapshot.dispatch_pw == object.DISPATCH_PW_YES %}<br>Date and time of dispatch{% endif %}</th>
            <td colspan="2" class="cbas">{{snapshot.get_dispatch_pw_display}}{% if snapshot.dispatch_pw == object.DISPATCH_PW_YES %}<br>{{snapshot.dispatch_pw_date}} {% endif %}</td>

	    <th class="cbas">Aerial support dispatched *<br><br><div class=div_dispatch_aerial_date style="display: none;">Date and time of dispatch</div></th>
            <td colspan="2" class="cbas">{{snapshot.dispatch_aerial|yesno:"Yes,No"}}{% if snapshot.dispatch_aerial|yesno:"Yes,No" == 'Yes' %}<br>{{snapshot.dispatch_aerial_date}} {% endif %}</td>
        </tr>

        <tr>
	    <th class="cbas" id="id_th_initial_controlling_agency">Initial controlling agency *</th>
            <td colspan="2" class="cbas">{{snapshot.initial_control}} <br>{% if snapshot.other_initial_control %} Other initial controlling agency: {{snapshot.other_initial_control}} {% endif %}</td>

            <th class="cbas">Area of fire at arrival (ha) *</th>
            <td colspan="2" class="cbas">{% if snapshot.initial_area_unknown %}Unknown{% else %}{{snapshot.initial_area}}{% endif %}</td>
        </tr>

        <tr>
            <th class="cbas">Probable Fire Level *</th>
            <td colspan="2" class="cbas">{{snapshot.prob_fire_level}}</td>

            <th class="cbas">Investigation required *</th>
            <td colspan="2" class="cbas">{{snapshot.investigation_req|yesno:"Yes,No"}}</td>
        </tr>

        <tr>
            <th class="cbas">Media Alert Required *</th>
            <td colspan="2" class="cbas">{{snapshot.media_alert_req|yesno:"Yes,No"}} {% if snapshot.media_alert_req|yesno:"Yes,No" == 'Yes' %}<br> <span>call PICA on 9219 9999</span>{% endif %}</td>

            <th class="cbas">Park and/or Trail *<br>potentially impacted</th>
            <td colspan="2" class="cbas">{{snapshot.park_trail_impacted|yesno:"Yes,No"}} {% if snapshot.park_trail_impacted|yesno:"Yes,No" == 'Yes' %}<br> <span>PVS will be notified by email</span>{% endif %}</td>
        </tr>

        <tr>
            <th class="cbas" style="font-weight:normal;">Other information<br>(include Burn ID if cause is escape)</th>
            <td colspan="5" class="cbas">{{snapshot.other_info|is_none}}</td>
        </tr>


  </tbody>
</table>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel-default">
    <div role="tab" id="pn_fire_behaviour">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fire_behaviour" aria-expanded="true" aria-controls="fire_behaviour">
          <div colspan="6" style="background: black; color: white; text-align: left; font-size: 16px; padding: 12px;" > FIRE REPORT (Click to expand/collapse)</div>
        </a>
      </h4>
    </div>
    <div id="fire_behaviour" {% if initial %}class="panel-collapse collapse in" {% else %} class="panel-collapse collapse in" {% endif %} role="tabpanel" aria-labelledby="pn_fire_behaviour">
        {% include "bfrs/final_notification_summary.html" %}
    </div>
  </div>
</div>


{% if not action %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">

      {% if final and can_maintain_data %}
          <a id="id_edit_btn" href="{% url 'bushfire:bushfire_final' bushfire.id %}" title="Final fire report authorised on {{bushfire.authorised_date}} by {{bushfire.authorised_by}}" class="btn btn-primary btn-info">Edit Authorised</a>
      {% endif %}
      <a id="id_cancel_btn" href="{% url 'main' %}" class="btn btn-primary btn-info">Return</a>

      </p>
    </div>
  </div>
</div>
{% endif %}

</form>

{% if action %}
<!-- This section to allow redirect confirmation -->
<form action="" method="post">{% csrf_token %}
  <div>
    <input type="hidden" name="bushfire_id" value="{{snapshot.id}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="hidden" name="confirm_action" value="yes" />
    <input type="submit" class="btn" value="{% trans "Yes, I'm sure" %}" />
       {% comment %}
       <!-- Below line causes an error in the Django Formset -->
    <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
       {% endcomment %}
    {% if object.report_status < object.STATUS_INITIAL_AUTHORISED %}
        <a id="id_cancel_btn" href="{% url 'bushfire:bushfire_initial' snapshot.id %}" class="btn btn-primary btn-danger">Cancel</a>
    {% else %}
        <a id="id_cancel_btn" href="{% url 'bushfire:bushfire_final' snapshot.id %}" class="btn btn-primary btn-danger">Cancel</a>
    {% endif %}
  </div>
</form>
{% endif %}

<script>

{% if final %}
    $('.panel-collapse').collapse('show');
{% endif %}

/* Fire not Found */
//$('#id_fire_not_found').on('change', function() {
//    fire_not_found();
//}).change();


{% if snapshot.fire_not_found %}
    $(".div_form_invalidate *").prop('disabled',true).css({ opacity: 0.8  });
    $(".div_invalid_details").show();
    $(".div_fire_not_found").hide();
{% else %}
    $(".div_form_invalidate *").prop('disabled',false).css({ opacity: 1  });
    $(".div_invalid_details").hide();
    $(".div_fire_not_found").show();
{% endif %}
/* END - Fire not Found */

</script>

{% endblock %}
