{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}
{% load humanize %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% if create %}
    <li>{% trans 'Create' %}</li>
  {% else %}
  <li>{% if initial %}{% trans 'Initial' %}{% else %}{% trans 'Final' %}{% endif %}</li>
	<li>{% if object.report_status == object.STATUS_INVALIDATED %} <font color="red">{{ object.fire_number}} (Invalid)</font>{% else %}{{ object.fire_number }}{% endif %}</li>
  {% endif %}
</ul>
{% endblock %}

  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  {% endblock %}


  {% block extra_js %}
  {{ block.super }}

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  {% endblock %}


{% block content %}


  {% if form.errors %}
      <h1 class="errornote">
        <p>Form Errors</p>
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors  }}
        {% endif %}
      </h1>
  {% endif %}

  {% comment %}{% if fire_behaviour_formset.errors and fire_behaviour_formset.errors.0 %}{% endcomment %}
  {% if fire_behaviour_formset.errors|check_errors %}
      <h1 class="errornote">
        <p>Fire Behaviour formset Errors</p>
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for form in fire_behaviour_formset %} 
          {% for field in form %} 
            {% if field.errors %}
              <li>{{ field.label }}: {{ field.errors|striptags }}</li>
              {{ field.meta  }}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if fire_behaviour_formset.non_field_errors %}
          {{ fire_behaviour_formset.non_field_errors }}
        {% endif %}
      </h1>
  {% endif %}

  {% if damage_formset.errors|check_errors %}
      <h1 class="errornote">
        <p>Damage formset Errors</p>
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for form in damage_formset %} 
          {% for field in form %} 
            {% if field.errors %}
              <li>{{ field.label }}: {{ field.errors|striptags }}</li>
              {{ field.meta  }}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if damage_formset.non_field_errors %}
          {{ damage_formset.non_field_errors }}
        {% endif %}
      </h1>
  {% endif %}

  {% if injury_formset.errors|check_errors %}
      <h1 class="errornote">
        <p>Injury formset Errors</p>
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for form in injury_formset %} 
          {% for field in form %} 
            {% if field.errors %}
              <li>{{ field.label }}: {{ field.errors|striptags }}</li>
              {{ field.meta  }}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if injury_formset.non_field_errors %}
          {{ injury_formset.non_field_errors }}
        {% endif %}
      </h1>
  {% endif %}


<div>
  <div style='float: left;'>
    {% if object.report_status and object.report_status == object.STATUS_INVALIDATED %}
    <h1>Bushfire Detail
      <h2>
        <font color="red"> Report invalidated on {{object.modified|date_fmt}} by {{object.modifier}}</font>
        (Linked valid bushfire <a href="{% url 'bushfire:bushfire_initial' object.valid_bushfire.id %}">{{object.valid_bushfire.fire_number}}</a>)
      </h2>
    </h1>
    {% elif action == 'Submit' %}
      <h1>Confirm action 'Mark Notification Report Submitted'</h1>
    {% elif action == 'Authorise' %}
      <h1>Confirm action 'Mark Final Report Authorised'</h1>
    {% else %}
      <h1>Bushfire Detail</h1>
    {% endif %}
  </div>
  <div style='float: right;'>
    {% if request.user.is_superuser or can_maintain_data %}
      {% if not create %}<a class="btn btn-default" href="{% url 'bushfire:bushfire_history' bushfire.id %}">History</a>{% endif %}
    {% endif %}
  </div>
</div>

<form action="" method="post">{% csrf_token %}

{{ form.sss_data.as_hidden }}
<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
          <th colspan="6" style="background: black; color: white; text-align: left; font-size: 16px; padding: 12px;" > BUSHFIRE NOTIFICATION (submit within 30 mins of detection)</th>
        </tr>

        <tr>
            <th class="cbas">District *</th>
            <td colspan="2" class="cbas">
                {% if can_maintain_data %}
                  {% if not action or not is_init_authorised %}
                    {{form.region}}<span style="margin:20;"></span>
                    {{form.district}}
                  {% endif %}
                {% else %}
                  {% if object %}
                    {{object.region}}<span style="margin:20;"></span>{{object.district}}
                  {% else %}
                    <!-- object not yet created - get district from SSS -->
                    {{form.district.value|enum_name:"district"}}
                  {% endif %}
                  {{form.region.as_hidden}}
                  {{form.district.as_hidden}}
                {% endif %}

            </td>

            <th class="cbas">Financial Year *</th>
            <td colspan="2" class="cbas">{{snapshot.year|fin_year}} {{form.year.as_hidden}}</td>
        </tr>

        <tr>
            <th class="cbas">Fire name *</th>
            <td colspan="2" class="cbas"> {% if is_init_authorised %} {{snapshot.name}} {{form.name.as_hidden}}{% else %} {{form.name}} {% endif %} </td>

            <th class="cbas">Date and time fire detected *</th>
            <td colspan="2" class="cbas">{% if is_init_authorised %} {{snapshot.fire_detected_date}} {{form.fire_detected_date.as_hidden}} {% else %} {{form.fire_detected_date}} {% endif %}</td>
        </tr>

        <tr>
            <th class="cbas">P&W Fire no. *</th>
            <td colspan="2" class="cbas">{% if object %} {{object.fire_number}} {% else %} autogenerated on save {% endif %}</td>

            <th class="cbas" style="font-weight:normal;">DFES Incident no.</th>
            <td colspan="2" class="cbas">{{form.dfes_incident_no}}</td>
        </tr>

        <tr>
            <th width="25%" class="cbas" style="font-weight:normal;">Position of fire<br>(street address, or km from landmark/suburb)</th>
            <td colspan="2" class="cbas">
                {% if is_init_authorised %} 
                    {{snapshot.fire_position}} {{form.fire_position.as_hidden}}
                {% else %} 
                    {{form.fire_position}} <br>
                    {{form.fire_position_override}} SSS override
                {% endif %} 
            </td>

            <th class="cbas" style="font-weight:normal;">Point of origin</th>
            <td colspan="5" class="cbas">
                {% if is_init_authorised %} 
                    {{object.origin_geo|is_none}} <br>
                    {{object.sss_data_to_dict.origin_point_mga|is_none}}
                {% else %}
                    {{form.origin_point.value|deg_min_sec}} <br>
                    {{object.sss_data_to_dict.origin_point_mga|is_none}}
                {% endif %}
            </td>
        </tr>

        <tr>
            <th class="cbas">Tenure of ignition point *<br><br><div class=div_tenure style="visibility: hidden;">Other Tenure *</div></th>
                {% comment %}
            <td colspan="2" class="cbas">{% if is_init_authorised %} {{snapshot.tenure}} <br>{% if snapshot.other_tenure %} {{snapshot.get_other_tenure_display}} {% endif %} {{form.tenure.as_hidden}} {{form.other_tenure.as_hidden}} {% else %} {{form.tenure}} {% endif %}
                <div class="div_tenure" style="visibility: hidden;">{{form.other_tenure}}</div>
            </td>
                {% endcomment %}
            <td colspan="2" class="cbas">{{form.tenure}}<br><div class="div_tenure" style="visibility: hidden;">{{form.other_tenure}}</div></td>
                
            <th class="cbas">Duty Officer *</th>
            <td colspan="2" class="cbas">{{form.duty_officer}}</td>
        </tr>

        <tr>
            <th class="cbas">P&W Resource dispatched *<br><br><div class=div_dispatch_pw_date style="display: none;">Date and time of dispatch</div></th>
            <td colspan="2" class="cbas">
                {% comment %}
                {% if is_init_authorised %} 
                    {{snapshot.get_dispatch_pw_display}}{% if snapshot.dispatch_pw == object.DISPATCH_PW_YES %}<br>{{snapshot.dispatch_pw_date}} {% endif %}
                {% else %} 
                    {{form.dispatch_pw}}<br><div class=div_dispatch_pw_date style="display: none;">{{form.dispatch_pw_date}}</div>
                {% endif %}
                {% endcomment %}
                {% if snapshot.is_init_submitted and not can_maintain_data %} 
                    {{snapshot.get_dispatch_pw_display}}<br>{{snapshot.dispatch_pw_date}}
                {% else %}
                    {{form.dispatch_pw}}<br><div class=div_dispatch_pw_date style="display: none;">{{form.dispatch_pw_date}}</div>
                {% endif %}
            </td>

            <th class="cbas">Aerial suppression dispatched *<br><br><div class=div_dispatch_aerial_date style="display: none;">Date and time of dispatch</div></th>
            <td colspan="2" class="cbas">
                {% comment %}
                {% if is_init_authorised %} 
                    {{snapshot.dispatch_aerial|yesno:"Yes,No"}}{% if snapshot.dispatch_aerial|yesno:"Yes,No" == 'Yes' %}<br>{{snapshot.dispatch_aerial_date}}{% endif %}
                {% else %} 
                    {{form.dispatch_aerial}}<br><div class=div_dispatch_aerial_date style="display: none;">{{form.dispatch_aerial_date}}</div>
                {% endif %} 
                {% endcomment %}
                {% if snapshot.is_init_submitted and not can_maintain_data %} 
                    {{snapshot.get_dispatch_aerial_display}}<br>{{snapshot.dispatch_aerial_date}}
                {% else %}
                    {{form.dispatch_aerial}}<br><div class=div_dispatch_aerial_date style="display: none;">{{form.dispatch_aerial_date}}</div>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th class="cbas" id="id_th_initial_controlling_agency">Initial controlling agency *<br><br><div class=div_other_initial_control style="display: none;">Other initial controlling agency *</div></th>
            <td colspan="2" class="cbas">
                {% if is_init_authorised %} 
                    {{snapshot.initial_control}} {{form.initial_control.as_hidden}} <br>{% if snapshot.other_initial_control %}Other agency: {{snapshot.other_initial_control}} {{form.other_initial_control.as_hidden}} {% endif %}
                {% else %} 
                    {{form.initial_control}}<br><div class=div_other_initial_control style="display: none;">{{form.other_initial_control}}</div>
                {% endif %} 
            </td>

            <th class="cbas">Area of fire at arrival (ha) *</th>
            <td colspan="2" class="cbas">
                {% if is_init_authorised %} 
                {% if snapshot.initial_area_unknown %} {{form.initial_area_unknown.as_hidden}} Unknown{% else %}{{snapshot.initial_area}} {{form.initial_area.as_hidden}} {% endif %}
                {% else %} 
                    <span class="div_initial_area_unknown" style="display: none;">{{form.initial_area_unknown}} Unknown<br></span>
                    <div class="div_initial_area" style="visibility: visible;">{{form.initial_area}}</div>
                {% endif %} 
            </td>

        </tr>

        <tr>
            <th class="cbas">Probable Fire Level *</th>
            <td colspan="2" class="cbas">{% if is_init_authorised %} {{snapshot.prob_fire_level}} {{form.prob_fire_level.as_hidden}} {% else %} {{form.prob_fire_level}} {% endif %}</td>

            <th class="cbas">Investigation required *</th>
            <td colspan="2" class="cbas">{% if is_init_authorised %} {{snapshot.investigation_req|yesno:"Yes,No"}} {{form.investigation_req.as_hidden}} {% else %} {{form.investigation_req}} {% endif %}</td>
        </tr>

        <tr>
            <th class="cbas">Media Alert Required *</th>
            <td colspan="2" class="cbas">
                {% if is_init_authorised %} {{snapshot.media_alert_req|yesno:"Yes,No"}}<br>{{form.media_alert_req.as_hidden}} {% else %} {{form.media_alert_req}}<br> {% endif %} <span class="div_pica" style="display: none;">call PICA on 9219 9999</span>
            </td>

            <th class="cbas">Park and/or Trail *<br>potentially impacted</th>
            <td colspan="2" class="cbas">
                {% if is_init_authorised %} {{snapshot.park_trail_impacted|yesno:"Yes,No"}} {{form.park_trail_impacted.as_hidden}}<br> {% else %} {{form.park_trail_impacted}}<br> {% endif %}<span class="div_pvs" style="display: none;">PVS will be notified by email</span>
            </td>
        </tr>

        <tr>
            <th class="cbas" style="font-weight:normal;">Other information<br>(include Burn ID if cause is escape)</th>
            <td colspan="5" class="cbas">{% if is_init_authorised %} {{snapshot.other_info}} {{form.other_info.as_hidden}}<br> {% else %} {{form.other_info}} {% endif %}</td>
        </tr>

  </tbody>
</table>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel-default">
    <div role="tab" id="pn_fire_behaviour">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#fire_behaviour" aria-expanded="true" aria-controls="fire_behaviour">
          <div colspan="6" style="background: black; color: white; text-align: left; font-size: 16px; padding: 12px;" > FIRE REPORT (Click to expand/collapse)</div>
        </a>
      </h4>
    </div>
    <div id="fire_behaviour" {% if initial %}class="panel-collapse collapse in" {% else %} class="panel-collapse collapse in" {% endif %} role="tabpanel" aria-labelledby="pn_fire_behaviour">
        {% include "bfrs/final_notifications.html" %}
    </div>
  </div>
</div>


{% if not action %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
      {% if object.report_status != object.STATUS_INVALIDATED or not object.report_status %}
        {% if create or initial %}

          <input type="submit" value="Save draft" class="btn btn-primary btn-success" name="_save" {% if is_init_authorised %}title="Submitted Notification report cannot be edited" disabled{% endif %} />

          {% if create %}
            <input type="submit" value="Save and continue" class="btn btn-primary btn-success" name="_save_continue" />
          {% else %}
          <input type="submit" value="Submit" class="btn btn-primary btn-success" name="submit_initial" {% if is_init_authorised %}title="Notification Report already submitted" disabled{% else %}title="Save and submit"{% endif %} />
          {% comment %}
            <a id="id_submit_btn" href="{% url 'bushfire:initial_snapshot' snapshot.id %}?action=submit_initial" class="btn btn-primary btn-danger">Submit 2</a>
            <input formaction="{% url 'bushfire:initial_snapshot' snapshot.id %}" type="submit" value="Submit" class="btn btn-primary btn-success" name="submit_initial" />
          {% endcomment %}
          {% endif %}

        {% else %}

          <input type="submit" {% if object.report_status and object.report_status >= object.STATUS_INITIAL_AUTHORISED %}value="Save final"{% else %} value="Save draft"{% endif %} class="btn btn-primary btn-success" name="_save" {% if is_authorised %}title="Final Report cannot be edited" disabled{% endif %} />
          <input type="submit" value="Authorise" class="btn btn-primary btn-success" name="authorise_final" {% if object.report_status >= object.STATUS_FINAL_AUTHORISED %}title="Final Report already authorised on {{object.authorised_date}} by {{object.authorised_by}}" disabled{% elif is_authorised %}disabled{% else %}title="Save and authorise"{% endif %} />

        {% endif %}
      {% endif %}

      {% if form.errors or fire_behaviour_formset.errors|check_errors or damage_formset.errors|check_errors or injury_formset.errors|check_errors %}
        <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
      {% else %}
        <a id="id_cancel_btn" href="{% url 'main' %}" class="btn btn-primary btn-danger">Cancel</a>
      {% endif %}

      </p>
    </div>
  </div>
</div>
{% endif %}

</form>


{% if action %}
<!-- This section to allow redirect confirmation -->
<form action="" method="post">{% csrf_token %}
  <div>
    <input type="hidden" name="bushfire_id" value="{{snapshot.id}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="hidden" name="confirm_action" value="yes" />
    <input type="submit" class="btn" value="{% trans "Yes, I'm sure" %}" />
	{% comment %}
	<!-- Below line causes an error in the Django Formset -->
    <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
	{% endcomment %}
    {% if object.report_status < object.STATUS_INITIAL_AUTHORISED %}
        <a id="id_cancel_btn" href="{% url 'bushfire:bushfire_initial' bushfire.id %}" class="btn btn-primary btn-danger">Cancel</a>
    {% else %}
        <a id="id_cancel_btn" href="{% url 'bushfire:bushfire_final' bushfire.id %}" class="btn btn-primary btn-danger">Cancel</a>
    {% endif %}
  </div>
</form>
{% endif %}



<script>

{% if final %}
  $('.panel-collapse').collapse('show');
{% endif %}

$("#id_hours").attr('min',0)
$("#id_days").attr('min',0)

// prevent user from submitting the form multiple times
{% if create %}
  $('form').submit(function() {
    $(this).find("input[type='submit']").click(false);
  });
{% endif %}

// $('[id^=""]').hide() // starts with --> http://xdsoft.net/jqplugins/datetimepicker/

$('[id$="_date"]').datetimepicker({ 
    format: "Y-m-d H:i" ,
    maxDate:true,
    //maxTime:true,
}); //ends with

$('#id_fire_detected_date').on('change', function () {
        var d = $('#id_fire_detected_date').datetimepicker('getValue');
        var now = moment();
        //console.log('d ' + d +  ' - moment() ', now)
        $('#div_fire_detected_date').remove();
        if (d.valueOf() > now.valueOf()) {
            $('#id_fire_detected_date').after('<div id="div_fire_detected_date"><p><font color="red">Date/time cannot be in the future. Reseting to current date/time ...</font></p><div>');
            $('#id_fire_detected_date').val(now.format('YYYY-MM-DD H:mm'));
        }
});

$('#id_field_officer').prop('class', 'selectpicker dropup');
$('#id_duty_officer').prop('class', 'selectpicker dropup');

$('.selectpicker').selectpicker({
  style: 'btn-default',
  size: 6,
  liveSearch: true,
  dropupAuto: false,
  closeOnDateSelect: true,
});

/* dispatch PW */
$('#id_dispatch_pw_0').on('change', function() {
	if($('#id_dispatch_pw_0').is(':checked')) { $('.div_dispatch_pw_date').show(); }
	$('#id_th_field_officer').css("font-weight", "bold");
	$("#id_th_field_officer").html("Field Officer *");
}).change();
$('#id_dispatch_pw_1').on('change', function() {
	if($('#id_dispatch_pw_1').is(':checked')) { $('.div_dispatch_pw_date').hide(); }
	$('#id_th_field_officer').css("font-weight", "normal");
	$("#id_th_field_officer").html("Field Officer");
}).change();

/* dispatch Aerial */
$('#id_dispatch_aerial_0').on('change', function() {
	if($('#id_dispatch_aerial_0').is(':checked')) { $('.div_dispatch_aerial_date').show(); }
}).change();
$('#id_dispatch_aerial_1').on('change', function() {
	if($('#id_dispatch_aerial_1').is(':checked')) { $('.div_dispatch_aerial_date').hide(); }
}).change();

/* PICA Text */
$('#id_media_alert_req_0').on('change', function() {
	if($('#id_media_alert_req_0').is(':checked')) { $('.div_pica').show(); }
}).change();
$('#id_media_alert_req_1').on('change', function() {
	if($('#id_media_alert_req_1').is(':checked')) { $('.div_pica').hide(); }
}).change();

/* Parks and Trails Text */
$('#id_park_trail_impacted_0').on('change', function() {
	if($('#id_park_trail_impacted_0').is(':checked')) { $('.div_pvs').show(); }
}).change();
$('#id_park_trail_impacted_1').on('change', function() {
	if($('#id_park_trail_impacted_1').is(':checked')) { $('.div_pvs').hide(); }
}).change();

/* Fire Behaviour Unknown */
$('#id_fire_behaviour_unknown').on('change', function() {
	if($('#id_fire_behaviour_unknown').is(':checked')) { 
	    $('.div_fire_behaviour_unknown').hide(); 
	} else {
	    $('.div_fire_behaviour_unknown').show(); 
	}
}).change();

/* Damage Unknown */
$('#id_damage_unknown').on('change', function() {
	if($('#id_damage_unknown').is(':checked')) { 
        $('.div_damage_unknown').css('visibility','hidden');
	} else {
        $('.div_damage_unknown').css('visibility','visible');
	}
}).change();

/* Injury Unknown */
$('#id_injury_unknown').on('change', function() {
	if($('#id_injury_unknown').is(':checked')) { 
        $('.div_injury_unknown').css('visibility','hidden');
	} else {
        $('.div_injury_unknown').css('visibility','visible');
	}
}).change();


/* Damage Unknown */
/*
$('#id_damage_unknown').on('change', function() {
	if($('#id_damage_unknown').is(':checked')) { 
        $('.div_damage_unknown *').prop('disabled',true).css({ opacity: 0.8  });
        $(".div_damage_unknown a").css('visibility','hidden');

	} else {
        $('.div_damage_unknown *').prop('disabled',false).css({ opacity: 1.0  });
        $(".div_damage_unknown a").css('visibility','visible');
	}
}).change();
*/

/* Injury Unknown */
/*
$('#id_injury_unknown').on('change', function() {
	if($('#id_injury_unknown').is(':checked')) { 
        //alert('** 1')
        $('.div_injury_unknown *').prop('disabled',true).css({ opacity: 0.8 });
        $('.div_injury_unknown a').css('visibility','hidden');
	} else {
        //alert('** 2')
        $('.div_injury_unknown *').prop('disabled',false).css({ opacity: 1.0 });
        $('.div_injury_unknown a').css('visibility','visible');
	}
}).change();
*/

/* Assistance Required */
/*
$('#id_assistance_req_0').on('change', function() {
	if($('#id_assistance_req_0').is(':checked')) { $('.div_assist').show(); }
}).change();
$('#id_assistance_req_1').on('change', function() {
	if($('#id_assistance_req_1').is(':checked')) { $('.div_assist').hide(); }
}).change();
*/

/* Fire Cause */
$('#id_cause').on('change', function() {
	var cause = $('#id_cause :selected').text();
	//console.log('Cause Type: ' + cause);
	if (cause.indexOf('Other') > -1) {
		$('.div_cause').show();
	} else {
		$('.div_cause').hide();
	}
}).change();

/* Fire Cause Escape */
$('#id_cause').on('change', function() {
	var cause = $('#id_cause :selected').text();
	//console.log('Cause Type: ' + cause);
	if (cause.indexOf('Escape P&W') > -1) {
		$('.div_cause_escape').show();
	} else {
		$('.div_cause_escape').hide();
	}
}).change();

/* Tenure */
$('#id_tenure').on('change', function() {
	var tenure = $('#id_tenure :selected').text();
    //$("#id_tenure").replaceWith('<input id="id_tenure" type="text" value=' + tenure + ' />');
    
    if (tenure.indexOf('Other') > -1) {
		$('.div_tenure').css('visibility','visible');
	} else {
		$('.div_tenure').css('visibility','hidden');
	}

    // Make Tenure of ignition un-editable
    $('#id_tenure').css('background-color' , '#DEDEDE');
    $('#id_tenure').mousedown(function(e){ e.preventDefault(); });

}).change();

// default is to collapse all on page load
/*
$('.collapse').collapse()

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});
*/

/* Initial Area Override */
// Only allow override if no fire_boundary supllied

{% if not object.is_init_authorised %}
$('#id_initial_area').val({{object.sss_data_to_dict.area.total_area|floatformat:2}});
if( {{object.fire_boundary|yesno:"true,false"}} || {{sss_data.area.total_area|yesno:"true,false"}} ) { 
    $('.div_area_unknown').hide();
    $('#id_initial_area_unknown').prop('checked', false);
	$("#id_initial_area").attr('readonly','readonly').css('background-color' , '#DEDEDE');
} else {
    $('.div_initial_area_unknown').show();
    $('.div_initial_area').css('visibility','visible');
	$("#id_initial_area").removeAttr('readonly').removeAttr('style');
}

$('#id_initial_area_unknown').on('change', function() {
    if($("#id_initial_area_unknown").is(':checked')) { 
		    $('.div_initial_area').css('visibility','hidden');
	} else {
		$('.div_initial_area').css('visibility','visible');
	}
}).change();
{% endif %}

$("#id_initial_area").prop('min', 0);
/* END - Area Override */

/* Fire Position Override */
var orig_fire_position = $("#id_fire_position").val();
$('#id_fire_position_override').on('change', function() {
    if($("#id_fire_position_override").is(':checked')) { 
	    $("#id_fire_position").removeAttr('readonly').removeAttr('style');
	} else {
        $("#id_fire_position").val(orig_fire_position);
	    $("#id_fire_position").attr('readonly','readonly').css('background-color' , '#DEDEDE');
	}
}).change();

/* Fire monitored Only Labels*/
$('#id_fire_monitored_only').on('change', function() {
    if($("#id_fire_monitored_only").is(':checked')) { 
        $('#id_th_initial_attack_agency').css("font-weight", "normal");
        $("#id_th_initial_attack_agency").html("Initial attack agency");

        $('#id_th_fire_contained_date').css("font-weight", "normal");
        $("#id_th_fire_contained_date").html("Date fire contained <i class='icon-info-sign icon-white'>");

        $('#id_th_fire_controlled_date').css("font-weight", "normal");
        $("#id_th_fire_controlled_date").html("Date fire controlled <i class='icon-info-sign icon-white'>");

        {% if not object.fire_behaviour.all %}
            $('#id_fire_behaviour_unknown').prop('checked', true);
	        $('.div_fire_behaviour_unknown').hide(); 
        {% endif %}

	    $('#id_th_field_officer').css("font-weight", "normal");
	    $("#id_th_field_officer").html("Field Officer");

        /*
        $('#id_th_initial_controlling_agency').css("font-weight", "normal");
        $("#id_th_initial_controlling_agency").html("Initial controlling agency");
        $('#id_th_final_controlling_agency').css("font-weight", "normal");
        $("#id_th_final_controlling_agency").html("Final controlling agency");
        */
    } else {
        $('#id_th_initial_attack_agency').css("font-weight", "bold");
        $("#id_th_initial_attack_agency").html("Initial attack agency *");

        $('#id_th_fire_contained_date').css("font-weight", "bold");
        $("#id_th_fire_contained_date").html("Date fire contained <i class='icon-info-sign icon-white'> *");

        $('#id_th_fire_controlled_date').css("font-weight", "bold");
        $("#id_th_fire_controlled_date").html("Date fire controlled <i class='icon-info-sign icon-white'> *");

        //$('#id_fire_behaviour_unknown').prop('checked', false);
	    $('.div_fire_behaviour_unknown').show(); 

        {% if object.report_status >= object.STATUS_INITIAL_AUTHORISED and object.initial_snapshot.dispatch_pw %}
	        $('#id_th_field_officer').css("font-weight", "bold");
	        $("#id_th_field_officer").html("Field Officer *");
        {% endif %}

        /*
        $('#id_th_initial_controlling_agency').css("font-weight", "bold");
        $("#id_th_initial_controlling_agency").html("Initial controlling agency *");
        $('#id_th_final_controlling_agency').css("font-weight", "bold");
        $("#id_th_final_controlling_agency").html("Final controlling agency *");
        */
    }
}).change();

/* Fire not Found */
$('#id_fire_not_found').on('change', function() {
    fire_not_found();
}).change();


function fire_not_found() {
  if($("#id_fire_not_found").is(':checked')) {
      $(".div_form_invalidate *").prop('disabled',true).css({ opacity: 0.8  });
      $(".div_invalid_details").show();
      $(".div_fire_not_found").hide();

	  $('#id_th_job_code').css("font-weight", "normal");
	  $("#id_th_job_code").html("Job code");

  } else {
      $(".div_form_invalidate *").prop('disabled',false).css({ opacity: 1  });
      $(".div_invalid_details").hide();
      $(".div_fire_not_found").show();

	  $('#id_th_job_code').css("font-weight", "bold");
	  $("#id_th_job_code").html("Job code *");
  }
}
/* END - Fire not Found */

/* Can have checked either 'Fire not Found' or 'Fire Monitored only', but not both */
$('#id_fire_not_found').on('change', function() {
  if($("#id_fire_not_found").is(':checked')) {
    $("#id_fire_monitored_only").prop('disabled',true).prop('title','Cannot have both Fire Not Found and Fire Monitored Only checked').css({ opacity: 0.8  });
  } else {
    $("#id_fire_monitored_only").prop('disabled',false).prop('title', '').css({ opacity: 1  });
  }
}).change();

$('#id_fire_monitored_only').on('change', function() {
  if($("#id_fire_monitored_only").is(':checked')) {
    $("#id_fire_not_found").prop('disabled',true).prop('title','Cannot have both Fire Not Found and Fire Monitored Only checked').css({ opacity: 0.8  });
  } else {
    $("#id_fire_not_found").prop('disabled',false).prop('title', '').css({ opacity: 1  });
  } 
}).change();
/* END - 'Fire not Found' or 'Fire Monitored only' */

</script>

{% endblock %}
