{% extends "admin/base_site.html" %}
{% load static from static %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">Bushfire Overview</a></li>
  <li>Document Categories</li>
</ul>
{% endblock %}

{% block content %}
<table style="width:100%"><tr>
<td style="padding-left:0px">
  <h1 style="float:left">Document Categories</h1>
</td>
{% if can_maintain_data %}
<td style="vertical-align:bottom;padding-right:0px">
  <span style="float:right">
      <button class="btn btn-primary btn-success" type="button" onclick="window.location='{% url "bushfire:documentcategory_create" %}'"> Add Document Category</button>
  </span>
</td>
{% endif %}
</tr></table>

<table id="table" class="tablesorter table table-striped table-bordered table-hover table-condensed" style="cursor:pointer;">
  <thead>
    <th >Name </th>
    <th >Archived? </th>
    <th >creator </th>
    <th >created </th>
    <th ></th>
  </thead>
  <tbody>
    {% for category in object_list %}
      <tr class="row-vm" >
          <td>{{category.name}}</td>
          <td>{{category.archived|yesno:"Yes,No"}}</td>
          <td>{{category.creator}}</td>
          <td>{{category.created}}</td>
          <td>
            <a style="margin-left:10px" href="{% url "bushfire:documentcategory_detail" category.id %}" title="View Document Category"><i class="icon-eye-open"></i></a>
            {% if can_maintain_data  %}
              <a style="margin-left:10px" href="{% url "bushfire:documentcategory_update" category.id %}" title="Edit Document Category"><i class="icon-edit"></i></a>
            {% endif %}
          </td>
      </tr>
    {% empty %}
      <tr class="row-vm">
          <td colspan="5" style="text-align:center">There are no document categories.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
