{% extends "admin/base_site.html" %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">Bushfire Overview</a></li>
  <li>Document Titles</li>
</ul>
{% endblock %}

{% block content %}
<table style="width:100%"><tr>
<td style="padding-left:0px">
  <h1 style="float:left">Document Titles</h1>
</td>
{% if can_maintain_data %}
<td style="vertical-align:bottom;padding-right:0px">
  <span style="float:right">
      <button class="btn btn-primary btn-success" type="button" onclick="window.location='{% url "bushfire:documenttitle_create" %}'"> Add Document Title</button>
  </span>
</td>
{% endif %}
</tr></table>

<table id="table" class="tablesorter table table-striped table-bordered table-hover table-condensed" style="cursor:pointer;">
  <thead>
    <th >Name </th>
    <th >creator </th>
    <th >created </th>
  </thead>
  <tbody>
    {% for title in object_list %}
      <tr class="row-vm" data-toggle="myCollapse" data-target="#{{bushfire.id}}">
          <td>{{title.name}}</td>
          <td>{{title.creator}}</td>
          <td>{{title.created}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
