{% load static from staticfiles %}
<h3>Effects of FRBs/Waterbomber</h3>
<div class="row">
    <div class="col-sm-4" > 
        <div id="div_id_frb_effect" class="form-group"> 
            <label for="id_frb_effect" class="control-label nonRequiredField">Presence/Effect of FRB</label>
            <div class="controls ">{{form.frb_effect}}</div>
        </div>
    </div>

    <div class="col-sm-4" > 
        <div id="div_waterbomb_effect" class="form-group"> 
            <label for="id_waterbomb_effect" class="control-label nonRequiredField">Presence/Effect of WaterBomb</label>
            <div class="controls ">{{form.waterbomb_effect}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3" > 
        <div id="div_id_fire_stopped" class="form-group"> 
            <label for="id_fire_stopped" class="control-label nonRequiredField">Fuel Age - Fire Stopped (Yr)</label>
            <div class="controls ">{{form.fire_stopped}}</div>
        </div>
    </div>

    <div class="col-sm-3" > 
        <div id="div_last_burnt" class="form-group"> 
            <label for="id_last_burnt" class="control-label nonRequiredField">Fuel Age - Area Last Burnt (Yr)</label>
            <div class="controls ">{{form.last_burnt}}</div>
        </div>
    </div>


    <div class="col-sm-2" > 
        <div id="div_id_arrival_area" class="form-group"> 
            <label for="id_arrival_area" class="control-label requiredField">Fire Area at Arrival (ha)*</label>
            <div class="controls ">{{form.arrival_area}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_fire_level" class="form-group"> 
            <label for="id_fire_level" class="control-label requiredField">Final Fire Level*</label>
            <div class="controls ">{{form.fire_level}}</div>
        </div>
    </div>
</div>

<hr>
<h3>First Attack Agencies</h3>
<div class="row">
    <div class="col-sm-4" > 
        <div id="div_id_first_attack" class="form-group"> 
            <label for="id_first_attack" class="control-label requiredField">First Attack Agency*</label>
            <div class="controls ">{{form.first_attack}}</div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div id="div_id_other_first_attack" class="form-group"> 
            <label for="id_other_first_attack" class="control-label requiredField">Other First Attack Agency*</label>
            <div class="controls ">{{form.other_first_attack}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" > 
        <div id="div_hazard_mgt" class="form-group"> 
            <label for="id_hazard_mgt" class="control-label nonRequiredField">Hazard Management Agency</label>
            <div class="controls ">{{form.hazard_mgt}}</div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div id="div_id_other_hazard_mgt" class="form-group"> 
            <label for="id_other_hazard_mgt" class="control-label requiredField">Other Hazard Management Agency*</label>
            <div class="controls ">{{form.other_hazard_mgt}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" > 
        <div id="div_id_initial_control" class="form-group"> 
            <label for="id_initial_control" class="control-label nonRequiredField">Initial controlling Agency</label>
            <div class="controls ">{{form.initial_control}}</div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div id="div_id_other_initial_control" class="form-group"> 
            <label for="id_other_initial_control" class="control-label requiredField">Other Initial Control Agency*</label>
            <div class="controls ">{{form.other_initial_ctrl}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" > 
        <div id="div_id_final_control" class="form-group"> 
            <label for="id_final_control" class="control-label nonRequiredField">Final Controlling Agency</label>
            <div class="controls ">{{form.final_control}}</div>
        </div>
    </div>
    <div class="col-sm-4" >
        <div id="div_id_other_final_control" class="form-group"> 
            <label for="id_other_final_control" class="control-label requiredField">Other Final Control Agency*</label>
            <div class="controls ">{{form.other_final_ctrl}}</div>
        </div>
    </div>
</div>

<hr>
<h3>Rating</h3>
<div class="row">
    <div class="col-sm-4" > 
        <div id="div_id_rating" class="form-group"> 
            <label for="id_rating" class="control-label requiredField">Area Priority Rating*</label>
            <div class="controls ">{{form.rating}}</div>
        </div>
    </div>
</div>

<hr>
<h3>First DPaW Responses</h3>
<div id="id_responses" class="row formset response-formset">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <th>Response</th>
            <th></th>
            {% for form in response_formset %}
            <tr>
               <td>{{ form.response }}</td>
               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ response_formset.management_form }}
</div>

<script>
    $('.response-formset tbody tr').formset({
        prefix: '{{ response_formset.prefix }}',
        formCssClass: 'response_fs',
        addText: '<i class="icon-plus"></i> add another response',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ response_formset.prefix  }}',
    });

    $(function(){
        var coord_type = $('#id_first_attack :selected').text();
        // This first part is needed for first page load
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_first_attack').show();
        } else {
            $('#div_id_other_first_attack').hide();
        }

        $('#id_first_attack').on('change', function() {
            var coord_type = $('#id_first_attack :selected').text();
            //console.log('Co Ord Type' + coord_type);
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_first_attack').show();
            } else {
                $('#div_id_other_first_attack').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_hazard_mgt :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_hazard_mgt').show();
        } else {
            $('#div_id_other_hazard_mgt').hide();
        }

        $('#id_hazard_mgt').on('change', function() {
            var coord_type = $('#id_hazard_mgt :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_hazard_mgt').show();
            } else {
                $('#div_id_other_hazard_mgt').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_initial_control :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_initial_control').show();
        } else {
            $('#div_id_other_initial_control').hide();
        }

        $('#id_initial_control').on('change', function() {
            var coord_type = $('#id_initial_control :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_initial_control').show();
            } else {
                $('#div_id_other_initial_control').hide();
            }
        });
    });

    $(function(){
        var coord_type = $('#id_final_control :selected').text();
        if (coord_type.indexOf('OTHER') > -1) {
            $('#div_id_other_final_control').show();
        } else {
            $('#div_id_other_final_control').hide();
        }

        $('#id_final_control').on('change', function() {
            var coord_type = $('#id_final_control :selected').text();
            if (coord_type.indexOf('OTHER') > -1) {
                $('#div_id_other_final_control').show();
            } else {
                $('#div_id_other_final_control').hide();
            }
        });
    });


</script>
