{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  {% if create %}
    <li>{% trans 'Create' %}</li>
  {% else %}
    {% if review  %}
      <li>{% trans 'Review' %}</li>
    {% elif final  %}
      <li>{% trans 'Final' %}</li>
    {% else %}
      <li>{% trans 'Initial' %}</li>
    {% endif %}
    <li>{{ object.fire_number}}</li>
  {% endif %}
</ul>
{% endblock %}

  {% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >

  {% endblock %}

  {% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/jquery.formset.js' %}"></script>

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

  {% endblock %}


{% block content %}

{% if form.errors %}
    <p>Form Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            {{ form.non_field_errors  }}
        {% endif %}

    </div>
{% endif %}

{% if action == 'Authorise' %}
<h1>Confirm action 'Mark Final Report Authorised'</h1>
{% elif action == 'mark_reviewed' %}
<h1>Confirm action 'Mark Reviewed'</h1>
{% else %}
<h1>Bushfire Detail</h1>
{% endif %}

<form action="" method="post">{% csrf_token %}

<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th class="cbas" style="font-weight:normal;" width ='17%'>Fire not found</th>
            <td colspan="1" class="cbas" >
                {% if is_authorised %} {{snapshot.fire_not_found|yesno:"Yes,No"}}<br> Details: {{snapshot.invalid_details}} {% else %} {{form.fire_not_found}} {% endif %}
                <span class="div_invalid_details" style="display: none; margin: 20px;">{% if not is_authorised %} Details{{form.invalid_details}} {% endif %}</span>
            </td>
	    {{form.year.as_hidden}}
        </tr>

  </tbody>
</table>

<div class="div_form_invalidate">
<table class="table table-bordered table-striped table-condensed">
    <tbody>

        <tr>
            <th class="cbas">District *</th>
            <td colspan="5" class="cbas">
                {% if is_authorised or not can_maintain_data %} {{object.region}} {{form.region.as_hidden}} {% else %} {{form.region}} {% endif %}<span style="margin:20;"></span>
                {% if is_authorised or not can_maintain_data %} {{object.district}} {{form.district.as_hidden}} {% else %} {{form.district}} {% endif %}
            </td>
        </tr>

        <tr>
	    <th class="cbas" title=" Fire spread has been halted, though the fire may still be burning freely within the perimeter of the fire control lines">Date fire contained <i class="icon-info-sign icon-white"></i> *</th>
            <td class="cbas">{% if is_authorised %} {{snapshot.fire_contained_date}} {% else %} {{form.fire_contained_date}} {% endif %}</td>

            <th class="cbas">Initial attack agency *<br><br><div class=div_other_first_attack style="display: none;">Other initial attack agency *</div></th>
            <td colspan="1" class="cbas">
		{% if is_authorised %} {{snapshot.first_attack}}<br>{% if snapshot.other_first_attack %} {{snapshot.other_first_attack}} {% endif %}{% else %} {{form.first_attack}} {% endif %}<br>
                <div class=div_other_first_attack style="display: none;">{% if is_authorised %} {{snapshot.other_first_attack}} {% else %} {{form.other_first_attack}} {% endif %}</div>
            </td>
        </tr>

        <tr>
	    <th class="cbas" title="Complete perimeter of fire is saecured and no breakaway is expected">Date fire controlled <i class="icon-info-sign icon-white"></i> *</th>
            <td class="cbas">{% if is_authorised %} {{snapshot.fire_controlled_date}} {% else %} {{form.fire_controlled_date}} {% endif %}</td>

            <th class="cbas">Initial controlling agency *<br><br><div class=div_other_initial_control style="display: none;">Other initial controlling agency *</div></th>
            <td colspan="1" class="cbas">
                {% if is_authorised %} {{snapshot.initial_control}} <br>{% if snapshot.other_initial_control %} {{snapshot.other_initial_control}} {% endif %} {% else %} {{form.initial_control}} {% endif %}<br>
                <div class=div_other_initial_control style="display: none;">{% if is_authorised %} {{snapshot.other_initial_control}} {% else %} {{form.other_initial_control}} {% endif %}</div>
            </td>
        </tr>

        <tr>
	    <th class="cbas" title='Placeholder ...'>Date fire safe <i class="icon-info-sign icon-white"></i> *</th>
            <td class="cbas">{% if is_authorised %} {{snapshot.fire_safe_date}} {% else %} {{form.fire_safe_date}} {% endif %}</td>

            <th class="cbas">Final controlling agency *<br><br><div class=div_other_final_control style="display: none;">Other final controlling agency *</div></th>
            <td colspan="1" class="cbas">
                {% if is_authorised %} {{snapshot.final_control}} <br>{% if snapshot.other_final_control %} {{snapshot.other_final_control}} {% endif %} {% else %} {{form.final_control}} {% endif %}<br>
                <div class=div_other_final_control style="display: none;">{% if is_authorised %} {{snapshot.other_final_control}} {% else %} {{form.other_final_control}} {% endif %}</div>
            </td>
        </tr>

        <tr>
            <th class="cbas">Maximum Fire Level *</th>
            <td colspan="1" class="cbas">{% if is_authorised %} {{snapshot.fire_level}} {% else %} {{form.fire_level}} {% endif %}</td>

            <th class="cbas">Final fire size (ha) *</th>
            <td colspan="2" class="cbas">
                {% if is_authorised %} {{snapshot.area}} {% else %} {{form.area}} {% endif %}
		<span id="div_area_limit" style="margin: 20px;">{% if is_authorised %} Is area < 2ha? {{snapshot.area_limit|yesno:"Yes,No"}} {% else %} {{form.area_limit}} Area < 2ha{% endif %}</span>
            </td>
	    {{form.fire_boundary.as_hidden}}
        </tr>

        <tr>
            <th class="cbas">Arson squad notified *</th>
            <td colspan="1" class="cbas">
		{% if is_authorised %} {{snapshot.arson_squad_notified|yesno:"Yes,No"}}{% if snapshot.arson_squad_notified|yesno:"Yes,No" == 'Yes' %}<br>Police offence no {{snapshot.offence_no}} {% endif %}{% else %} {{form.arson_squad_notified}} {% endif %}<br>
                <span class="div_offence_no" style="display: none; margin: 0px;">{% if not is_authorised %} {{form.offence_no}} Police offence no {% endif %}</span>
            </td>

            <th class="cbas">Job code *</th>
            <td colspan="1" class="cbas">{% if is_authorised %} {{snapshot.job_code}} {% else %} {{form.job_code}} {% endif %}</td>
        </tr>

        {% if can_maintain_data %}
        <tr>
            <th class="cbas" style="font-weight:normal;">Reporting Year</th>
            <td colspan="3" class="cbas">{% if is_authorised %} {{snapshot.reporting_year|fin_year}} {% else %} {{form.reporting_year}} {% endif %}</td>
	    {{form.year.as_hidden}}
        </tr>
        {% else %}
	    {{form.reporting_year.as_hidden}}
	    {{form.year.as_hidden}}
        {% endif %}

  </tbody>
</table>

<table class="table table-bordered table-striped table-condensed cbas">
    <thead>
		<th class="cbas">Tenure of burnt area *</th>
		<th class="cbas">Damage</th>
		<th class="cbas" >Injuries and Fatalities</th>
    </thead>
    <tbody>
        <tr>
		<td class="cbas" >{% include "bfrs/tenure_veg_fs.html" %}</td>
		<td class="cbas" >{% include "bfrs/damage_fs.html" %}</td>
		<td class="cbas">{% include "bfrs/injuries_fs.html" %}</td>
        </tr>

  </tbody>
</table>
</div> <!-- div_form_invalidate -->

{% if not action %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
      <input type="submit" {% if object.report_status >= object.STATUS_FINAL_AUTHORISED %}value="Save final"{% else %} value="Save draft"{% endif %} class="btn btn-primary btn-success" name="_save" {% if is_authorised %}title="Initial Report cannot be edited" disabled{% endif %} />

      <input type="submit" value="Authorise" class="btn btn-primary btn-success" name="authorise_final" {% if object.report_status >= object.STATUS_FINAL_AUTHORISED %}title="Final Report already authorised on {{object.authorised_date}} by {{object.authorised_by}}" disabled{% elif is_authorised %}disabled{% else %}title="Save and authorise"{% endif %} />

      <a id="id_cancel_btn" href="{% url 'main' %}" class="btn btn-primary btn-danger">Cancel</a>
      </p>
    </div>
  </div>
</div>
{% endif %}

</form>

{% if action %}
<!-- This section to allow redirect confirmation -->
<form action="" method="post">{% csrf_token %}
  <div>
    <input type="hidden" name="bushfire_id" value="{{snapshot.id}}" />
    <input type="hidden" name="action" value="{{action}}" />
    <input type="hidden" name="confirm_action" value="yes" />
    <input type="submit" class="btn" value="{% trans "Yes, I'm sure" %}" />
	{% comment %}
	<!-- Below line causes an error in the Django Formset -->
        <a href="javascript: history.go(-1)" class="btn btn-danger">Cancel</a>
	{% endcomment %}
    <a id="id_cancel_btn" href="{% url 'bushfire:bushfire_final' object.id %}" class="btn btn-primary btn-danger">Cancel</a>
  </div>
</form>
{% endif %}

<script>

// $('[id^=""]').hide() // starts with 
$('[id$="_date"]').datetimepicker({ format: "Y-m-d H:i" }); //ends with

$('#id_field_officer').prop('class', 'selectpicker dropup');
$('#id_duty_officer').prop('class', 'selectpicker dropup');

$('.selectpicker').selectpicker({
  style: 'btn-default',
  size: 6,
  liveSearch: true,
  dropupAuto: false,
});

/* Initial Attack */
var selected = $('#id_first_attack :selected').text();
$('#id_first_attack').on('change', function() {
	var selected = $('#id_first_attack :selected').text();
	if ((selected.indexOf('Other') > -1) || (selected.indexOf('OTHER') > -1)) {
		$('.div_other_first_attack').show();
	} else {
		$('.div_other_first_attack').hide();
	}
}).change();

/* Initial Control */
var selected = $('#id_initial_control :selected').text();
$('#id_initial_control').on('change', function() {
	var selected = $('#id_initial_control :selected').text();
	if ((selected.indexOf('Other') > -1) || (selected.indexOf('OTHER') > -1)) {
		$('.div_other_initial_control').show();
	} else {
		$('.div_other_initial_control').hide();
	}
}).change();

/* Initial Control */
var selected = $('#id_final_control :selected').text();

$('#id_final_control').on('change', function() {
	var selected = $('#id_final_control :selected').text();
	if ((selected.indexOf('Other') > -1) || (selected.indexOf('OTHER') > -1)) {
		$('.div_other_final_control').show();
	} else {
		$('.div_other_final_control').hide();
	}
}).change();

/* Police Notification */
$('#id_arson_squad_notified_0').on('change', function() {
	if($('#id_arson_squad_notified_0').is(':checked')) { $('.div_offence_no').show(); }
}).change();
$('#id_arson_squad_notified_1').on('change', function() {
	if($('#id_arson_squad_notified_1').is(':checked')) { $('.div_offence_no').hide(); }
}).change();

$('.collapse').collapse()

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});

/* Area Override */
var orig_area = $("#id_area").val();
if( !{{snapshot.fire_boundary|yesno:"true,false"}} ) { 
    $("#div_area_limit").show()
} else {
    $("#div_area_limit").hide()
}

$('#id_area_limit').on('change', function() {
    if($("#id_area_limit").is(':checked')) { 
	    $("#id_area").removeAttr('readonly').removeAttr('style');
	} else {
        $("#id_area").val(orig_area);
	    $("#id_area").attr('readonly','readonly').css('background-color' , '#DEDEDE');
	}
}).change();

/* Fire not Found */
$('#id_fire_not_found').on('change', function() {
    fire_not_found();
}).change();

function fire_not_found() {
  if($("#id_fire_not_found").is(':checked') || {{snapshot.fire_not_found|yesno:"true,false"}}) {
      $(".div_form_invalidate *").prop('disabled',true).css({ opacity: 0.8  });
      $(".div_invalid_details").show();
      $(".div_fire_not_found").hide();

  } else {
      $(".div_form_invalidate *").prop('disabled',false).css({ opacity: 1  });
      $(".div_invalid_details").hide();
      $(".div_fire_not_found").show();
  }
}
/* END - Fire not Found */


</script>

{% endblock %}
