{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}
{% load humanize %}


{% comment %}
{% if action == 'Authorise' %}
<h1>Confirm action 'Mark Final Report Authorised'</h1>
{% else %}
<h1>Bushfire Detail</h1>
{% endif %}
{% endcomment %}


<table class="table table-bordered table-striped table-condensed">
    <tbody>
        <tr>
            <th class="cbas" style="font-weight:normal;" width ='17%'>Fire not found</th>
            <td colspan="2" class="cbas" >
                {{form.fire_not_found}}
                <span class="div_invalid_details" style="display: none; margin: 20px;">{% if not is_authorised %} Details{{form.invalid_details}} {% endif %}</span>
            </td>

            <th class="cbas" style="font-weight:normal;" width='17%'>Fire monitored only</th>
            <td colspan="2" class="cbas" >{{form.fire_monitored_only}}</td>
        </tr>

        <tr>
            <th id="id_th_field_officer" class="cbas" style="font-weight:normal;">P&W Field Officer</th>
            <td colspan="2" class="cbas">{{form.field_officer}}<br>
                <span class="div_field_officer" style="display: none; margin: 0px;">
                    {{form.other_field_officer}} <strong>Name *</strong><br>
                    {{form.other_field_officer_agency}} <strong>Agency *</strong><br>
                    {{form.other_field_officer_phone}} Phone
                </span>
            </td>

            <th id="id_th_job_code" class="cbas">Job code *</th>
            <td colspan="2" class="cbas">{{form.job_code}}</td>
        </tr>
  </tbody>
</table>

{{form.origin_point.as_hidden}}
{{form.fire_boundary.as_hidden}}
<div class="div_form_invalidate">
<table class="table table-bordered table-striped table-condensed">
    <tbody>
        {% comment %}
        <tr>
            <th class="cbas">Fuel and fire behaviour *</th>
                <td colspan="5" class="cbas" > 
                {{form.fire_behaviour_unknown}} Unknown
                <div class="div_fire_behaviour_unknown" style="display: true;">{% include "bfrs/fire_behaviour_fs.html" %}</div>
            </td>
        </tr>
        {% endcomment %}

        <tr>
            <th class="cbas">Fire Cause *<br><br><br><br>
                <div class=div_cause style="display: none;">Other Cause *</div>
                <div class=div_cause_escape style="display: none;">Prescribed Burn ID *</div>
            </th>
            <td colspan="2" class="cbas">
                {{form.cause_state}}<br>
                {{form.cause}}<br><br>

                <div class="div_cause" style="display: none;">{{form.other_cause}}</div>
                <div class="div_cause_escape" style="display: none;">{{form.prescribed_burn_id}}</div>
            </td>

            <th class="cbas">Arson squad notified *</th>
            <td colspan="2" class="cbas">{{form.arson_squad_notified}}<br><span class="div_offence_no" style="display: none; margin: 0px;">{{form.offence_no}} Police offence no</span></td>
        </tr>

        {% if object.is_init_authorised_by %} 
        <tr>
            <th class="cbas" style="font-weight:normal;">Authorised By</th>
            <td colspan="2" class="cbas">{{object.init_authorised_by}}</td>

            <th class="cbas" style="font-weight:normal;">Authorised Date</th>
            <td colspan="2" class="cbas">{{object.init_authorised_date|date_fmt}}</td>
        </tr>
        {% endif %}

        <tr>
            <th class="cbas" id="id_th_fire_contained_date" title=" Fire spread has been halted, though the fire may still be burning freely within the perimeter of the fire control lines">Date fire contained <i class="icon-info-sign icon-white"></i> *</th>
            <td colspan="2" class="cbas">{{form.fire_contained_date}}</td>

            <th class="cbas" id="id_th_initial_attack_agency">Initial attack agency *<br><br><div class=div_other_first_attack style="display: none;">Other initial attack agency *</div></th>
            <td colspan="2" class="cbas">{{form.first_attack}}<br><div class=div_other_first_attack style="display: none;">{{form.other_first_attack}}</div></td>
        </tr>

        <tr>
            <th class="cbas" id="id_th_fire_controlled_date" title="Complete perimeter of fire is secured and no breakaway is expected">Date fire controlled <i class="icon-info-sign icon-white"></i> *</th>
            <td colspan="2" class="cbas">{{form.fire_controlled_date}}</td>

            <th class="cbas" id="id_th_final_controlling_agency">Final controlling agency *<br><br><div class=div_other_final_control style="display: none;">Other final controlling agency *</div></th>
            <td colspan="2" class="cbas">{{form.final_control}}<br><div class=div_other_final_control style="display: none;">{{form.other_final_control}}</div></td>
        </tr>

        <tr>
            <th class="cbas" title="Fire is no longer 'active' – refer to Glossary of Bushfire Preparedness and Response Manual for definition of 'active'">Date fire inactive <i class="icon-info-sign icon-white"></i> *</th>
            <td colspan="2" class="cbas">{{form.fire_safe_date}}</td>

            <th class="cbas">Maximum Fire Level *</th>
            <td colspan="2" class="cbas">{{form.max_fire_level}}</td>
        </tr>

        <tr>
            <th class="cbas">Final fire size (ha) *</th>
            <td colspan="5" class="cbas"><span id="div_area_limit">{{form.area_limit}} Area < {{area_threshold}}ha<span style="margin: 20px;"></span></span>{{form.area}}</td>
        </tr>


        {% if can_maintain_data %}
        <tr>
            <th class="cbas" style="font-weight:normal;">Reporting Year</th>
            <td colspan="5" class="cbas">{{form.reporting_year}}</td>
        </tr>
        {% else %}
            {{form.reporting_year.as_hidden}}
        {% endif %}

  </tbody>
</table>

<table class="table table-bordered table-striped table-condensed cbas">
    <thead>
        <th class="cbas">Tenure of burnt area *</th>
        <th class="cbas">Damage</th>
        <th class="cbas" >Injuries and Fatalities</th>
    </thead>
    <tbody>
        <tr>
            <td class="cbas">{% include "bfrs/tenure_veg.html" %}</td>
            <td class="cbas">
                {{form.damage_unknown}} No damage to report
                {% include "bfrs/damage_fs.html" %}
            </td>
                <td class="cbas">
                {{form.injury_unknown}} No injuries/fatalities to report
                {% include "bfrs/injuries_fs.html" %}
            </td>
        </tr>
    </tbody>
</table>
</div> <!-- div_form_invalidate -->


<script>

// $('[id^=""]').hide() // starts with 
//$('[id$="_date"]').datetimepicker({ format: "Y-m-d H:i" }); //ends with

$('#id_field_officer').prop('class', 'selectpicker dropup');
$('#id_duty_officer').prop('class', 'selectpicker dropup');

$('.selectpicker').selectpicker({
  style: 'btn-default',
  size: 6,
  liveSearch: true,
  dropupAuto: false,
});

/* Other Field Officer */
var selected = $('#id_field_officer :selected').text();
$('#id_field_officer').on('change', function() {
	var selected = $('#id_field_officer :selected').text();
	if (selected.indexOf('Other Contact') > -1) {
		$('.div_field_officer').show();
	} else {
		$('.div_field_officer').hide();
	}
}).change();


/* Initial Attack */
var selected = $('#id_first_attack :selected').text();
$('#id_first_attack').on('change', function() {
	var selected = $('#id_first_attack :selected').text();
	if ((selected.indexOf('Other') > -1) || (selected.indexOf('OTHER') > -1)) {
		$('.div_other_first_attack').show();
	} else {
		$('.div_other_first_attack').hide();
	}
}).change();

/* Initial Control */
var selected = $('#id_initial_control :selected').text();
$('#id_initial_control').on('change', function() {
	var selected = $('#id_initial_control :selected').text();
	if ((selected.indexOf('Other') > -1) || (selected.indexOf('OTHER') > -1)) {
		$('.div_other_initial_control').show();
	} else {
		$('.div_other_initial_control').hide();
	}
}).change();

/* Initial Control */
var selected = $('#id_final_control :selected').text();

$('#id_final_control').on('change', function() {
	var selected = $('#id_final_control :selected').text();
	if ((selected.indexOf('Other') > -1) || (selected.indexOf('OTHER') > -1)) {
		$('.div_other_final_control').show();
	} else {
		$('.div_other_final_control').hide();
	}
}).change();

/* Police Notification */
$('#id_arson_squad_notified_0').on('change', function() {
	if($('#id_arson_squad_notified_0').is(':checked')) { $('.div_offence_no').show(); }
}).change();
$('#id_arson_squad_notified_1').on('change', function() {
	if($('#id_arson_squad_notified_1').is(':checked')) { $('.div_offence_no').hide(); }
}).change();

$('.collapse').collapse()

$('.close-all').click(function(){
  $('.panel-collapse.in').collapse('hide');
  // toggle the buttons also
  $(".close-all").hide();
  $(".open-all").show();
});

$('.open-all').click(function(){
  $('.panel-collapse:not(".in")').collapse('show');
  // toggle the buttons also
  $(".close-all").show();
  $(".open-all").hide();
});

/* Area Override */
$('#id_area').val({{snapshot.area|floatformat:2}});
var orig_area = $("#id_area").val();
if ({{object.final_fire_boundary|yesno:"true,false"}} == false) {
    $("#div_area_limit").show()
    $("#id_area").attr('readonly','readonly').css('background-color' , '#DEDEDE');
} else {
    $("#div_area_limit").hide()
    $("#id_area").prop('max',null);
}

$('#id_area_limit').on('change', function() {
    if($("#id_area_limit").is(':checked')) { 
        $("#id_area").prop('step', 0.1).prop('min', 0).prop('max',{{area_threshold|to_float}});
	    $("#id_area").removeAttr('readonly').removeAttr('style');
	} else {
        $("#id_area").prop('step', 0.01).prop('min', 0).width($("#id_dfes_incident_no").width());
        $("#id_area").val(orig_area);
	    $("#id_area").attr('readonly','readonly').css('background-color' , '#DEDEDE');
	}
}).change();


/* Job Code Validation */
$("#id_job_code").prop('pattern', '[A-Z]{3}').prop('title', '3 letters and upper case');

</script>

