{% if fire_behaviour_formset.errors %}
    <p>Formset Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in fire_behaviour_formset %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if fire_behaviour_formset.non_field_errors %}
            <font color="red">{{ fire_behaviour_formset.non_field_errors }}</font>
        {% endif %}

    </div>
{% endif %}


{% if is_authorised and initial or action %}
    <table class="table_fs" border="0" >
        <tbody>
            {% if snapshot.fire_behaviour.exists %}
				<th>Fuel Type</th>
				<th>ROS (m/h)</th>
				<th>Flame Height (m)</th>
				{% for fb in snapshot.fire_behaviour.all %}
				<tr>
					<td>{{ fb.fuel_type }}</td>
					<td>{{ fb.ros }}</td>
					<td>{{ fb.flame_height }}</td>
				</tr>
				{% endfor %}
            {% else %}
                <p> No Fuel Behaviour</p>
            {% endif %}
        </tbody>
    </table>
{% else %}
    <div id="id_fire_behaviour" class="row formset fire_behaviour-formset">
        <table class="table_fs" border="0">
            <tbody>
                <th>Fuel Type</th>
                <th>ROS (m/h)</th>
                <th>Flame Height (m)</th>
                <th></th>
                {% for form in fire_behaviour_formset %}
                <tr>
                  <td>{{ form.fuel_type }}</td>
                  <td>{{ form.ros }}</td>
                  <td>{{ form.flame_height }}</td>

                  <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}

                    {% for field in form %} 
                      {% if field.errors %}
                         <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                      {% endif %}
                    {% endfor %}

                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ fire_behaviour_formset.management_form }}
    </div>
{% endif %}

<script>
    $('.fire_behaviour-formset tbody tr').formset({
        prefix: '{{ fire_behaviour_formset.prefix }}',
        formCssClass: 'fire_behaviour_fs',
        addText: '<i class="icon-plus"></i> add another fire behaviour',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ fire_behaviour_formset.prefix  }}',
    });

$('[id^="id_fire_behaviour"][id$="flame_height"]').attr('step' , 0.5).attr('min', 0.0); // starts with and ends with
</script>




