{% load static from staticfiles %}
<div id="id_responses" class="row formset response-formset">
    <table class="table_fs" border="0">
        <tbody>
            <th>Response</th>
            <th></th>
            {% for form in response_formset %}
            <tr>
               <td>{{ form.response }}</td>
               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ response_formset.management_form }}
</div>

<script>
    $('.response-formset tbody tr').formset({
        prefix: '{{ response_formset.prefix }}',
        formCssClass: 'response_fs',
        addText: '<i class="icon-plus"></i> add another response',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ response_formset.prefix  }}',
    });



</script>
