
{% if is_authorised and final or action %}
    <table class="table_fs" border="0" >
        <tbody>
            {% if snapshot.injuries.exists %}
				<th>Injury Type</th>
				<th>Number</th>
				
				{% for injury in snapshot.injuries.all %}
				<tr>
					<td>{{ injury.injury_type }}</td>
					<td>{{ injury.number }}</td>
				</tr>
				{% endfor %}

            {% else %}
                <p> No Injuries or Fatalities</p>
            {% endif %}
        </tbody>
    </table>
{% else %}
<div id="id_injury" class="row formset injury-formset">
    <table class="table_fs" border="0">
        <tbody>
            <th>Injury Type</th>
            <th>Number</th>
            <th></th>
            {% for form in injury_formset %}
            <tr>
               <td>{{ form.injury_type }}</td>
               <td>{{ form.number }}</td>

               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}

					{% for field in form %} 
                      {% if field.errors %}
                         <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                      {% endif %}
                    {% endfor %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ injury_formset.management_form }}
</div>
{% endif %}

<script>
    $('.injury-formset tbody tr').formset({
        prefix: '{{ injury_formset.prefix }}',
        formCssClass: 'injury_fs',
        addText: '<i class="icon-plus"></i> add another injury',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ injury_formset.prefix  }}',
    });

</script>




