{% comment %}
<h3>Location</h3>
{% endcomment %}
<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_distance" class="form-group"> 
            <label for="id_distance" class="control-label nonRequiredField">Distance (km)</label>
            <div class="controls ">{% if has_init_authorised %} {{snapshot.distance}} {% else %} {{form.distance}} {% endif %}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_direction" class="form-group"> 
            <label for="id_direction" class="control-label nonRequiredField">Direction</label>
            <div class="controls ">{% if has_init_authorised %} {{snapshot.direction}} {% else %} {{form.direction}} {% endif %}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_place" class="form-group"> 
            <label for="id_place" class="control-label nonRequiredField">Place</label>
            <div class="controls ">{% if has_init_authorised %} {{snapshot.place}} {% else %} {{form.place}} {% endif %}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_lot_no" class="form-group"> 
            <label for="id_lot_no" class="control-label nonRequiredField">Lot No.</label>
            <div class="controls ">{% if has_init_authorised %} {{snapshot.lot_no}} {% else %} {{form.lot_no}} {% endif %}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_street" class="form-group"> 
            <label for="id_street" class="control-label nonRequiredField">Street</label>
            <div class="controls ">{% if has_init_authorised %} {{snapshot.street}} {% else %} {{form.street}} {% endif %}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_town" class="form-group"> 
            <label for="id_town" class="control-label nonRequiredField">Town</label>
            <div class="controls ">{% if has_init_authorised %} {{snapshot.town}} {% else %} {{form.town}} {% endif %}</div>
        </div>
    </div>
</div>

<hr>

