{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}
{% load bfrs_tags %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a> <span class="divider"></span></li>
  {% if object.report_status == object.STATUS_INITIAL %}
    <li><a href="{% url 'bushfire:bushfire_initial' object.id %}">{{object.fire_number}}</a> <span class="divider"></span></li>
  {% else  %}
    <li><a href="{% url 'bushfire:bushfire_final' object.id %}">{{object.fire_number}}</a> <span class="divider"></span></li>
  {% endif %}
  <li>Field errors</li>
</ul>
{% endblock %}

{% block content_title %}
    <h1>The following mandatory fields are missing. Cannot perform action '{{action|split_capitalize}}' until complete.</h1>
{% endblock %}

{% block content %}

    {% if mandatory_fields %}
      <ol>
        {% for field in mandatory_fields %}
          <li>{{field|split_capitalize}}</li>
        {% endfor %}
      </ol>
    {% endif %}
    <div>
        <a id="id_ok_btn" {% if object.report_status == object.STATUS_INITIAL %} href="{% url 'bushfire:bushfire_initial' object.id %}" {% else %} href="{% url 'bushfire:bushfire_final' object.id %}"{% endif %} class="btn btn-info">Return</a>
    </div>
{% endblock %}

