<h3>Location</h3>
<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_distance" class="form-group"> 
            <label for="id_distance" class="control-label nonRequiredField">Distance (km)</label>
            <div class="controls ">{{form.distance}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_direction" class="form-group"> 
            <label for="id_direction" class="control-label nonRequiredField">Direction</label>
            <div class="controls ">{{form.direction}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_place" class="form-group"> 
            <label for="id_place" class="control-label nonRequiredField">Place</label>
            <div class="controls ">{{form.place}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_lot_no" class="form-group"> 
            <label for="id_lot_no" class="control-label nonRequiredField">Lot No.</label>
            <div class="controls ">{{form.lot_no}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_street" class="form-group"> 
            <label for="id_street" class="control-label nonRequiredField">Street</label>
            <div class="controls ">{{form.street}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_town" class="form-group"> 
            <label for="id_town" class="control-label nonRequiredField">Town</label>
            <div class="controls ">{{form.town}}</div>
        </div>
    </div>
</div>

<hr>
<h3>Point of Origin</h3>
<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_coord_type" class="form-group"> 
            <label for="id_coord_type" class="control-label nonRequiredField">Coordinates Type</label>
            <div class="controls ">{{form.coord_type}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_fire_not_found" class="form-group"> 
            <label for="id_fire_not_found" class="control-label nonRequiredField">Fire Not Found</label>
            <div class="controls ">{{form.fire_not_found}}</div>
        </div>
    </div>
</div>

<div id="id_latlong" class="row">
    <div class="col-sm-2" > 
        <div id="div_lat_decimal" class="form-group"> 
            <label for="id_lat_decimal" class="control-label requiredField">Lat Decimal*</label>
            <div class="controls ">{{form.lat_decimal}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_lat_degrees" class="form-group"> 
            <label for="id_lat_degrees" class="control-label requiredField">Lat Degrees*</label>
            <div class="controls ">{{form.lat_degrees}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_lat_minutes" class="form-group"> 
            <label for="id_lat_minutes" class="control-label requiredField">Lat Minutes*</label>
            <div class="controls ">{{form.lat_minutes}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_lon_decimal" class="form-group"> 
            <label for="id_lon_decimal" class="control-label requiredField">Lon Decimal*</label>
            <div class="controls ">{{form.lon_decimal}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_lon_degrees" class="form-group"> 
            <label for="id_lon_degrees" class="control-label requiredField">Lon Degrees*</label>
            <div class="controls ">{{form.lon_degrees}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_lon_minutes" class="form-group"> 
            <label for="id_lon_minutes" class="control-label requiredField">Lon Minutes*</label>
            <div class="controls ">{{form.lon_minutes}}</div>
        </div>
    </div>
</div>

<div id="id_mga" class="row">
    <div class="col-sm-2" > 
        <div id="div_mga_zone" class="form-group"> 
            <label for="id_mga_zone" class="control-label requiredField">MGA Zone*</label>
            <div class="controls ">{{form.mga_zone}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_mga_easting" class="form-group"> 
            <label for="id_mga_easting" class="control-label requiredField">MGA Easting*</label>
            <div class="controls ">{{form.mga_easting}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_mga_northing" class="form-group"> 
            <label for="id_mga_northing" class="control-label requiredField">MGA Northing*</label>
            <div class="controls ">{{form.mga_northing}}</div>
        </div>
    </div>
</div>

<div id="id_fd_grid" class="row">
    <div class="col-sm-2" > 
        <div id="div_fd_letter" class="form-group"> 
            <label for="id_fd_letter" class="control-label requiredField">FD Letter*</label>
            <div class="controls ">{{form.fd_letter}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_fd_number" class="form-group"> 
            <label for="id_fd_number" class="control-label requiredField">FD Number*</label>
            <div class="controls ">{{form.fd_number}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_fd_tenths" class="form-group"> 
            <label for="id_fd_tenths" class="control-label requiredField">FD Tenths*</label>
            <div class="controls ">{{form.fd_tenths}}</div>
        </div>
    </div>
</div>


