{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}
{% load humanize %}

{% block content %}

{% comment %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Create PDF" />
</form>
{% endcomment %}


<form action="" method="post">{% csrf_token %}
<table class="table table-bordered table-striped table-condensed">
  <tbody>
        <tr>
            <th colspan="1" class="cbas">Author *</th>
            <td colspan="1" class="cbas"> {{form.author}} </td>

            <th colspan="1" class="cbas">Position *</th>
            <td colspan="1" class="cbas"> {{form.position}} </td>

            <th colspan="1" class="cbas">Phone No. *</th>
            <td colspan="1" class="cbas"> {{form.phone_no}} </td>

        </tr>

        <tr>
            <th colspan="1" class="cbas">Branch *</th>
            <td colspan="2" class="cbas" placeholder="placeholder" contenteditable="true"> {{form.branch}} </td>

            <th colspan="1" class="cbas">Division *</th>
            <td colspan="2" class="cbas"> {{form.division}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas" style="font-weight:normal;">Your Ref</th>
            <td colspan="2" class="cbas"> {{form.your_ref}} </td>

            <th colspan="1" class="cbas" style="font-weight:normal;">Our Ref</th>
            <td colspan="2" class="cbas"> {{form.our_ref}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas">Title *</th>
            <td colspan="5" class="cbas"> {{form.title}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas" style="font-weight:normal;">Supplementary text</th>
            <td colspan="5" class="cbas"> {{form.supplementary_text}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas" style="font-weight:normal;">Cost implications</th>
            <td colspan="5" class="cbas"> {{form.cost_implications}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas" style="font-weight:normal;">Urgency</th>
            <td colspan="5" class="cbas"> {{form.urgency}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas" style="font-weight:normal;">Contentious issues</th>
            <td colspan="5" class="cbas"> {{form.contentious_issues}} </td>
        </tr>

        <tr>
            <th colspan="1" class="cbas">Recommendation *</th>
            <td colspan="5" class="cbas"> {{form.recommendation}} </td>
        </tr>



  </tbody>
</table>

  <input type="submit" value="Create PDF" />
</form>


{% endblock %}

