{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load bfrs_tags %}
{% load humanize %}

{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  <li>{% trans action_name %}</li>
  <li>{% trans 'Select Primary Bushfire' %}</li>
</ul>
{% endblock %}


{% block content %}
<script>
    function toggle(target,elementId){
        if ($(target).hasClass('icon-chevron-down')) {
            $(target).removeClass('icon-chevron-down')
            $(target).addClass('icon-chevron-right')
            $("#" + elementId).hide()
        } else {
            $(target).removeClass('icon-chevron-right')
            $(target).addClass('icon-chevron-down')
            $("#" + elementId).show()
        }

    }
</script>

{% if errors %}
<div style="margin-bottom:10px" class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <ul>
    {% for error in errors %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form action="" method="post">
{% csrf_token %}
<input type="hidden" name="action" value="{{action}}">
{% for form in forms %}
<input type="hidden" name="selected_ids" value="{{form.instance.id}}">
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
          <th style="background: black; color: white; text-align: left; font-size: 16px; width:20%;valign:center" > 
            <input type="radio" id="id_radio_{{form.instance.id}}" name="primary_bushfire_id" value="{{form.instance.id}}"  {% if form.instance.id == primary_bushfire_id %} checked {% endif %} onclick="$('#id_button_selected_primarty_bushfire').prop('disabled',false)">
            {{form.fire_number.as_widget}}
          </th>
          <th style="background: black; color: white; text-align: left; font-size: 16px; width:30%" > 
            {{form.region.as_widget}}<span style="padding-left:20px;">{{form.district.as_widget}}</span>
          </th>
          <th colspan="2" style="background: black; color: white; text-align: left; font-size: 16px;" > 
            <span style="text-transform:none">
            {{form.name.as_widget}}
            </span>
            <div style="float:right">

            {{form.report_status.as_widget}}  <i style="padding-left:30px;cursor:pointer" onclick="toggle(this,'id_body_{{form.instance.id}}')" class="icon-chevron-down" ></i></span>

            </div>
          </th>
        </tr>
    </thead>
    <tbody id="id_body_{{form.instance.id}}">
    {% include 'bfrs/inc/detail_4_link.html' %}
    </tbody>
</table>

{% endfor %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <p class="pull-right">
        <button type="submit" id="id_button_selected_primarty_bushfire" value="selected_primary_bushfire" class="btn btn-primary btn-success" name="step" {% if not primary_bushfire_id %} disabled {% endif %}>{{action_name}}</button>
        <a id="id_cancel_btn" href="{% main_url %}" class="btn btn-primary btn-danger">Cancel</a>
      </p>
    </div>
  </div>
</div>

</form>

{% endblock %}
