{% if area_burnt_formset.errors %}
    <p>Formset Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in area_burnt_formset %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if area_burnt_formset.non_field_errors %}
            <font color="red">{{ area_burnt_formset.non_field_errors }}</font>
        {% else %}
            <font color="red">{{ area_burnt_formset.errors|striptags }}</font>
        {% endif %}

    </div>
{% endif %}


{% if is_authorised %}
    <table class="table_fs" border="0" >
        <tbody>
            {% if snapshot.areas_burnt.exists %}
				<th>Tenure</th>
				<th>Area (ha)</th>
				<th>Other</th>
				{% for area in snapshot.areas_burnt %}
				<tr>
					<td>{{ area.tenure }}</td>
					<td>{{ area.area }}</td>
					<td>{{ area.other }}</td>
				</tr>
				{% endfor %}
            {% else %}
                <p> No Tenures</p>
            {% endif %}
        </tbody>
    </table>
{% else %}
    <div id="id_areas_burnt" class="row formset area-burnt-formset">
        <table class="table_fs" border="0">
            <tbody>
                <th>Tenure</th>
                <th>Area (ha)</th>
                <th>Other</th>
                <th></th>
                {% for fs in area_burnt_formset %}
                <tr>
                <td>{{ fs.tenure }}</td>
                <td>{{ fs.area }}</td>
                <td>{{ fs.other }}</td>
                <td>
                        {% if fs.instance.pk %}{{ fs.DELETE }}{% endif %}
                        {{ fs.id }}

                        {% for field in fs %} 
                            {% if field.errors %}
                                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                            {% endif %}
                        {% endfor %}
                </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ area_burnt_formset.management_form }}
    </div>
{% endif %}

<script>

    $('.area-burnt-formset tbody tr').formset({
        prefix: '{{ area_burnt_formset.prefix }}',
        formCssClass: 'area_burnt_fs',
        addText: '<i class="icon-plus"></i> add another tenure',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ area_burnt_formset.prefix  }}',
    });

</script>


