{% if area_burnt_formset.errors %}
    <p>Formset Errors</p>
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in area_burnt_formset %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {{ field.meta  }}
            {% endif %}
        {% endfor %}

        {% if area_burnt_formset.non_field_errors %}
            <font color="red">{{ area_burnt_formset.non_field_errors }}</font>
        {% endif %}

    </div>
{% endif %}

{% if is_authorised or action %}
    <table class="table_fs" border="0" >
        <tbody>
            {% if snapshot.tenures_burnt.exists %}
				<th>Tenure</th>
				<th>Area (ha)</th>
				{% for area in snapshot.tenures_burnt.all %}
				<tr>
					<td>{{ area.tenure }}</td>
					<td>{{ area.area }}</td>
				</tr>
				{% endfor %}
            {% else %}
                <p> No Tenures</p>
            {% endif %}
        </tbody>
    </table>
{% else %}
    <div id="id_areas_burnt" class="row formset area-burnt-formset">
        <table class="table_fs" border="0">
            <tbody>
                <th>Tenure</th>
                <th>Area (ha)</th>
                <th></th>
                {% if area_burnt_formset.all %}
                {% for fs in area_burnt_formset %}
                    {% comment %}
                    {% for hidden in fs.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% endcomment %}
                <tr>
                <fieldset disabled="disabled">
                <td>{{ fs.tenure }}</td>
                <td>{{ fs.area }}</td>
                </fieldset">
                <td>
                        {% if fs.instance.pk %}{{ fs.DELETE }}{% endif %}
                        {{ fs.id }}

                        {% for field in fs %} 
                            {% if field.errors %}
                                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                            {% endif %}
                        {% endfor %}
                </td>

                {% endfor %}
                {% endif %}
                {% comment %}
                <tr><td> No Tenures</td></tr>
                {% endcomment %}
                <tr>
					<td><input id="id_ucl_tenure" maxlength="24" name="ucl_tenure", type="text" value="Unallocated Crown Land"></td>
					<td><input id="id_ucl_area" name="ucl_area", type="number"></td>
                </tr>
                <tr>
					<td><input id="id_unalloc_other_tenure" maxlength="24" name="unalloc_other_tenure", type="text" value="Other"></td>
					<td><input id="id_unalloc_other_area" name="unalloc_other_area", type="number"></td>
                </tr>
            </tbody>
        </table>
        {{ area_burnt_formset.management_form }}
    </div>
{% endif %}

<script>

    $('.area-burnt-formset tbody tr').formset({
        prefix: '{{ area_burnt_formset.prefix }}',
        formCssClass: 'area_burnt_fs',
        //addText: '<i class="icon-plus"></i> add another tenure',
        //deleteText: '<i class="icon-remove"></i>',
        addText: '',    //prevent add-another
        deleteText: '', //prevent delete
        deleteCssClass: 'delete-row' + '-' + '{{ area_burnt_formset.prefix  }}',
    });


// Make formset records uneditable
$('[id^="id_area_burnt"][id$="tenure"]').css('background-color' , '#DEDEDE'); // starts with and ends with
$('[id^="id_area_burnt"][id$="area"]').css('background-color' , '#DEDEDE');
$("#id_areas_burnt").not("#id_ucl_area,#id_unalloc_other_area").mousedown(function(e){ e.preventDefault(); });

</script>


