{% load bfrs_tags %}

{% if is_authorised or action %}
    <table class="table_fs" border="0" >
        <tbody>
            {% if snapshot.tenures_burnt.exists %}
		<th>Tenure</th>
		<th>Area (ha)</th>
		{% for area in snapshot.tenures_burnt.all|qs_order_by:"id" %}
		<tr>
			<td>{{ area.tenure }}</td>
			<td>{{ area.area }}</td>
		</tr>
		{% endfor %}
            {% else %}
                <p>AA No Tenures</p>
            {% endif %}
        </tbody>
    </table>
    {{ area_burnt_formset.management_form }}
{% else %}
    <div id="id_areas_burnt" class="row formset area-burnt-formset">
        <table class="table_fs" border="0">
            <tbody>
                <th>Tenure</th>
                <th>Area (ha)</th>
                <th>% Area</th>

                {% if object.tenures_burnt.all %}

                  {% for fs in object.tenures_burnt.all|filter_tenures_burnt:"Private Property,Other Crown" %}
                  <tr>
                    <td>{{ fs.tenure }}</td>
                    <td>{{ fs.area }}</td>
                  </tr>
                  {% endfor %}

                {% else %}

                  <!-- Required, since at first create form display, no object exists -->
                  {% for fs in area_burnt_formset %}
                  <tr>
                    <td>{{ fs.tenure }}</td>
                    <td>{{ fs.area }}</td>
                    <td>
                        {% if fs.instance.pk %}{{ fs.DELETE }}{% endif %}
                        {{ fs.id }}

                        {% for field in fs %} 
                            {% if field.errors %}
                                <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
                            {% endif %}
                        {% endfor %}
                    </td>


                  </tr>
                  {% endfor %}

                {% endif %}

                <tr>
                  <td>Other</td>
                  {% if object.sss_data_to_dict %}
                    <!-- Required for viewed snapshots -->
                    <td>{{ object.sss_data_to_dict.area.other_area|floatformat:2 }}</td>
                  {% else %}
                    <td>{{ sss_data.area.other_area|floatformat:2 }}</td>
                  {% endif %}
                </tr>
                <tr>
			      <td><input id="id_tenure_1" name="private_tenure" type="text" value="Private Property"></td>
                  {% if object.sss_data_to_dict %}
                    <!-- Required for viewed snapshots -->
                    <td><input id="id_area_1" name="private_area" type="number" min="0" max="{{ object.sss_data_to_dict.area.other_area|floatformat:"0" }}" value="{{ object.tenures_burnt.all|tenures_burnt:"Private Property" }}"></td>
                  {% else %}
                    <td><input id="id_area_1" name="private_area" type="number" min="0" max="{{ sss_data.area.other_area|floatformat:"0" }}" value="{{ sss_data.area.other_area|floatformat:"0" }}"></td>
                  {% endif %}
			      <td><input id="id_area_perc_1" type="number" min="0" max="100" step="0.1"></td>
                </tr>
                <tr>
			      <td><input id="id_tenure_2" name="other_crown_tenure" type="text" value="Other Crown"></td>
                  {% if object.sss_data_to_dict %}
                    <!-- Required for viewed snapshots -->
                    <td><input id="id_area_2" name="other_crown_area" type="number" min="0" max="{{ object.sss_data_to_dict.area.other_area|floatformat:"0" }}" value="{{ object.tenures_burnt.all|tenures_burnt:"Other Crown" }}"></td>
                  {% else %}
                    <td><input id="id_area_2" name="other_crown_area" type="number" min="0" max="{{ sss_data.area.other_area|floatformat:"0" }}" value="0"></td>
                  {% endif %}
			      <td><input id="id_area_perc_2" type="number" min="0" max="100" step="0.1"></td>
                </tr>

            </tbody>
        </table>
        {{ area_burnt_formset.management_form }}
    </div>
{% endif %}

<script>

    $('.area-burnt-formset tbody tr').formset({
        prefix: '{{ area_burnt_formset.prefix }}',
        formCssClass: 'area_burnt_fs',
        //addText: '<i class="icon-plus"></i> add another tenure',
        //deleteText: '<i class="icon-remove"></i>',
        addText: '',    //prevent add-another
        deleteText: '', //prevent delete
        deleteCssClass: 'delete-row' + '-' + '{{ area_burnt_formset.prefix  }}',
    });


// Make formset records uneditable
$("#id_tenure_1,#id_tenure_2,#id_areas_burnt").mousedown(function(e){ e.preventDefault(); });


{% if object.sss_data_to_dict %}
    var total_other_area = {{ object.sss_data_to_dict.area.other_area|floatformat:"0" }};
{% else %}
    var total_other_area = {{ sss_data.area.other_area|floatformat:"0" }};
{% endif %}

//var total_other_area = 1000.0;
//$("#id_area_1").val(total_other_area);


$('#id_area_1').on('change', function() {
    var area = $("#id_area_1").val() || 0;
    var area_perc = 100.0 * area/total_other_area
    $("#id_area_perc_1").val( (area_perc).toFixed(1) );

    $("#id_area_2").val( ((100.0 - area_perc)/100.0 * total_other_area).toFixed(0) );
    $("#id_area_perc_2").val( (100.0 - area_perc).toFixed(1) );
}).change();

$('#id_area_2').on('change', function() {
    var area = $("#id_area_2").val() || 0;
    var area_perc = 100.0 * area/total_other_area
    $("#id_area_perc_2").val((area_perc).toFixed(1));

    $("#id_area_1").val( ((100.0 - area_perc)/100.0 * total_other_area).toFixed(0) );
    $("#id_area_perc_1").val( (100.0 - area_perc).toFixed(1) );
}).change();

$('#id_area_perc_1').on('change', function() {
    var area_perc = $("#id_area_perc_1").val() || 100.0 * $("#id_area_1").val()/total_other_area;
    var area = area_perc * total_other_area / 100.0
    $("#id_area_1").val( (area).toFixed(0) );

    $("#id_area_2").val( ((100.0 - area_perc)/100.0 * total_other_area).toFixed(0) );
    $("#id_area_perc_2").val( (100.0 - area_perc).toFixed(1) );
}).change();

$('#id_area_perc_2').on('change', function() {
    var area_perc = $("#id_area_perc_2").val() || 100.0 * $("#id_area_2").val()/total_other_area;
    var area = area_perc * total_other_area / 100.0
    $("#id_area_2").val( (area).toFixed(0) );

    $("#id_area_1").val( ((100.0 - area_perc)/100.0 * total_other_area).toFixed(0) );
    $("#id_area_perc_1").val( (100.0 - area_perc).toFixed(1) );
}).change();

// Make formset records uneditable
$('[id^="id_area_burnt"][id$="tenure"]').css('background-color' , '#DEDEDE'); // starts with and ends with
$('[id^="id_area_burnt"][id$="area"]').css('background-color' , '#DEDEDE');
//$("#id_areas_burnt").not("#id_area_1,#id_area_2,#id_area_perc_1,#id_area_perc_2").mousedown(function(e){ e.preventDefault(); });

</script>


