# git+https://github.com/dbca-wa/dbca-utils@1.0.2
git+https://github.com/dbca-wa/dbca-utils.git@1.1.1#egg=dbca-utils
psycopg2-binary==2.8.2
# Django==1.10.7
Django==3.2.25
django-extensions==1.7.6
django-dotenv==1.4.2
dj-database-url==0.5.0
gunicorn==19.9.0
dj-static==0.0.6
# django-crispy-forms==1.6.1
django-crispy-forms==1.13.0
webtemplate-dbca==0.6.0
# django-tastypie==0.13.3
django-tastypie==0.14.6
django-model-utils==2.0.3
# django-filter==1.0.1
django-filter==23.5
# python-dateutil==2.6.0
python-dateutil==2.8.2
python-magic==0.4.10
Unidecode==0.4.18
# django-reversion==2.0.8
django-reversion==4.0.0
# django-reversion-compare==0.7.5
django-reversion-compare==0.17.0
# django-smart-selects==1.3.4
django-smart-selects==1.7.2
unicodecsv==0.14.1
# LatLon==1.0.2
latloncalc==1.5.6
# lxml==3.8.0
lxml==5.0.0
# pytz==2016.10
pytz==2023.3
xlwt==1.2.0
# pandas==0.19.2
pandas==2.2.3
requests==2.20.0
requests-ntlm==1.1.0
