{% load static from staticfiles %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Smart Selects Test</title>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<form action="" method="post">{% csrf_token %}
    <div class="row">
        <div class="col-sm-2" > 
            <div id="div_id_region" class="form-group"> 
                <label for="id_region" class="control-label requiredField">Region*</label>
                <div class="controls ">{{form.region}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_district" class="form-group"> 
                <label for="id_district" class="control-label requiredField">District*</label>
                <div class="controls ">{{form.district}}</div>
            </div>
        </div>
    </div>
    <input type="submit" value="Save" />
</form>

<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"</script>



</body>
</html>
