{% extends "admin/base.html" %}
{% load static from staticfiles %}

{% block extrahead %}
  {{ block.super }}
  <style>
  .filter-pad {
    margin-top: 5px;
    margin-bottom: -17px !important;
    margin-left: 10px;
  }
  .adjust-legend{
    margin-bottom:-40px;
  }

  .ui-datepicker {
      width: 216px;
      height: auto;
      margin: 5px auto 0;
      font: 9pt Arial, sans-serif;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      background-color: #FFF;
  }

  .myCollapse {
        display: none;
  }
  .myCollapse.in {
        display: table-row;
  }

  #content {
      float:left;
      text-align:left;
      width:90%;
  }

  .formset {
      text-indent: -1em;
      padding-left: 1em;
  }

  .nonRequiredField {
      font-weight: normal !important;
  }

  .requiredField {
      font-weight: strong !important;
  }

  hr{
    padding: 0px;
    margin: 0px;
  }

th, td {
    padding: 5px 15px;
}

table, tr, td {
    border: none;
}

  </style>
  {% endblock %}

  {% block extrastyle %}
  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  {% comment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  {% endcomment %}

  <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>

  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- http://xdsoft.net/jqplugins/datetimepicker/ -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}"/ >
  <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>

  <script>
    $(function(){
        if ($('#id_fire_not_found').is(':checked')) {
            $('#id_latlong').hide();
            $('#id_mga_zone').hide();
            $('#id_fd_grid').hide();
            $('#id_coord_type').prop('selectedIndex', 0);
        } else {
            var coord_type = $('#id_coord_type :selected').text();
            if (coord_type.indexOf('---') > -1) {
                $('#id_latlong').hide();
                $('#id_mga_zone').hide();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', true);
                $('#id_coord_type').prop('selectedIndex', 0);
            } else if (coord_type=='Lat/Long') {
                $('#id_latlong').show();
                $('#id_mga_zone').hide();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', false);
            } else if (coord_type=='MGA') {
                $('#id_mga_zone').show();
                $('#id_latlong').hide();
                $('#id_fd_grid').hide();
                $('#id_fire_not_found').prop('checked', false);
            } else if (coord_type=='FD Grid') {
                $('#id_fd_grid').show();
                $('#id_latlong').hide();
                $('#id_mga_zone').hide();
                $('#id_fire_not_found').prop('checked', false);
            }
        }

    });
  </script>

  {% endblock %}


{% block content %}

{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


<h1>Bushfire Detail</h1>
<form action="" method="post">{% csrf_token %}

<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_region" class="form-group"> 
            <label for="id_region" class="control-label requiredField">Region*</label>
            <div class="controls ">{{form.region}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_district" class="form-group"> 
            <label for="id_district" class="control-label requiredField">District*</label>
            <div class="controls ">{{form.district}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_incident_no" class="form-group"> 
            <label for="id_incident_no" class="control-label requiredField">Fire Incident No.*</label>
            <div class="controls ">{{form.incident_no}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_season" class="form-group"> 
            <label for="id_season" class="control-label  requiredField">Season*</label>
            <div class="controls ">{{form.season}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_job_code" class="form-group"> 
            <label for="id_job_code" class="control-label">Job Code</label>
            <div class="controls ">{{form.job_code}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_name" class="form-group"> 
            <label for="id_name" class="control-label  requiredField">Name*</label>
            <div class="controls ">{{form.name}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_potential_fire_level" class="form-group"> 
            <label for="id_potential_fire_level" class="control-label  requiredField">Potential Fire Level*</label>
            <div class="controls ">{{form.potential_fire_level}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_init_authorised_by" class="form-group"> 
            <label for="id_init_authorised_by" class="control-label">Authorised By</label>
            <div class="controls ">{{form.init_authorised_by}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_init_authorised_date" class="form-group"> 
            <label for="id_init_authorised_date" class="control-label">Authorised Date</label>
            <div class="controls ">{{form.init_authorised_date}}</div>
        </div>
    </div>
</div>

<hr>
<h3>Activities</h3>
<div id="id_activities" class="row formset activity-formset">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <th></th>
            <th>Activity</th>
            <th>Date</th>
            {% for fs in activity_formset.forms %}
            <tr>
               <td>
                    {% if fs.instance.pk %}{{ fs.DELETE }}{% endif %}
                    {{ fs.id }}
                </td>
               <td>{{ fs.activity }}</td>
               <td>{{ fs.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ activity_formset.management_form }}
</div>

    <hr><br>
  <input type="submit" value="Save" />
</form>


<script>


    //$('.activity-formset tbody tr').formset({
    $('.activity-formset tbody tr').formset({
        prefix: '{{ activity_formset.prefix }}',
        formCssClass: 'activity_fs',
        addText: '<i class="icon-plus"></i> add another activity',
        deleteText: '<i class="icon-remove"></i>'
    });

// $('[id^=""]').hide() // starts with 
$('#id_init_authorised_date').datetimepicker({ dateFormat: "yy-mm-dd", timeFormat:  "hh:mm" }); //ends with
$('[id$="-date"]').datetimepicker({ dateFormat: "yy-mm-dd", timeFormat:  "hh:mm" }); //ends with

$('#id_fire_not_found').click(function() {
    if ($(this).is(':checked')) {
        $('#id_latlong').hide();
        $('#id_mga_zone').hide();
        $('#id_fd_grid').hide();
        $('#id_coord_type').prop('selectedIndex', 0);
    } else {
        var coord_type = $('#id_coord_type :selected').text();
        //console.log('Co Ord Type' + coord_type);
        if (coord_type.indexOf('---') > -1) {
            $('#id_latlong').hide();
            $('#id_mga_zone').hide();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', true);
            $('#id_coord_type').prop('selectedIndex', 0);
        } else if (coord_type=='Lat/Long') {
            $('#id_latlong').show();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', false);

            // calc MGA
            $('#id_mga_zone').show();
            $('#id_mga_zone').prop("readonly", true);
        } else if (coord_type=='MGA') {
            $('#id_mga_zone').show();
            $('#id_latlong').hide();
            $('#id_fd_grid').hide();
            $('#id_fire_not_found').prop('checked', false);

            // calc Lat/Long
            $('#id_latlong').show();
            $('#id_latlong').prop("readonly", true);
        } else if (coord_type=='FD Grid') {
            $('#id_fd_grid').show();
            $('#id_latlong').hide();
            $('#id_mga_zone').hide();
            $('#id_fire_not_found').prop('checked', false);
        }
    }
});

$('#id_coord_type').on('change', function() {
    var coord_type = $('#id_coord_type :selected').text();
    //console.log(' *** Co Ord Type' + coord_type);
    if (coord_type.indexOf('---') > -1) {
        $('#id_latlong').hide();
        $('#id_mga_zone').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', true);
        $('#id_coord_type').prop('selectedIndex', 0);
    } else if (coord_type=='Lat/Long') {
        $('#id_latlong').show();
        $('#id_mga_zone').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', false);

        // calc MGA
        $('#id_mga_zone').show();
        $('#id_mga_zone').find('input, textarea, button, select').prop('disabled',true);
        $('#id_latlong').find('input, textarea, button, select').prop('disabled',false);
    } else if (coord_type=='MGA') {
        $('#id_mga_zone').show();
        $('#id_latlong').hide();
        $('#id_fd_grid').hide();
        $('#id_fire_not_found').prop('checked', false);

        // calc Lat/Long
        $('#id_latlong').show();
        $('#id_latlong').find('input, textarea, button, select').prop('disabled',true);
        $('#id_mga_zone').find('input, textarea, button, select').prop('disabled',false);
    } else if (coord_type=='FD Grid') {
        $('#id_fd_grid').show();
        $('#id_latlong').hide();
        $('#id_mga_zone').hide();
        $('#id_fire_not_found').prop('checked', false);
    }
});

</script>

<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}
