@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-hai-webfont.eot');
    src: url('../fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hai-webfont.woff') format('woff'),
         url('../fonts/lato-hai-webfont.ttf') format('truetype'),
         url('../fonts/lato-hai-webfont.svg#latohairline') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-lig-webfont.eot');
    src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bol-webfont.eot');
    src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bla-webfont.eot');
    src: url('../fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bla-webfont.woff') format('woff'),
         url('../fonts/lato-bla-webfont.ttf') format('truetype'),
         url('../fonts/lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-haiita-webfont.eot');
    src: url('../fonts/lato-haiita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-haiita-webfont.woff') format('woff'),
         url('../fonts/lato-haiita-webfont.ttf') format('truetype'),
         url('../fonts/lato-haiita-webfont.svg#latohairline_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-ligita-webfont.eot');
    src: url('../fonts/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-ligita-webfont.woff') format('woff'),
         url('../fonts/lato-ligita-webfont.ttf') format('truetype'),
         url('../fonts/lato-ligita-webfont.svg#latolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regita-webfont.eot');
    src: url('../fonts/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regita-webfont.woff') format('woff'),
         url('../fonts/lato-regita-webfont.ttf') format('truetype'),
         url('../fonts/lato-regita-webfont.svg#latoitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bolita-webfont.eot');
    src: url('../fonts/lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bolita-webfont.woff') format('woff'),
         url('../fonts/lato-bolita-webfont.ttf') format('truetype'),
         url('../fonts/lato-bolita-webfont.svg#latobold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-blaita-webfont.eot');
    src: url('../fonts/lato-blaita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-blaita-webfont.woff') format('woff'),
         url('../fonts/lato-blaita-webfont.ttf') format('truetype'),
         url('../fonts/lato-blaita-webfont.svg#latoblack_italic') format('svg');
    font-weight: 900;
    font-style: italic;
}
