/* Standards */
body {background: #f9f9f9 url(../images/soft_wallpaper.jpg) repeat 0 0;}
::selection {
background: #3580ca;
color: #fff;
text-shadow: none;
}
a[rel=external] {
background: url(../images/icn-external.gif) no-repeat right center;padding-right:15px
}
h2, h3, h4, h5, h6 {margin:20px 0;}
.xxl {font-size:57.5px;}
.xl {font-size:47.5px;}
h1, .fs1, .icon-1 {font-size:33.5px;}
h2, .fs2, .icon-2 {font-size:27.5px;}
h3, .f23, .icon-3 {font-size:22.5px;}
h4, .fs4, .icon-4 {font-size:17.5px;}
.normal {font-weight:normal;}
.thick {font-weight:bold;}
.thicker {font-weight:900;}
.carousel-caption h2 {font-size: 300%;}
#MainContent h1 a, #MainContent h2 a,  #MainContent .readmore a, #MainContent  a.accordion-toggle:link, #MainContent  a.accordion-toggle:visited {text-decoration:none;}
#MainContent a {text-decoration:underline;}
.page-header {margin-top:0;}
a:hover, a:focus {
text-decoration: underline;
}
.nav-header {text-transform:none;}
/* top Mast */
.masthead {min-height: 115px;padding: 0; }
.masthead > .row-fluid {padding-top:15px;}
.topmast {padding-top:40px;
background: #3580ca url(../images/top-bg.gif) repeat-x center bottom;
 }
.topmast .container {background: /*#3a83ccurl(../images/topmast-graphic.gif) no-repeat bottom right;*/ }
.topmast a {color:#fff;}
h1#site-title, div#site-title {/*line-height: 24px;font-weight: 300;font-size: 22.5px; */ text-decoration: none; color: #3580ca; margin: 0 0 0 30px; width:216px; height:81px; white-space: nowrap; overflow: hidden;}
.navbar-fixed-top {margin-bottom: 0px;}
.navbar-inner {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.container {margin: 0 auto;max-width: 1170px;}
.form-search, .topsearch form {padding: 5px 0 0 0;margin: 0;}
#mod-search-searchword {margin:0;}
.alert {overflow:auto;}
.alert-info a {color:#3a87ad; text-decoration:underline}

.errorbody {margin-top:55px;}
.errorbody > .container > .header {margin-bottom:15px;}
.errorbody > .container > #mainnav > .navbar-inner {border-bottom: 1px solid #d4d4d4;}
#mainnav > .container {padding-top:0px;}
.dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 160px;
padding: 5px 0;
margin: 0;
list-style: none;
background-color: #ffffff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
}
#ContentContainer {
margin: 15px auto;
padding-bottom:30px;
background:#fff;
-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
-moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
}
/* Padding & Margins */
.is-padded, .pad-20 {padding:20px;}
.pad-10 {padding:10px;}
.pad-5 {padding:5px;}
.margin-5 {margin:5px;}
.margin-10 {margin:10px;}
#map_canvas, #map-canvas {width:100%; height: 350px;}
#RightColumn > .pad-20 {padding-left:0px;}
#mainnav {background:#3580ca; color:#fff;margin-bottom:0;}
#mainnav a {color:#fff;}
#mainnav ul li li a, #mainnav ul li li li a, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {color:#000;}
#mainnav ul li li a:hover, #mainnav ul li li li a:hover {color:#fff;}
#mainnav .nav {
border-right: 1px solid #4992d7;
border-left: 1px solid #226fbb;
}
#mainnav .nav > li {}
#mainnav .nav > li > a {cursor: pointer; color:#fff; text-shadow:none;
border-left: 1px solid #4992d7;
border-right: 1px solid #226fbb;
}

#mainnav .navbar-inner {border-bottom: none;}
.navbar .nav > .active > a,
.navbar .nav > li > a:hover, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus,  
.navbar .nav > .active > a:visited, 
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open > a:hover > .dropdown-toggle,
.navbar .nav li.dropdown.open a:hover,
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle, .dropdown-menu>.active>a:hover  {
background:#005590;
color:#fff;
text-shadow: none;
-webkit-box-shadow:none;
-moz-box-shadow: none;
box-shadow:none;
}
.dropdown-menu>.active>a {background:transparent;}
#mainnav .dropdown-menu>.active.current>a {background:#005590;color:#fff;}
.nav>li.current>a, .nav>li>ul>li.current>a  {font-weight:normal;}
.navbar .nav li.dropdown>.dropdown-toggle .caret, .navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret
{
border-top-color: #fff;
border-bottom-color: #fff;
}
.well > .nav-list {
border-top: 1px solid #eaeaea;
margin:0;
}
.well > .well {
min-height: 20px;
padding: 0;
margin-bottom: 0;
background-color: #f5f5f5;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 40;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.well > .nav-list>li>a {
padding: 2px 5px;
border-top:1px solid #fff; border-bottom: 1px solid #eaeaea;
}
.well > .nav-list>.active>a, .well > .nav-list>.active>a:hover, .well > .nav-list>.active>a:focus {
color: #2a75bf;
text-shadow:none;
background-color:transparent;
}
.well > .nav-list>li>ul, .well > .nav-list>li>ul>li> a {
border-top:1px solid #fff; border-bottom: 1px solid #eaeaea;
}

.well > .nav-list>.current>a, .well > .nav-list>.current>a:hover, .well > .nav-list>.current>a:focus {
color: #ffffff;
background-color: #226fbb;
}

.well > .nav-list ul {
margin:0 0 0 10px;
border:none;
}
.well > .nav-list>li>ul, .well > .nav-list>li>ul>li> a, .well > .nav-list ul ul li a {border:none;}
.well > .nav-list>li>ul {
margin:0 0 0 5px;
border:none;
padding:5px 0;
}
#basePosition .nav-list>.active>a {background-color:transparent; text-shadow:none;}
#mainnav form {margin:0;padding:0;}
.underNav {
height: 0px;
background: #3580ca;
}
.underNav .container { height:20px; /*background: #f4a120 url(../img/h3Bg.gif) no-repeat bottom right;*/}
#featured {
height:450px;
border-top: 1px solid #4992d7;
border-bottom: 1px solid #357fc9;
margin: 0 0 0 0;
text-shadow: -1px -1px 0 #000;

color: #555555;
/*background: #d93d0d url(../img/top-background-1.jpg) repeat-y 50% 0;*/
background:#000;
padding: 20px 0;
}

.feature {padding-top:300px;}
#featured .feature-right {margin-left:10px;}
.feature-links {padding-top:120px;}
.backstretch {background:#3580ca url(../images/loading-1.gif) no-repeat 50% 50%;}
.under-feature {background: url(../images/under-feature-blue.gif) repeat-x top center; height:20px; }
.well {padding:10px;}
.well > h3 {margin:0;}
.well-inverse {
color: #f9f9f9;
text-shadow: -1px -1px 0 #000;
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #252525;
border: 1px solid #202020;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-inverse a, footer #basePosition .well-inverse a {color:#f9f9f9;}
.well-inverse a:hover, .well-inverse>.nav>li>a:hover,  .well-inverse>.nav>li.active>a {color:#339a43;background:transparent;}
.well-orange {
color: #252525;
text-shadow: -1px -1px 0 #f4a120;
min-height: 20px;
padding: 10px;
margin-bottom: 10px;
background-color: #e88e01;
border: 1px solid #de8700;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.pager li>a, .pager li>span {
padding: 5px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.external, #mainnav .dropdown-menu>li>a.external:link, #mainnav .dropdown-menu>li>a.external:visited {background:#f8941d; color: #fff;}
.dropdown-menu>li>a.external:hover {color:#fff; background: #f8941d;}
a.white {color:#fff;}

a.pagetop {}
footer a {color:#fff}
footer a:hover , .footer-links li a:hover , #basePosition .nav > li> a:hover, #basePosition .nav > li > a:focus {color:#466038;background:transparent; text-decoration:none; text-shadow: none;}

#basePosition {background: #749d5f url(../images/social-bg-green.gif) repeat-x 0 0; color:#fff; padding:20px 0 10px 0;}
#basePosition h3 {color:#fff; padding:10px 0; margin:10px 0}
footer #basePosition a {color:#fff; text-shadow: -1px -1px 0 #61834f;}
.socialbar {background: #749d5f;color: #fff;padding-top: 15px;}
.footer-block {background:#6a9057  url(../images/green-divider.png) repeat-x center top ; color: #fff; padding: 40px 0 20px 0; }
.footer-links {margin:0 auto;text-align:center;}
.footer-links li:first-child {
padding-left: 0;
}
.footer-links li:last-child {
border-right:none;
}
.footer-links li {
display: inline;
border-right:1px solid #e8f6ff;
}
.footer-links li a {
display: inline;
padding: 0 10px;
}
.link-wagov {margin:0 auto;text-align:center;font-size: 24.5px;}
.copyright {text-align:center;padding:20px 0;}



.media-object, .img{color:inherit;background-color:#fff;border:1px solid #ddd;padding:4px;}
div.thumbnail > img{border:none;padding:0;}
.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
   margin-bottom: 20px; 

}

.mainfeatured .pagination {/*text-align:center;*/margin-bottom:0;}
ul.media-list {border-top: 1px dashed #eaeaea;border-bottom: 1px dashed #fff;}
.media-list li {border-bottom: 1px dashed #eaeaea;border-top: 1px dashed #fff;padding:10px 0;margin:0;}
.media-list li:hover {background:#f0f0f0;}
.alert, .thumbnail, .btn, .label {
webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.embed-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.embed-container iframe, .embed-container object, .embed-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

figure {margin:10px;}

.breadcrumb {margin: 10px 0 0 0}

.container .visible-phone { display: none !important }
.container .visible-tablet { display: none !important }
.container .hidden-desktop { display: none !important }
.container .visible-desktop { display: block !important }

/* Large desktop */
@media  (min-width: 1200px) {
	 
}
/* Normal desktop */
@media (min-width: 980px) {

#mainnav ul.nav li.dropdown:hover > ul.dropdown-menu{ display: block !important;}


}

@media  (min-width: 768px) {
figure {
    text-align: center;
    display: table;
    max-width: 33%; /* demo; set some amount (px or %) if you can */
}
}
@media  (max-width: 980px) {
.masthead {min-height: 90px;padding: 5px 0 0 0;}
.nav-collapse .nav> li >a, .nav-collapse .dropdown-menu a {padding: 9px 15px;font-weight: normal;color: #777777;-webkit-border-radius: 30px;-moz-border-radius: 0px;border-radius: 0px;}
#mainnav .nav > li > a, #mainnav ul li li a {
cursor: pointer; color:#fff; text-shadow:none;
border-top: 1px solid #4992d7;
border-bottom: 1px solid #226fbb;
margin:0;
}
.navbar .btn-navbar {
float: right;
padding: 4px 12px;
margin-left: 5px;
margin-right: 5px;
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #363636;
background-image: -moz-linear-gradient(top, #444444, #222222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
background-image: -webkit-linear-gradient(top, #444444, #222222);
background-image: -o-linear-gradient(top, #444444, #222222);
background-image: linear-gradient(to bottom, #444444, #222222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
border-color: #222222 #222222 #000000;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


}
/* Portrait tablet to landscape and desktop */
@media  (min-width: 768px) and (max-width: 979px) {
.masthead {min-height:90px;padding:5px 0 0 0;}
.masthead > .row-fluid {padding-top: 0;}
.topmast{padding-top: 0px;}
.agency-freespace h1, .agency-freespace h1 a, .agency-freespace h2, .agency-freespace h2 a {line-height: 22px;font-weight: 300;padding-left: 0px;font-size:22px;}
.container  .hidden-desktop { display: block !important }
.container .visible-desktop { display: none !important }
.container .visible-tablet { display: block !important }
.container .hidden-tablet { display: none !important }
}

/* Landscape phone to portrait tablet */
@media  (max-width: 767px) {
body {padding-left: 10px; padding-right: 10px;}
.navbar-fixed-top, .topmast, #mainnav, .underNav, .under-feature, #featured, footer {margin-left: -10px; margin-right: -10px;}
.topmast{padding:5px 0 5px 10px;}
.masthead > .row-fluid {padding-top:0px;}
.GovLogo {width:23% !important;float:left !important;}
.AgencyLogo {width:77% !important;float:left !important;}
.navbar .nav > li > a {padding: 5px;}	
.container .hidden-desktop { display: block !important }
.container  .visible-desktop { display: none !important }
.container .visible-phone { display: block !important }
.container .hidden-phone { display: none !important } 
.feature, .feature-links {padding-top:0;}
}
/* Landscape phones and down */
@media  (max-width: 480px) {

.masthead {min-height:90px;padding:0;}
.masthead > .row-fluid, #mainnav > .container {padding-top: 0;}
h1#site-title, div#site-title {margin:0;}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {font-size:90%;}
.topmast {padding:5px 0;}
.navbar form .btn-inverse {margin-top:0px;}
.navbar .btn-inverse {margin-top:10px;}

#RightColumn > .pad-20 {padding-left:20px;} 
.footer-links li {display: inline-block;}
.under-feature {margin-bottom:0;}
.is-padded, .pad-20 {padding: 10px;}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding: 0;
}

}



.mainfeature-caption {
  background-color: transparent;
  position: static;
  padding: 0 10px;
  margin-bottom: 30px;
}
.mainfeature-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: -1px -1px 0 #000;
  padding: 10px;
  font-size:300%;
}

.unstyled li {
    display: inline;
    vertical-align: baseline;
    padding: 0 16px;
    position: relative;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
 .carousel .container {
  top: 10px;
  } 
  .navbar-inner {
    border-radius: 0;
  }

  .carousel .item {
    height: 250px;
  }
  .carousel img {

  }
}


@media (max-width: 767px) {
.navbar-fixed-top {
margin-bottom: 0px;
}


 .carousel .container {
  top: 20px;
  margin-left:0;
  }   
  .carousel .item {
  height:240px;
  }
  .carousel img {
    
  }
  .mainfeature-caption {
    width: 100%;
    padding: 0;
    margin: 0;

  }



  .mainfeature-caption h2 {
    font-size: 22px;
  }
  .mainfeature-caption .lead,
  .mainfeature-caption .btn {
    font-size: 20px;
  }
#featured .feature-right {
margin-left: 0;
}
#featured {height:240px; padding-top:0;}
.feature-links {padding-top:0px;}
.feature-right .span4 {display:inline;float:left; width:33.3%;}
.feature-right .m-block {min-height:70px;text-align:center;}
.m-block i, .socialbar i {font-size:22.5px;}
a.pagetop {float:none;}

}


div.m-block {opacity: 0.9; filter: alpha(opacity90);}
div.m-block a {min-height:75px; }
.m-block, .m-block a {display:block; text-shadow:none;}
.m-block a, .m-block a:hover, div.m-block:hover {color: #fff;text-decoration: none; opacity: 1; filter: alpha(opacity=100);
}
/* Background colors */

.m-orange{
	background: #f8941d;
	color: #fff;
	margin: 5px 2px;
	cursor:default;

}


.m-green{
	background: #749d5f;
	color: #fff;
	margin: 5px 2px;
	cursor:default;
	
}



.m-blue{
	background: #005590;
	color: #fff;
	margin: 5px 2px;
	cursor:default;	
}

.m-black{
	background: #000000;
	color: #fff;
	margin: 5px 2px;
	cursor:default;	
}


.m-red{
	background: #92191c;
	color: #fff;
       margin: 5px 2px;	
	cursor:default;	
}

#MainContent .article-index .nav li a {
padding: 2px 5px;
text-decoration: none;
}
#MainContent .article-index .nav li a.active {
color:#aeaeae;
background: #eeeeee;
}

/* Joomla Specific */
.label a {color:#fff; font-weight:normal; text-shadow:none;}
.separator {background:#eaeaea; height:1px;padding:0}
.article-index {
	margin: 0 0 10px 10px;

}

.category-list h3.item-title {
background: #f9f9f9 /* url(../images/item-title-bg.gif) no-repeat bottom right*/;
padding: 2px 5px;
text-shadow: 1px 1px 0 #fff;
margin:0;
font-size:16px;
}
.category-list .first {border-top:1px solid #f1f1f1;}
.page-header  {border-bottom:1px solid #f1f1f1;}
.category-list h3.item-title {border:1px solid #f1f1f1;border-top:1px solid #fff;}
.cat-items {
padding-top: 10px;
margin: 30px 0 0 0px;
border-top: 1px solid #eeeeee;
}
.article-index > .nav-stacked {background:#f9f9f9;}
.tags {margin-bottom:10px;}
.article-info {font-size:90%;}

/* Component overrides */
.nav-header {font-size:14px;}
/* Latest News Extended */
.lnd_introtxt {padding:0;}
li.lnd_latestnews {color:#99ccff;}
.article-info-term {display:none;}

#map-canvas img, #map_canvas img ,.google-maps img{max-width:none;} 

/* RS Forms Pro */
legend {margin-bottom:10px;}
#ContentContainer > .rsform-block, #ContentContainer > .form-horizontal > .control-group {border-bottom:1px solid #eaeaea;padding:5px 0;margin-bottom: 5px;}
.formRequired, .formRed {color:#922211}

/* K2 */
div.itemIsFeatured, div.catItemIsFeatured, div.userItemIsFeatured {background:none;}
.itemListSubCategories div.span6 {margin-left:0;}
div.catItemBody {padding: 0;}
div.subCategory img {float:left}
div.subCategory h2 {font-size:22px; line-height:22px;}
div.itemList {margin-top:20px; border-top: 1px dashed #dfdfda;}
#MainContent .catItemHeader a {text-decoration:none;}
div.itemContainer {float:none;}
div.itemContainer h3 {font-size: 18px;font-weight: normal;line-height: 110%;padding: 5px 0;margin: 0;}
div.itemContainer .article-info {padding: 5px 0;margin: 0;}
.even {background: #f5f5f5;}
#rightcolumn .frontpage, #rightcolumn .moduleItemIntrotext, #rightcolumn .lnd_introdate {font-size:90%;}
.frontpage .moduleItemImage { margin: 0 10px 10px 0;}
.moduletable, .moduletablefrontpage, .well {margin-bottom:20px;}
.moduletablefrontpage {padding: 10px; background: #f5f5f5;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; /* future proofing */
}
.moduletablefrontpage h3 , #RightColumn > .well > h3, #RightColumn > .green > h3  {
color: #fff;
background: #749d5f /*url(../images/h3-bg-2.gif) no-repeat top right*/;
padding: 2px 10px;
margin: -10px -10px 10px -10px;
-moz-border-radius: 2px 2px 0 0;
-webkit-border-radius: 2px 2px 0 0;
border-radius: 2px 2px 0 0; 
text-shadow: -1px -1px 0 #628451;
}
#RightColumn > .orange > h3  {
background:#f8941d;
color: #fff;
padding: 2px 10px;
margin: -10px -10px 10px -10px;
-moz-border-radius: 2px 2px 0 0;
-webkit-border-radius: 2px 2px 0 0;
border-radius: 2px 2px 0 0;
text-shadow: -1px -1px 0 #e68a1c;
}
div.itemIntroText {font-size:14px; line-height:inherit; font-weight:normal;color:inherit;}
.item-separator, .hdot, .itemContainer {border-bottom: 1px dashed #dfdfda; margin: 0 0 10px;padding: 0;}
.k2-dl dt , .k2-dl dd {margin-left:0; width:auto;}

/* dropdown mobile fix */
.dropdown-backdrop {
    position: static;
}



/* Print only CSS styles */
@media only print
  {
/* Hide all elements except required content 
body:after { content: "Please consider the environment before printing."; }*/
* {color: #000000;background-color: #FFFFFF;}
body {font-family: "Trebuchet MS", Arial, Verdana, Helvetica, sans-serif;font-size: 1em !important;}
body.print {background-color: #fff; background-image: none; }
a:link, a:visited {background: white; color: black; text-decoration:  underline;}
h1, h2, h3, h4, h5 {background: white; color: black;font-size: 150%;font-weight: 400;line-height: 110%;padding: 0;margin: 5px 0;}
h1 {font-size: 200%;}
h2 {font-size: 175%;}
h2 {font-size: 150%;}
h3 {font-size: 125%;}
h4 {font-size: 100%;}
h1, h2, h3 {border-bottom: 1px solid #eaeaea;}
img {max-width: 500px;page-break-inside: avoid;}
} 
