{% load admin_static %}
{% load bfrs_tags %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>

{% comment %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "twitter-bootstrap/3.3.7/css/bootstrap.min.css" %}">
{% endcomment %}
  <link rel="stylesheet" href="{% static "css/bootstrap-responsive.css" %}">
  <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "css/tablecloth.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-multiselect.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">

  <link rel="stylesheet" href="{% static "css/fonts.css" %}">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="{% static "pbs/css/styles.css" %}">
  <link rel="stylesheet" href="{% static "css/animate.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">


  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}favicon.ico"/>

{% comment %}
  <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
{% endcomment %}

  <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <script src="{% static 'js/fullcalendar.min.js' %}"></script>

  <script src="{% static 'js/gcal.js' %}"></script>
  <script src="{% static 'js/tasks.js' %}"></script>
  <script src="{% static 'js/jquery.metadata.js' %}"></script>
  <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'js/jquery.tablecloth.js' %}"></script>

  <script src="{% static 'js/jquery-ui-datepicker-1.11.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/jquery.blockui.js' %}"></script>
  <script src="{% static 'js/bootstrap-growl.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

{% block extra_js %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

{% block body %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% comment %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav pull-right">
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Welcome,
            <strong>Jawaid</strong>.
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/docs/">Help</a></li>
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endcomment %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    {% block topnavbar_content %}

    <div class="container">
      <div id="first-nav" class="nav-collapse collapse navbar-collapse">
          <ul class="nav pull-right">
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  {% trans 'Welcome,' %}
                  <strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  {% block userlinks %}
                  {% url 'django-admindocs-docroot' as docsroot %}
                  {% if docsroot %}
                    <li><a href="{{ docsroot }}">{% trans 'Help' %}</a></li>
                  {% endif %}
                  {% comment %}
                  {% if perms.auth.change_user %}
                  {% endif %}
                  {% endcomment %}
                    {% if request.user.is_superuser %}
                      <li><a href="{% url 'admin:auth_group_changelist' %}">Manage Groups</a></li>
                    {% endif %}
                    {% if can_maintain_data %}
                      <li><a href="{% url 'admin:auth_user_changelist' %}">Manage Users</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}">{% trans 'User profile' %}</a></li>
                    {% comment %}
                    <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
                    {% endcomment %}
                    <li><a href="/logout">{% trans 'Log out' %}</a></li>
                    <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                  {% endblock %}
              </ul>
            </li>
          </ul>
      </div>
    </div>


    {% endblock topnavbar_content %}
  </div>
</div>


<div class="topmast">
  <div class="container">
    <div class="masthead">
      <div class="row-fluid">
        <div class="span8">
          <div class="agency-freespace">

            <a class="brand pull-left">
              <img src="{% static 'pbs/img/waTextBlack_80-bluebg.gif' %}" alt="Government of Western Australia" />
            </a>
            <h1 id="site-title" class="site-logo pull-left">
                <img src="{% static 'pbs/img/logo-dpaw.gif' %}" alt="Department of Parks and Wildlife" />
                Department of <br><strong>Parks and Wildlife</strong>
            </h1>

          </div>
        </div>

        {% block topsearch %}
        <div class="span4 topsearch hidden-phone text-right">
           <div class="hidden-phone">
             <form action="{% url 'main' %}" method="get" class="inline">
               <div class="search input">
                 <input name="fire_number" id="mod-search-searchword" maxlength="25" class="input-large" type="text" size="25" placeholder="Search Bushfire ID or name..." />
               </div>
             </form>
           </div>
        </div>
        {% endblock topsearch %}


      </div>
    </div>
  </div>

  <div class="navbar" id="mainnav">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target="#second-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="second-nav" class="nav-collapse navbar-responsive-collapse">
            <ul class="nav" style="list-style-type: none; font-weight: bold;">
              <li style="display: inline-block;"><a href="{% url 'main' %}"><i class="icon-fire"></i> Bushfire Overview</a></li>
			  {% if request.user.is_superuser %}<li style="display: inline-block;"><a href="{% url 'bushfire:bushfire_create' %}"><i class="icon-plus"></i> Create Bushfire</a></li>{% endif %}
			  <li style="display: inline-block;">
                <a href='#' onclick='openGokart({ 
                  "action": "select", 
                  "region":{% if request.user.profile.region_id %} {{request.user.profile.region_id}} {% else %} "" {% endif%},
                  "district":{% if request.user.profile.district_id %} {{request.user.profile.district_id}} {% else %} "" {% endif%}
                });return false;' target="_blank"><i class="icon-link"></i> Spatial Support Home</a>
              </li>
			  {% comment %}
			  <li style="display: inline-block;"><a href="{% url 'sss_home' %}" target="_blank"><i class="icon-link"></i> Spatial Support Home</a></li>

			  {% if not request.user|can_readonly and not request.user.is_superuser %}<li style="display: inline-block;"><a href="{% url 'bushfire:bushfire_create' %}"><i class="icon-plus"></i> Create Bushfire</a></li>{% endif %}
			  {% endcomment %}
            </ul>
          </div>
        </div>
      </div>
  </div>

</div>

{% comment %}
{% endcomment %}
<div class="page">
  <div class="page-container">
    <div class="container">
    {% block header %}
    {% endblock %}
      {% block contentwrapper %}
    <div class="row">
      <div class="span12">
      {% block breadcrumbs %}{% endblock %}
      {% block pretitle %}{% endblock %}
      {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
      {% block content %}
        {% block object-tools %}{% endblock %}
      {% endblock %}
      </div>
    </div>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
{% block extrabody %}{% endblock %}
</body>
</html>
