{% extends "admin/base.html" %}
{% load static %}
{% load bfrs_tags %}

{% block extrahead %}
  {{ block.super }}
  <style>
    .filter-pad {
        margin-top: 5px;
        margin-bottom: -17px !important;
        margin-left: 10px;
    }
    .adjust-legend{
        margin-bottom:-40px;
    }

    .ui-datepicker {
        width: 216px;
        height: auto;
        margin: 5px auto 0;
        font: 9pt Arial, sans-serif;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        background-color: #FFF;
    }

    .myCollapse {
            display: none;
    }
    .myCollapse.in {
            display: table-row;
    }

    #content {
        float:left;
        text-align:left;
        width:90%;
    }

    .formset {
        text-indent: -1em;
        padding-left: 1em;
    }

    .nonRequiredField {
        font-weight: normal !important;
    }

    .requiredField {
        font-weight: strong !important;
    }

    hr{
        padding: 0px;
        margin: 0px;
    }

    th, td {
        padding: 5px 15px;
    }

    table, tr, td {
        border: none;
    }

    .table_fs {
        margin-left:20px;
    }

    .navbar-fixed-bottom {
    background-color: #F6F6F6;
    background-image: none;
    background-repeat: no-repeat;
    }

    .btn {
    vertical-align: top;
    }

    body { padding-bottom: 70px; }

    td, th {
        font-size: 13px;
    }


    [id^="id_area_burnt_fs"][id$="area"] {width: 100;}
    [id^="id_damage_fs"][id$="number"] {width: 60;}
    [id^="id_injury_fs"][id$="number"] {width: 60;}
    [id^="id_offence_no"] {width: 40%;}
    [id^="id_assistance_details"] {width: 100%;}
    [id^="id_communications"] {width: 100%;}
    [id^="id_other_info"] {width: 100%;}
    [id^="id_other_cause"] {width: 100%;}
    [id^="id_prescribed_burn_id"] {width: 100%;}
    [id^="id_fire_position"] {width: 100%;}
    [id^="id_fire_position_override"] {width: 10%;}

    [id^="id_invalid_details"] {width: 100%;}
    [id^="id_other_first_attack"] {width: 100%;}
    [id^="id_other_initial_control"] {width: 100%;}
    [id^="id_other_final_control"] {width: 100%;}

    [id^="id_author"] {width: 100%;}
    [id^="id_position"] {width: 100%;}
    [id^="id_branch"] {width: 100%;}
    [id^="id_division"] {width: 100%;}
    [id^="id_title"] {width: 100%;}
    [id^="id_supplementary_text"] {width: 100%; height:100px;}
    [id^="id_cost_implications"] {width: 100%; height:50px;}
    [id^="id_urgency"] {width: 100%; height:50px;}
    [id^="id_contentious_issues"] {width: 100%; height:50px;}

  </style>

  {% endblock %}


{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "twitter-bootstrap/3.3.7/css/bootstrap.min.css" %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/moment.js' %}"></script>
  <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
  <script src="{% settings_value "SSS_URL" %}/dist/static/js/gokart.js"></script>
{% endblock %}

{% block extrabody %}
<script>
    /* GoKart section */
    gokart = Gokart.get('bfrs','{% settings_value "SSS_URL" %}');

    function openGokart(open_options) {
        gokart.call("open", open_options);
    }

    {% refresh_gokart %}

   /* END - GoKart section */

    function growl(response) {
        $.growl(response.message, {
            type: response.type,
            delay: 10000,
            allow_dismiss: true,
            animate: {
                enter: 'animated bounceIn',
                exit: 'animated bounceOut'
            },
            offset: {
                x: 100,
                y: 20
            }
        });
    };

</script>

{% endblock %}


