
{% load static %}
{% load bfrs_tags %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>

  <link rel="stylesheet" href="{% static "twitter-bootstrap/5.3.3/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap-icons/1.11.3/bootstrap-icons.min.css" %}">
  <link rel="stylesheet" href="{% static "css/tablecloth.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-multiselect.css" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">

  <link rel="stylesheet" href="{% static "css/fonts.css" %}">
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="{% static "pbs/css/styles.css" %}">
  <link rel="stylesheet" href="{% static "css/animate.css" %}">
  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">


  <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}favicon.ico"/>

  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.min.js' %}"></script>
  <script src="{% static 'twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/fullcalendar.min.js' %}"></script>

  <script src="{% static 'js/gcal.js' %}"></script>
  <script src="{% static 'js/tasks.js' %}"></script>
  <script src="{% static 'js/jquery.metadata.js' %}"></script>
  <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'js/jquery.tablecloth.js' %}"></script>

  <script src="{% static 'js/jquery-ui-datepicker-1.11.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.js' %}"></script>
  <script src="{% static 'js/jquery.blockui.js' %}"></script>
  <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>

{% block extra_js %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}

{% block body %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" style="{% page_background %}">

<nav class="navbar navbar-expand navbar-dark bg-dark navbar-fixed-top">
  {% block topnavbar_content %}
  <div class="container">
    <div class="collapse navbar-collapse" id="first-nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
            {% trans 'Welcome,' %}
            <strong>{% filter force_escape %}{% firstof user.get_short_name user.get_username %}{% endfilter %}</strong>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            {% block userlinks %}
            {% url 'django-admindocs-docroot' as docsroot %}
            {% if docsroot %}
              <a class="dropdown-item" href="{{ docsroot }}">{% trans 'Help' %}</a>
            {% endif %}
            {% if request.user.is_superuser %}
              <a class="dropdown-item" href="{% url 'admin:auth_group_changelist' %}">Manage Groups</a>
            {% endif %}
            {% if can_maintain_data %}
              <a class="dropdown-item" href="{% url 'admin:auth_user_changelist' %}">Manage Users</a>
              <a class="dropdown-item" href="{% url 'bushfire:documentcategory_list' %}">Manage Document Categories</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'bushfire:documentcategory_list' %}">Document Categories</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'profile' %}">{% trans 'Edit Profile' %}</a>
            <a class="dropdown-item" href="/logout">{% trans 'Log out' %}</a>
            {% endblock %}
          </div>
        </li>
      </ul>
    </div>
  </div>
  {% endblock topnavbar_content %}
</nav>


<div class="topmast">
  <div class="container">
    <div class="masthead">
      <div class="row">
        <div class="col-md-8">
          <div class="agency-freespace">

            <a class="float-start">
              <img src="{% static 'pbs/img/waTextBlack_80-bluebg.gif' %}" alt="Government of Western Australia" />
            </a>
            <h1 id="site-title" class="site-logo float-start">
                <img src="{% static 'pbs/img/logo-dpaw.gif' %}" alt="Department of Parks and Wildlife" />
                Department of <br><strong>Parks and Wildlife</strong>
            </h1>

          </div>
        </div>

        {% block topsearch %}
        <div class="col-md-4 topsearch d-none d-md-block text-end">
          <form action="{% url 'main' %}" method="get" class="inline">
            <div class="search input">
              <input name="fire_number" id="mod-search-searchword" maxlength="25" class="form-control" type="text" size="25" placeholder="Search Fire, Name or DFES No." />
            </div>
          </form>
        </div>
        {% endblock topsearch %}

      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-md" id="mainnav">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#second-nav" aria-controls="second-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="second-nav">
        <ul class="navbar-nav" style="font-weight: bold;">
          <li class="nav-item"><a class="nav-link" href="{% url 'main' %}"><i class="bi bi-fire"></i> Bushfire Overview</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'sss_home' %}" target="_blank"><i class="bi bi-link"></i> Spatial Support Home</a></li>
          {% if not request.user|can_readonly and not request.user.is_superuser %}
          <li class="nav-item"><a class="nav-link" href="{% url 'bushfire:bushfire_create' %}"><i class="bi bi-plus"></i> Create Bushfire</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

</div>

{% comment %}
{% endcomment %}
<div class="page">
  <div class="page-container">
    <div class="container">
    {% block header %}
    {% endblock %}
      {% block contentwrapper %}
    <div class="row">
      <div class="col-12">
      {% block breadcrumbs %}{% endblock %}
      {% block pretitle %}{% endblock %}
      {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}

      {% block messages %}
      {% if messages %}
      <div class="row">
      {% for message in messages %}
         {% if 'error' in message.tags %}
         <div style="margin-bottom:0px;padding:5px" class="alert alert-danger">
             <i {% if 'submsg' in message.tags %} style="margin-left:30px" {% endif %} class="bi bi-exclamation-triangle"></i>
         {% elif 'warning' in message.tags %}
         <div style="margin-bottom:0px;padding:5px" class="alert alert-warning">
             <i {% if 'submsg' in message.tags %} style="margin-left:30px" {% endif %} class="bi bi-exclamation-triangle"></i>
         {% elif 'info' in message.tags %}
         <div style="margin-bottom:0px;padding:5px" class="alert alert-info">
             <i {% if 'submsg' in message.tags %} style="margin-left:30px" {% endif %} class="bi bi-info-circle"></i>
         {% else %}
         <div style="margin-bottom:0px;padding:5px" class="alert alert-success">
             <i {% if 'submsg' in message.tags %} style="margin-left:30px" {% endif %} class="bi bi-check"></i>
         {% endif %}
         {% if 'safe' in message.tags %}
             {{ message|safe }}
         {% else %}
             {{ message }}
         {% endif %}
         </div>
      
      {% endfor %}
      </div>
      {% endif %}
      {% endblock %}

      {% block content %}
        {% block object-tools %}{% endblock %}
      {% endblock %}
      </div>
    </div>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
{% block extrabody %}{% endblock %}
</body>
</html>
