{% extends "admin/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "twitter-bootstrap/3.3.7/css/bootstrap.min.css" %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'twitter-bootstrap/3.3.7/js/bootstrap.min.js' %}"></script>
{% endblock %}



{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="{% url 'main' %}">{% trans 'Main' %}</a> <span class="divider">/</span></li>
  <li>Edit profile</li>
</ul>
{% endblock %}

{% block content_title %}
    {% if request.session.first_login %}
    <div class="alert alert-block">
        <h4>Welcome!</h4>
        This is the first time you have logged into the Prescribed Burn System.
        To get started, select your region and district from the dropdowns below.
    </div>
    {% endif %}
    <h1>Edit Profile</h1>
    <p>Select the region and district that you belong to.</p>
{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}
