{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
    {% comment %}
  <li><a href="{% url 'admin:index' %}">{% trans 'Regional Overview' %}</a> <span class="divider">/</span></li>
    {% endcomment %}
  <li><a href="{% url 'main' %}">{% trans 'Bushfire Overview' %}</a></li>
  <li><a href="{% url 'admin:auth_user_changelist' %}">Manage Users</a>
  <li>Update User</li>
</ul>
{% endblock %}
{% endif %}

{% block content %}
{{ block.super }}
{% endblock %}
