{% load bfrs_tags %}

{% if object.final_fire_boundary %}
<div class="row formset area-burnt-formset">
    <table class="table_fs" border="0" >
        <tbody>
          <tr>
            <th>Tenure</th>
            <th>Area (ha)</th>
          </tr>


              {% for area in form.tenures_burnt.all %}
                {% if area.area != 0 %}
                  <tr>
                    <td>{{ area.tenure }}</td>
                    <td>{{ area.area }}</td>
                  </tr>
                {% endif %}
              {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
  No final fire boundary available
{% endif %}

<script>
</script>


