<h1>Bushfire Detail</h1>
<table class="table table-bordered table-striped table-condensed">
  <tbody>
    <tr>
      <td class="cbas">

        <div class="col-sm-2" > 
            <div id="div_id_region" class="form-group"> 
                <label for="id_region" class="control-label requiredField">Region*</label>
                <div class="controls ">{{form.region}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_district" class="form-group"> 
                <label for="id_district" class="control-label requiredField">District*</label>
                <div class="controls ">{{form.district}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_incident_no" class="form-group"> 
                <label for="id_incident_no" class="control-label requiredField">Fire Incident No.*</label>
                <div class="controls ">{{form.incident_no}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_season" class="form-group"> 
                <label for="id_season" class="control-label  requiredField">Season*</label>
                <div class="controls ">{{form.season}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_job_code" class="form-group"> 
                <label for="id_job_code" class="control-label requiredField">Job Code*</label>
                <div class="controls ">{{form.job_code}}</div>
            </div>
        </div>

      </td>
    </tr>

    <tr>
      <td>

        <div class="col-sm-2" > 
            <div id="div_id_name" class="form-group"> 
                <label for="id_name" class="control-label  requiredField">Name*</label>
                <div class="controls ">{{form.name}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_dfes_incident_no" class="form-group"> 
                <label for="id_dfes_incident_no" class="control-label  nonRequiredField">DFES Incident No.</label>
                <div class="controls ">{{form.dfes_incident_no}}</div>
            </div>
        </div>

        {% comment %}
        <div class="col-sm-2" > 
            <div id="div_potential_fire_level" class="form-group"> 
                <label for="id_potential_fire_level" class="control-label  requiredField">Potential Fire Level*</label>
                <div class="controls ">{{form.potential_fire_level}}</div>
            </div>
        </div>
        {% endcomment %}

        <div class="col-sm-2" > 
            <div id="div_id_authorised_by" class="form-group"> 
                <label for="id_authorised_by" class="control-label nonRequiredField">Authorised By</label>
                <div class="controls ">{{form.authorised_by}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_authorised_date" class="form-group"> 
                <label for="id_authorised_date" class="control-label nonRequiredField">Authorised Date</label>
                <div class="controls ">{{form.authorised_date}}</div>
            </div>
        </div>

      </td>
    </tr>

    <tr>
      <td class="cbas">

        <div class="col-sm-4" > 
            <div id="div_id_source" class="form-group"> 
                <label for="id_source" class="control-label nonRequiredField">Reported By</label>
                <div class="controls ">{{form.source}}</div>
            </div>
        </div>

        <div class="col-sm-4" > 
            <div id="div_id_cause" class="form-group"> 
                <label for="id_cause" class="control-label requiredField">Cause*</label>
                <div class="controls ">{{form.cause}}</div>
            </div>
        </div>

        <div class="col-sm-4" > 
            <div id="div_id_cause_other" class="form-group"> 
                <label for="id_cause_other" class="control-label nonRequiredField">Other Cause</label>
                <div class="controls ">{{form.other_cause}}</div>
            </div>
        </div>

      </td>
    </tr>

    <tr>
      <td>

        <div class="col-sm-4" > 
            <div id="div_id_prescription" class="form-group"> 
                <label for="id_prescription" class="control-label nonRequiredField">Burn ID (if cause is Escape)</label>
                <div class="controls ">{{form.prescription}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_offence_no" class="form-group"> 
                <label for="id_offence_no" class="control-label nonRequiredField">Offence No.</label>
                <div class="controls ">{{form.offence_no}}</div>
            </div>
        </div>

        <div class="col-sm-2" > 
            <div id="div_id_arson_squad_notified" class="form-group"> 
                <label for="id_arson_squad_notified" class="control-label nonRequiredField">Arson Squad Notified</label>
                <div class="controls ">{{form.arson_squad_notified}}</div>
            </div>
        </div>

      </td>
    </tr>

  </tbody>
</table>

{% include "bfrs/activities_fs.html" %}




