body #id_objective_modal {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 100px;
    margin: 0px;
    width: 95%;
}

body #id_objective_modal .modal-dialog, 
body #id_objective_modal .modal-content {
    height: 100%;
}

body #id_objective_modal .modal-body {
    max-height: 85%;
}

textarea#id_forest_blocks {
    width: 95%;
}

label {
    cursor: default;    
}

.label-very-low {
    background-color: #6CCF63;
}

.label-low {
    background-color: #D3E600;
}

.label-medium {
    background-color: #EDA600;
}

.label-high {
    background-color: #FF0000;
}

.label-very-high {
    background-color: #AD0000;
}

form#regionalobjective_form textarea.vLargeTextField {
    width: 400px;
}

form#user_form div.selector {
    padding-bottom: 1px;
}

/* input#id_financial_year, input#id_last_year,*/
form#burningprescription_form input.vIntegerField,
form#edgingplan_form input.vIntegerField{
    width: 40px;
}

input.locn_distance {
    width: 75px;
}

#id_financial_year {
    width: 80px;
}

a.selector-chooseall {
    display: none !important;
}

body h2 {
    font-weight: 500;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

select {
    width: auto;
}

li.nav-header {
    font-size: 14px;
    color: #000000;
    background: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
}

a#id_cancel_button,
a#id_delete_button {
    height: 18px;
}

.actions {
    margin-bottom: 5px;
}

ul#actionnav {
    background-color: #E3EFFF;
}

.calendarbox {
    border: 1px solid #333333;
}

.calendarbox td {
    background-color: #EFEFEF;
}

.listview-img {
    height: 30px;
}

.object-tools {
    font-size: 10px;
    font-weight: bold;
    padding-left: 0;
    float: right;
    position: relative;
    margin-top: -2.4em;
    margin-bottom: -2em;
}

.table thead tr th.required div.text:before {
    content:'* ';
}

.table tbody tr th.cbas, .table tbody tr td.cbas {
    background-color: #FCF8E3;
}

.table tbody tr td.success {
    background-color: #DFF0D8;
}
.table tbody tr td.error {
    background-color: #F2DEDE;
}
.table tbody tr td.info{
    background-color: #FCF8E3;
}

.table tbody tr.success > th {
    background-color: #DFF0D8;
}
.table tbody tr.error > th {
    background-color: #F2DEDE;
}
.table tbody tr.warning > th {
    background-color: #FCF8E3;
}

.table tbody tr th.group-heading {
    background-color: #efefef;
}

#state tbody tr.info > th,
#state tbody tr.info > td {
    background-color: #ddd;
}

#state tbody tr.info > td select {
    background-color: #eee;
}

.table-hover tbody tr.success:hover > th {
    background-color: #D0E9C6;
}
.table-hover tbody tr.error:hover > th {
    background-color: #EBCCCC;
}
.table-hover tbody tr.warning:hover > th {
    background-color: #FAF2CC;
}
.table-hover tbody tr.info:hover > th {
    background-color: #C4E3F3;
}

a.selector-chooseall {
    display: none;
}

.vTextField {
  width: 95%;
}

/* DPaW styling -- stolen from dpaw.wa.gov.au, thank yew. */

h1#site-title, div#site-title {
  color: #3580CA;
  height: 81px;
  margin: 0 0 0 30px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  width: 216px;
}

.topmast a {
  color: #FFFFFF;
}

.topmast #id_copyright {
  color: #FFFFFF;
}

.topmast {
  background: url("../img/top-bg.gif") repeat-x scroll center bottom #3580CA;
  padding-top: 40px;
}

.masthead {
  min-height: 115px;
  padding: 0;
}

.masthead > .row-fluid {
  padding-top: 15px;
}

.navbar .nav > .active > a, .navbar .nav > li > a:hover,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav > .active > a:visited,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open > a:hover > .dropdown-toggle,
.navbar .nav li.dropdown.open a:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.dropdown-menu > .active > a:hover {
  background: none repeat scroll 0% 0% rgb(0, 85, 144);
  color: rgb(255, 255, 255);
  text-shadow: none;
  box-shadow: none;
}

.navbar-fixed-top > .navbar-inner a.top-header-active {
    background-color: #CCCCCC;
    color: #000000;
    text-shadow: none;
    box-shadow: none;
}

div.navbar-fixed-bottom {
    height: 36px;
}

#mainnav .navbar-inner {
  background: none repeat scroll 0 0 #3580CA;
  color: #FFFFFF;
  margin-bottom: 0;
  filter: none;
}

#mainnav .navbar .nav > li > a {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #777777;
}

.form-search, .topsearch form {
  margin: 0;
  padding: 5px 0 0;
}

#mod-search-searchword {
  margin: 0;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}

.collapse, .expand {
  margin-left: 5px;
}

.collapse:hover, .expand:hover {
  text-decoration: none;
}

.group-heading input {
  margin-top: 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: #eeeeee;
    color: #000000;
}
