{% extends "webtemplate_dbca/base.html" %}
{% load static from staticfiles %}

{% block extra_head %}
  <style type="text/css" src="{{STATIC_URL}}css/jquery.tablesorter.pager.css"></style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-latest.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.pager.js"></script>

  <script>
    $(function(){
        $("#table")
          .tablesorter({widthFixed: true, widgets: ['zebra']})
          .tablesorterPager({container: $("#pager"), size: 100});
    });

      function toggle(source) {
        checkboxes = document.getElementsByName('chkbox');
          for(var i=0, n=checkboxes.length;i<n;i++) {
              checkboxes[i].checked = source.checked;
          }
      }

      function list(source) {
        checkboxes = document.getElementsByName('chkbox');
          for(var i=0, n=checkboxes.length;i<n;i++) {
              // checkboxes[i].checked = source.checked;
              console.log('Checked ' + source.checked);
          }
      };

      function remove_rows() {
        $("#table tr:has(td > input[type=checkbox]:checked)").remove();
      };

      $('#delete-button').click(function(){
        checkboxes = document.getElementsByName('chkbox');
        checked_list = []
        for(var i=0, n=checkboxes.length;i<n;i++) {
          if (checkboxes[i].checked) {
            checked_list.push(parseInt(checkboxes[i].value))
          }
        }
        //console.log(checked_list);

        $.ajax({
          type: 'DELETE',
          url: 'http://localhost:8002/api/v1/{{model_name}}/?id__in=' + checked_list.join(','), //  + '/',
          //url: 'http://localhost:8002/api/v1/{{model_name}}/delete,
          success: remove_rows(),
          accepts: "application/json",
          //crossDomain: "True",
          dataType: "jsonp",
        })
      });

  </script>
{% endblock %}


{% block page_content %}
<div class="container-fluid">
    <!-- Breadcrumbs -->
    {% if breadcrumb_trail %}
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb breadcrumb-arrow">
                {{ breadcrumb_trail|safe }}
            </ol>
        </div>
    </div>
    {% endif %}
</div>
{% block extra_page_content %}{% endblock %}
{% endblock %}
