{% extends 'admin/base.html' %}

{% load admin_urls %}

{% load staticfiles %}

{% block extra_style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h2>About the Bushfire Reporting System</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <p>
                ...
            </p>

        </div>
        {% comment %}
        <div class="col-xs-2">
            <img src="{% static 'img/frog-small.jpg' %}"  class="img-responsive">
        </div>
        {% endcomment %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Acknowledgements</h2>

            <p>
                ....
            </p>
        </div>
    </div>

    <input type="button" onclick="location.href='javascript:history.back()';" value="Return" style="float: right;"/>
{% endblock %}

