<p>Note: at least one TENURE formset is REQUIRED</p>

<h3>Areas Burnt</h3>
<div id="id_areas_burnt" class="row formset area-burnt-formset">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <th>Tenure</th>
            <th>Fuel Type</th>
            <th>Area (ha)</th>
            <th>Point of Origin</th>
            <th></th>
            {% for form in area_burnt_formset.forms %}
            <tr>
               <td>{{ form.tenure }}</td>
               <td>{{ form.fuel_type }}</td>
               <td>{{ form.area }}</td>
               <td>{{ form.origin }}</td>

               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ area_burnt_formset.management_form }}
</div>

<hr>
<h3>Ground Forces at Fire</h3>
<div id="id_groundforces" class="row formset groundforces-formset">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <th>Agency Name</th>
            <th>Persons</th>
            <th>Pumpers</th>
            <th>Plant</th>
            <th></th>
            {% for form in groundforces_formset.forms %}
            <tr>
               <td>{{ form.name }}</td>
               <td>{{ form.persons }}</td>
               <td>{{ form.pumpers }}</td>
               <td>{{ form.plant }}</td>

               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ groundforces_formset.management_form }}
</div>

<hr>
<h3>Aerial Forces at Fire</h3>
<div id="id_aerialforces" class="row formset aerialforces-formset">
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <th>Agency Name</th>
            <th>Observer</th>
            <th>Transporter</th>
            <th>Ignition</th>
            <th>Water Bomber</th>
            <th></th>
            {% for form in aerialforces_formset.forms %}
            <tr>
               <td>{{ form.name }}</td>
               <td>{{ form.observer }}</td>
               <td>{{ form.transporter }}</td>
               <td>{{ form.ignition }}</td>
               <td>{{ form.water_bomber }}</td>

               <td>
                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                    {{ form.id }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ aerialforces_formset.management_form }}
</div>


<script>
    $('.area-burnt-formset tbody tr').formset({
        prefix: '{{ area_burnt_formset.prefix }}',
        formCssClass: 'area_burnt_fs',
        addText: '<i class="icon-plus"></i> add another area burnt',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ area_burnt_formset.prefix  }}',
    });

    $('.groundforces-formset tbody tr').formset({
        prefix: '{{ groundforces_formset.prefix }}',
        formCssClass: 'groundforces_fs',
        addText: '<i class="icon-plus"></i> add another ground force',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ groundforces_formset.prefix  }}',
    });

    $('.aerialforces-formset tbody tr').formset({
        prefix: '{{ aerialforces_formset.prefix }}',
        formCssClass: 'aerialforces_fs',
        addText: '<i class="icon-plus"></i> add another aerial force',
        deleteText: '<i class="icon-remove"></i>',
        deleteCssClass: 'delete-row' + '-' + '{{ aerialforces_formset.prefix  }}',
    });

</script>



