{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}
  {{ block.super }}
  <style>
  .filter-pad {
    margin-top: 5px;
    margin-bottom: -17px !important;
    margin-left: 10px;
  }
  .adjust-legend{
    margin-bottom:-40px;
  }

  .ui-datepicker {
      width: 216px;
      height: auto;
      margin: 5px auto 0;
      font: 9pt Arial, sans-serif;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      background-color: #FFF;
  }

  .myCollapse {
        display: none;
  }
  .myCollapse.in {
        display: table-row;
  }

  #content {
      float:left;
      text-align:left;
      width:90%;
  }

  </style>
  {% endblock %}

  {% block extrastyle %}

  <link rel="stylesheet" href="{% static "css/jquery-ui-1.11.4.min.css" %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>i
  <script src="{% static 'js/jquery.formset.js' %}"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script>
    $(function(){
        if ($('#id_fire_not_found').is(':checked')) {
            $('#id_latlong').hide();
            $('#id_mga_zone').hide();
            $('#id_fd_grid').hide();
        } else {
            if (coord_type.indexOf('---') > -1) {
                $('#id_latlong').hide();
                $('#id_mga_zone').hide();
                $('#id_fd_grid').hide();
            } else if (coord_type=='Lat/Long') {
                $('#id_latlong').show();
                $('#id_mga_zone').hide();
                $('#id_fd_grid').hide();
            } else if (coord_type=='MGA') {
                $('#id_mga_zone').show();
                $('#id_latlong').hide();
                $('#id_fd_grid').hide();
            } else if (coord_type=='FD Grid') {
                $('#id_fd_grid').show();
                $('#id_latlong').hide();
                $('#id_mga_zone').hide();
            }
        }

    });
  </script>

  {% endblock %}


{% block content %}

{% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for field in form %} 
            {% if field.errors %}
            <font color="red"><li>{{ field.label }}: {{ field.errors|striptags }}</li></font>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


  <h1>Bushfire Detail</h1>

    {% comment %}
    {% include "bushfire/main.html" %}
    {% endcomment %}
    <form action="" method="post">{% csrf_token %}

    {% crispy form %}

    <div id="id_activities" class="row activity-formset" style="text-indent: -1em; padding-left: 1em;">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <th></th>
                <th>Activity</th>
                <th>Date</th>
                {% for form in activity_formset.forms %}
                <tr>
                <td>
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.id }}
                    </td>
                <td>{{ form.activity }}</td>
                <td>{{ form.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ activity_formset.management_form }}
    </div>

    <div id="comment" class="tab-pane fade active">
    <div id="id_comment" class="row comment-formset">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <th></th>
                <th>Comment</th>
                {% for form in comment_formset %}
                <tr>
                <td>
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.id }}
                    </td>
                <td>{{ form.comment }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ comment_formset.management_form }}
    </div>
    </div>


    <input type="submit" value="Save Form" />
  </form>

    {% comment %}
    {{ activity_formset.management_form|crispy  }}
    {% for activity_form in activity_formset %}
        {% crispy activity_form %}
    {% endfor %}
    {% endcomment %}


  {% comment %}
  <ul id="report-tabs" class="nav nav-tabs">
      <li id="origin-tab"  class="active">
          <a data-toggle="tab" href="#origin">
              <i class="icon-tag"></i>
              Point of Origin
          </a>
      </li>
      <li id="initial-tab">
          <a data-toggle="tab" href="#initial">
              <i class="icon-tag"></i>
              Detail
          </a>
      </li>
      <li id="effect-tab">
          <a data-toggle="tab" href="#effect">
              <i class="icon-tag"></i>
              Effects/Agencies
          </a>
      </li>

      <li id="area-burnt-tab">
          <a data-toggle="tab" href="#area-burnt">
              <i class="icon-tag"></i>
              Areas Burnt/Forces
          </a>
      </li>

      <li id="attending-org-tab">
          <a data-toggle="tab" href="#attending_org">
              <i class="icon-tag"></i>
              Attendance/Behaviour
          </a>
      </li>

      <li id="damages-tab">
          <a data-toggle="tab" href="#damages">
              <i class="icon-tag"></i>
              Damages/Legal
          </a>
      </li>

      <li id="comment-tab">
          <a data-toggle="tab" href="#comment">
              <i class="icon-tag"></i>
              Comment
          </a>
      </li>

  </ul>

  <div class="tab-content">
    <div id="origin" class="tab-pane fade in active">
        {% include "bushfire/origin.html" %}
    </div>

    <div id="initial" class="tab-pane fade active">
        {% include "bushfire/initial.html" %}
    </div>

    <div id="effect" class="tab-pane fade active">
        {% include "bushfire/effects.html" %}
    </div>

    <div id="area-burnt" class="tab-pane fade active">
        {% include "bushfire/area-burnt.html" %}
    </div>

    <div id="attending_org" class="tab-pane fade active">
        {% include "bushfire/attending_org.html" %}
    </div>

    <div id="damages" class="tab-pane fade active">
        {% include "bushfire/damages.html" %}
    </div>

    <div id="comment" class="tab-pane fade active">
        {% include "bushfire/comment.html" %}
    </div>

  </div>

    <input type="submit" value="Save" />
  </form>
  {% endcomment %}


<script>
    $('.activity-formset tbody tr').formset({
    //$('.activity-formset').formset({
        prefix: '{{ activity_formset.prefix }}',
        formCssClass: 'activity_fs',
        addText: '<i class="icon-plus"></i> add another activity',
        deleteText: '<i class="icon-remove"></i>'
    });

    $('.comment-formset tbody tr').formset({
        prefix: '{{ comment_formset.prefix }}',
        formCssClass: 'comment_fs',
        addText: '<i class="icon-plus"></i> add another comment',
        deleteText: '<i class="icon-remove"></i>',
    });


$('#id_fire_not_found').click(function() {
    if ($(this).is(':checked')) {
        $('#id_latlong').hide();
        $('#id_mga_zone').hide();
        $('#id_fd_grid').hide();
    } else {
        var coord_type = $('#id_coord_type :selected').text();
        console.log('Co Ord Type' + coord_type);
        if (coord_type.indexOf('---') > -1) {
            $('#id_latlong').hide();
            $('#id_mga_zone').hide();
            $('#id_fd_grid').hide();
        } else if (coord_type=='Lat/Long') {
            $('#id_latlong').show();
            $('#id_mga_zone').hide();
            $('#id_fd_grid').hide();
        } else if (coord_type=='MGA') {
            $('#id_mga_zone').show();
            $('#id_latlong').hide();
            $('#id_fd_grid').hide();
        } else if (coord_type=='FD Grid') {
            $('#id_fd_grid').show();
            $('#id_latlong').hide();
            $('#id_mga_zone').hide();
        }
    }
});

$('#id_coord_type').on('change', function() {
    var coord_type = $('#id_coord_type :selected').text();
    console.log('Co Ord Type' + coord_type);
    if (coord_type.indexOf('---') > -1) {
        $('#id_latlong').hide();
        $('#id_mga_zone').hide();
        $('#id_fd_grid').hide();
    } else if (coord_type=='Lat/Long') {
        $('#id_latlong').show();
        $('#id_mga_zone').hide();
        $('#id_fd_grid').hide();
    } else if (coord_type=='MGA') {
        $('#id_mga_zone').show();
        $('#id_latlong').hide();
        $('#id_fd_grid').hide();
    } else if (coord_type=='FD Grid') {
        $('#id_fd_grid').show();
        $('#id_latlong').hide();
        $('#id_mga_zone').hide();
    }
});


</script>
{% endblock %}
