<h3>Operational</h3>
<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_fuel" class="form-group"> 
            <label for="id_fuel" class="control-label nonRequiredField">Fuel</label>
            <div class="controls ">{{form.fuel}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_ros" class="form-group"> 
            <label for="id_ros" class="control-label nonRequiredField">ROS</label>
            <div class="controls ">{{form.ros}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_flame_height" class="form-group"> 
            <label for="id_flame_height" class="control-label nonRequiredField">Flame Height</label>
            <div class="controls ">{{form.flame_height}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_assist_req" class="form-group"> 
            <label for="id_assist_req" class="control-label nonRequiredField">Assistance Required</label>
            <div class="controls ">{{form.assistance_required}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_fire_contained" class="form-group"> 
            <label for="id_fire_contained" class="control-label nonRequiredField">Fire Contained</label>
            <div class="controls ">{{form.fire_contained}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2" > 
        <div id="div_id_containment_time" class="form-group"> 
            <label for="id_containment_time" class="control-label nonRequiredField">Containment Time</label>
            <div class="controls ">{{form.containment_time}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_ops_point" class="form-group"> 
            <label for="id_ops_point" class="control-label nonRequiredField">OPS Point (grid ref)</label>
            <div class="controls ">{{form.ops_point}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_communications" class="form-group"> 
            <label for="id_communications" class="control-label nonRequiredField">Communication</label>
            <div class="controls ">{{form.communications}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_weather" class="form-group"> 
            <label for="id_weather" class="control-label nonRequiredField">Weather</label>
            <div class="controls ">{{form.weather}}</div>
        </div>
    </div>

    <div class="col-sm-2" > 
        <div id="div_id_field_officer" class="form-group"> 
            <label for="id_field_officer" class="control-label requiredField">Field Officer*</label>
            <div class="controls ">{{form.field_officer}}</div>
        </div>
    </div>
</div>

