{% load email_tags %}

<html>
    <head>
    </head>
    <body>

    {% if send_failed %}
        <div style="font-weight:bold;color:red">
            Failed to send the email
        </div>
        <br>
        <br>
        <p style="white-space:pre;width:100%">
        ---------- Forwarded message ----------
        From:{{original_from_email}}
        To:{{original_to_email}}
        Cc:{{original_cc_email}}
        Bcc:{{original_bcc_email}}
        Date:{{send_date}}
        Subject:{{original_subject}}
        </p>
        <br>
    {% endif %}

    {% block email_head %}
    {% endblock %}

    {% block bushfire_head %}
        <div>Initial Bushfire has been submitted and is located at {% field_value "url_link" bushfire request "initial_snapshot" %} </div><br>
    {% endblock %}

    {% block bushfire_detail %}
        {% bushfire_details bushfire 'fire_number' 'report_status' 'region' 'district' 'year' 'name' 'fire_detected_date' 'dfes_incident_no' 'fire_position' 'origin_point_geo' 'origin_point_mga' 'tenure' 'duty_officer' 'dispatch_pw' 'dispatch_pw_date' 'dispatch_aerial' 'dispatch_aerial_date' 'initial_control' 'initial_area' 'prob_fire_level' 'investigation_req' 'media_alert_req' 'fire_bombing_req' 'park_trail_impacted' 'other_info'  %}
        {% if related_bushfires %}
            {% if title_4_related_bushfires %}
            <br>
            <br>
            <div >{{ title_4_related_bushfires }} </div>
            {% endif %}
            {% for bf in related_bushfires %}
                <br>
                <br>
                {% bushfire_details bf 'fire_number' 'report_status' 'region' 'district' 'year' 'name' 'fire_detected_date' 'dfes_incident_no' 'fire_position' 'origin_point_geo' 'origin_point_mga' 'tenure' 'duty_officer' 'dispatch_pw' 'dispatch_pw_date' 'dispatch_aerial' 'dispatch_aerial_date' 'initial_control' 'initial_area' 'prob_fire_level' 'investigation_req' 'media_alert_req' 'fire_bombing_req' 'park_trail_impacted' 'other_info'  %}
            {% endfor %}
        {% endif  %}
    {% endblock %}

    {% block other_bushfire_detail %}
    {% endblock %}

    {% block bushfire_footer %}
    {% if bushfire.report_status >= bushfire.STATUS_INITIAL_AUTHORISED  and not bushfire.dfes_incident_no %}
        <br>
        <div>DFES incident number not available, please check the bushfire reporting system for updates to the DFES incident number {% field_value "fire_number" bushfire request "final" %} </div>   
    {% endif %}
    {% endblock %}

    {% block email_footer %}
        <br>
        <br>
        <font face="Calibri" color="gray">The information contained in this email was the best available at the time. For updated information please contact the relevant Duty Officer</font>
    {% endblock %}
    </body>
</html>
